<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics

In [2]:
data = pd.DataFrame({"zt1" : normal(0, 1, 3000),
                     "zt2" : normal(0, 1, 3000),
                     "zt3" : normal(0, 1, 3000)})
data

           zt1       zt2       zt3
0     0.256990  0.272513  1.213669
1     1.340602 -0.710923 -1.005844
2     0.720930  0.600316  1.573647
3    -0.547737  1.054290 -1.115984
4     1.271528 -0.879396  1.174753
...        ...       ...       ...
2995 -0.631709 -0.077439  1.358460
2996  0.017545 -0.798565 -1.249901
2997  1.931284 -1.774953  0.111212
2998  0.157436 -1.713059  1.095505
2999  0.018562  1.187993 -1.205637

[3000 rows x 3 columns]

In [3]:
p = 0

In [4]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [5]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [6]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 3000)})
new_data

           Xt1       Xt2       Xt3         e
0     0.256990  0.272513  1.213669 -0.003291
1     1.340602 -0.710923 -1.005844  0.277638
2     0.720930  0.600316  1.573647 -0.181165
3    -0.547737  1.054290 -1.115984 -1.327789
4     1.271528 -0.879396  1.174753  0.324739
...        ...       ...       ...       ...
2995 -0.631709 -0.077439  1.358460  0.000041
2996  0.017545 -0.798565 -1.249901  0.145647
2997  1.931284 -1.774953  0.111212  4.072751
2998  0.157436 -1.713059  1.095505 -0.942884
2999  0.018562  1.187993 -1.205637 -1.271729

[3000 rows x 4 columns]

In [7]:
table_data = pd.DataFrame({'Xt1' : data['zt1'],
                           'Xt2' : data['zt2'],
                           'Xt3' : data['zt3'],
                           'e'   : new_data['e']})
table_data['Y'] = 4 + 0.4*table_data['Xt1'] + 1.5*table_data['Xt2'] + 3.6*table_data['Xt3'] + table_data['e']
table_data

           Xt1       Xt2       Xt3         e          Y
0     0.256990  0.272513  1.213669 -0.003291   8.877484
1     1.340602 -0.710923 -1.005844  0.277638   0.126455
2     0.720930  0.600316  1.573647 -0.181165  10.672812
3    -0.547737  1.054290 -1.115984 -1.327789   0.017011
4     1.271528 -0.879396  1.174753  0.324739   7.743364
...        ...       ...       ...       ...        ...
2995 -0.631709 -0.077439  1.358460  0.000041   8.521653
2996  0.017545 -0.798565 -1.249901  0.145647  -1.544825
2997  1.931284 -1.774953  0.111212  4.072751   6.583198
2998  0.157436 -1.713059  1.095505 -0.942884   4.494321
2999  0.018562  1.187993 -1.205637 -1.271729   0.177392

[3000 rows x 5 columns]

In [8]:
new_data.mean()

Xt1   -0.008234
Xt2   -0.013976
Xt3    0.008791
e      0.095292
dtype: float64

In [9]:
new_data.var()

Xt1      1.012745
Xt2      1.013779
Xt3      1.018372
e      127.065325
dtype: float64

In [10]:
# Compute pairwise correlation of columns, excluding NA/null values.

data.corr()

          zt1       zt2       zt3
zt1  1.000000  0.007216  0.022636
zt2  0.007216  1.000000  0.001025
zt3  0.022636  0.001025  1.000000