<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics

In [3]:
data = pd.DataFrame({"zt1" : normal(0, 1, 3000),
                     "zt2" : normal(0, 1, 3000),
                     "zt3" : normal(0, 1, 3000)})
data

           zt1       zt2       zt3
0     0.755341  0.301218 -0.937971
1     0.143752 -0.861772 -1.542539
2    -0.569876 -0.812114 -1.124769
3     0.006066 -0.297299 -0.148308
4    -0.473473 -0.026203  0.466757
...        ...       ...       ...
2995  0.840966 -0.003035 -1.242215
2996  1.241764 -0.576958  1.445442
2997 -1.058109 -0.571064  0.211047
2998 -0.013071 -0.561579  0.171033
2999 -1.058767 -0.178490  0.907317

[3000 rows x 3 columns]

In [4]:
p = 0

In [5]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [6]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [7]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 3000)})
new_data

           Xt1       Xt2       Xt3             e
0     0.755341  0.301218 -0.937971 -9.568571e-03
1     0.143752 -0.861772 -1.542539 -4.276801e-01
2    -0.569876 -0.812114 -1.124769  8.615647e-01
3     0.006066 -0.297299 -0.148308  8.256487e-04
4    -0.473473 -0.026203  0.466757  8.601476e-07
...        ...       ...       ...           ...
2995  0.840966 -0.003035 -1.242215  1.484567e-10
2996  1.241764 -0.576958  1.445442 -3.989539e-02
2997 -1.058109 -0.571064  0.211047  7.656499e-02
2998 -0.013071 -0.561579  0.171033 -2.622112e-02
2999 -1.058767 -0.178490  0.907317  4.637474e-04

[3000 rows x 4 columns]

In [8]:
table_data = pd.DataFrame({'Xt1' : data['zt1'],
                           'Xt2' : data['zt2'],
                           'Xt3' : data['zt3'],
                           'e'   : new_data['e']})
table_data['Y'] = 4 + 0.4*table_data['Xt1'] + 1.5*table_data['Xt2'] + 3.6*table_data['Xt3'] + table_data['e']
table_data

           Xt1       Xt2       Xt3             e         Y
0     0.755341  0.301218 -0.937971 -9.568571e-03  1.367698
1     0.143752 -0.861772 -1.542539 -4.276801e-01 -3.215977
2    -0.569876 -0.812114 -1.124769  8.615647e-01 -0.633723
3     0.006066 -0.297299 -0.148308  8.256487e-04  3.023397
4    -0.473473 -0.026203  0.466757  8.601476e-07  5.451632
...        ...       ...       ...           ...       ...
2995  0.840966 -0.003035 -1.242215  1.484567e-10 -0.140140
2996  1.241764 -0.576958  1.445442 -3.989539e-02  8.794963
2997 -1.058109 -0.571064  0.211047  7.656499e-02  3.556496
2998 -0.013071 -0.561579  0.171033 -2.622112e-02  3.741900
2999 -1.058767 -0.178490  0.907317  4.637474e-04  6.575562

[3000 rows x 5 columns]

In [9]:
new_data.mean()

Xt1   -0.000733
Xt2    0.032915
Xt3    0.013139
e      0.228092
dtype: float64

In [10]:
new_data.var()

Xt1      1.028119
Xt2      0.942867
Xt3      1.012341
e      116.300103
dtype: float64

In [11]:
# Compute pairwise correlation of columns, excluding NA/null values.
data.corr()

          zt1       zt2       zt3
zt1  1.000000  0.017861  0.021056
zt2  0.017861  1.000000  0.014896
zt3  0.021056  0.014896  1.000000

In [27]:
from google.colab import  drive
from google.colab import files

In [28]:
table_data.to_csv('generate_datanew.csv')
files.download('generate_datanew.csv')