<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n20_x4_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n20_x4_sas.csv')
df

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  42.830155  ... -2.139601e+06  13708.887486 -2.153310e+06
1        0.0    1.0  30.006571  ... -4.277820e+05  13939.417267 -4.417214e+05
2        0.0    2.0  37.302543  ...  3.242118e+06   -442.104981  3.242560e+06
3        0.0    3.0  11.805456  ... -1.705494e+04 -41271.740263  2.421680e+04
4        0.0    4.0  47.691249  ...  3.158567e+06   8917.328835  3.149649e+06
...      ...    ...        ...  ...           ...           ...           ...
19995  999.0   15.0  44.060313  ...  9.828159e+06  35392.271144  9.792767e+06
19996  999.0   16.0  27.144674  ...  1.156916e+05  22591.789822  9.309978e+04
19997  999.0   17.0  26.622181  ...  5.808607e+05  28997.628808  5.518630e+05
19998  999.0   18.0  47.264025  ... -6.144067e+06  66556.605959 -6.210624e+06
19999  999.0   19.0  47.181299  ...  4.037488e+06  54110.082604  3.983378e+06

[20000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n20_x4_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    42.830155  38.212730  ...  13708.887486 -2.153310e+06
      1.0    30.006571  29.764006  ...  13939.417267 -4.417214e+05
      2.0    37.302543  42.445116  ...   -442.104981  3.242560e+06
      3.0    11.805456  48.527523  ... -41271.740263  2.421680e+04
      4.0    47.691249  43.989193  ...   8917.328835  3.149649e+06
...                ...        ...  ...           ...           ...
999.0 15.0   44.060313  27.011670  ...  35392.271144  9.792767e+06
      16.0   27.144674  23.135028  ...  22591.789822  9.309978e+04
      17.0   26.622181  19.249270  ...  28997.628808  5.518630e+05
      18.0   47.264025  11.832082  ...  66556.605959 -6.210624e+06
      19.0   47.181299  18.653665  ...  54110.082604  3.983378e+06

[20000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    42.830155  38.212730  ...  13708.887486 -2.153310e+06
      1.0    30.006571  29.764006  ...  13939.417267 -4.417214e+05
      2.0    37.302543  42.445116  ...   -442.104981  3.242560e+06
      3.0    11.805456  48.527523  ... -41271.740263  2.421680e+04
      4.0    47.691249  43.989193  ...   8917.328835  3.149649e+06
...                ...        ...  ...           ...           ...
999.0 15.0   44.060313  27.011670  ...  35392.271144  9.792767e+06
      16.0   27.144674  23.135028  ...  22591.789822  9.309978e+04
      17.0   26.622181  19.249270  ...  28997.628808  5.518630e+05
      18.0   47.264025  11.832082  ...  66556.605959 -6.210624e+06
      19.0   47.181299  18.653665  ...  54110.082604  3.983378e+06

[20000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  42.830155  ... -2.139601e+06  13708.887486 -2.153310e+06
1        0.0    1.0  30.006571  ... -4.277820e+05  13939.417267 -4.417214e+05
2        0.0    2.0  37.302543  ...  3.242118e+06   -442.104981  3.242560e+06
3        0.0    3.0  11.805456  ... -1.705494e+04 -41271.740263  2.421680e+04
4        0.0    4.0  47.691249  ...  3.158567e+06   8917.328835  3.149649e+06
...      ...    ...        ...  ...           ...           ...           ...
19995  999.0   15.0  44.060313  ...  9.828159e+06  35392.271144  9.792767e+06
19996  999.0   16.0  27.144674  ...  1.156916e+05  22591.789822  9.309978e+04
19997  999.0   17.0  26.622181  ...  5.808607e+05  28997.628808  5.518630e+05
19998  999.0   18.0  47.264025  ... -6.144067e+06  66556.605959 -6.210624e+06
19999  999.0   19.0  47.181299  ...  4.037488e+06  54110.082604  3.983378e+06

[20000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    42.830155  38.212730  ...  13708.887486 -2.153310e+06
      1.0    30.006571  29.764006  ...  13939.417267 -4.417214e+05
      2.0    37.302543  42.445116  ...   -442.104981  3.242560e+06
      3.0    11.805456  48.527523  ... -41271.740263  2.421680e+04
      4.0    47.691249  43.989193  ...   8917.328835  3.149649e+06
...                ...        ...  ...           ...           ...
999.0 15.0   44.060313  27.011670  ...  35392.271144  9.792767e+06
      16.0   27.144674  23.135028  ...  22591.789822  9.309978e+04
      17.0   26.622181  19.249270  ...  28997.628808  5.518630e+05
      18.0   47.264025  11.832082  ...  66556.605959 -6.210624e+06
      19.0   47.181299  18.653665  ...  54110.082604  3.983378e+06

[20000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2+1
    df1 = DF1+1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        5.0  5.0  31316584563220.754   564370495812.1345   7829146140805.188  141092623953.03363   55.48940774828402   0.0004444510230230403  0.9997777744884885  Reject005=0 : Heteroscedasticity
1.0        5.0  5.0  154381856672216.53   331995817236.5641   38595464168054.13   82998954309.14102  465.01145091900815  2.3122677381692824e-06  0.9999988438661309  Reject005=0 : Heteroscedasticity
2.0        5.0  5.0  27348860513833.043   5103280780560.686   6837215128458.261  1275820195140.1714   5.359074228878367     0.08915700903406543  0.9554214954829673    Reject005=1 : Homoscedasticity
3.0        5.0  5.0  15438367637704.107    76002692332.0979   3859591909426.027  19000673083.024475  203.12922034715982  1.8154427316785515e-05  0.9999909227863416  Reject005=0 : Heteroscedasticity
4.0        5.0  5.0    5932706351164.13  138904624969.13733  1483176587791.0325   34726156242.28433  42.710646621610294   0.0008391342487588105  0.9995804328756206  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      5.0  5.0   62040899251606.55  15049205644.874846  15510224812901.637  3762301411.2187114   4122.536479042346   9.948128321113359e-09  0.9999999950259358  Reject005=0 : Heteroscedasticity
996.0      5.0  5.0   34321899062967.58   325415207720.3976   8580474765741.895    81353801930.0994  105.47109738171042   9.195282837493046e-05  0.9999540235858125  Reject005=0 : Heteroscedasticity
997.0      5.0  5.0  43563086201203.445  33082077611.244648  10890771550300.861   8270519402.811162  1316.8183302488924  1.7220144132856774e-07  0.9999999138992793  Reject005=0 : Heteroscedasticity
998.0      5.0  5.0  34174821087401.125  1242193161157.2673   8543705271850.281  310548290289.31683  27.511680273269864    0.002409646122171427  0.9987951769389143  Reject005=0 : Heteroscedasticity
999.0      5.0  5.0   66173947498677.67   205174139792.9438  16543486874669.418   51293534948.23595  322.52577037953535   5.751973093603979e-06  0.9999971240134532  Reject005=0 : Heteroscedasticity

[998 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        5.0  5.0  31316584563220.754   564370495812.1345   7829146140805.188  141092623953.03363   55.48940774828402   0.0004444510230230403  Reject005=0 : Heteroscedasticity
1.0        5.0  5.0  154381856672216.53   331995817236.5641   38595464168054.13   82998954309.14102  465.01145091900815  2.3122677381692824e-06  Reject005=0 : Heteroscedasticity
2.0        5.0  5.0  27348860513833.043   5103280780560.686   6837215128458.261  1275820195140.1714   5.359074228878367     0.08915700903406543    Reject005=1 : Homoscedasticity
3.0        5.0  5.0  15438367637704.107    76002692332.0979   3859591909426.027  19000673083.024475  203.12922034715982  1.8154427316785515e-05  Reject005=0 : Heteroscedasticity
4.0        5.0  5.0    5932706351164.13  138904624969.13733  1483176587791.0325   34726156242.28433  42.710646621610294   0.0008391342487588105  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      5.0  5.0   62040899251606.55  15049205644.874846  15510224812901.637  3762301411.2187114   4122.536479042346   9.948128321113359e-09  Reject005=0 : Heteroscedasticity
996.0      5.0  5.0   34321899062967.58   325415207720.3976   8580474765741.895    81353801930.0994  105.47109738171042   9.195282837493046e-05  Reject005=0 : Heteroscedasticity
997.0      5.0  5.0  43563086201203.445  33082077611.244648  10890771550300.861   8270519402.811162  1316.8183302488924  1.7220144132856774e-07  Reject005=0 : Heteroscedasticity
998.0      5.0  5.0  34174821087401.125  1242193161157.2673   8543705271850.281  310548290289.31683  27.511680273269864    0.002409646122171427  Reject005=0 : Heteroscedasticity
999.0      5.0  5.0   66173947498677.67   205174139792.9438  16543486874669.418   51293534948.23595  322.52577037953535   5.751973093603979e-06  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    986
Reject005=1 : Homoscedasticity       14
Name: Result_test, dtype: int64