<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n30_x4_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n30_x4_sas.csv')
df

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  44.119476  ... -5.475034e+06 -11167.803984 -5.463866e+06
1        0.0    1.0  24.587075  ... -5.384646e+05  -2650.773987 -5.358138e+05
2        0.0    2.0  33.144946  ... -2.517231e+06 -11874.790962 -2.505356e+06
3        0.0    3.0  42.618377  ... -4.734404e+06  18965.253271 -4.753369e+06
4        0.0    4.0  48.161847  ...  2.573819e+06  -3870.899363  2.577689e+06
...      ...    ...        ...  ...           ...           ...           ...
29995  999.0   25.0  30.905022  ... -8.063232e+05  20654.215078 -8.269774e+05
29996  999.0   26.0  26.538237  ...  4.033617e+05  24009.488106  3.793522e+05
29997  999.0   27.0  17.923933  ... -9.998016e+04  -8387.248911 -9.159291e+04
29998  999.0   28.0  32.630332  ...  1.323634e+05 -25550.710020  1.579141e+05
29999  999.0   29.0  12.188519  ...  4.448041e+04   6193.686670  3.828672e+04

[30000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n30_x4_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    44.119476  46.126732  ... -11167.803984 -5.463866e+06
      1.0    24.587075  34.682826  ...  -2650.773987 -5.358138e+05
      2.0    33.144946  48.714841  ... -11874.790962 -2.505356e+06
      3.0    42.618377  37.883982  ...  18965.253271 -4.753369e+06
      4.0    48.161847  48.492968  ...  -3870.899363  2.577689e+06
...                ...        ...  ...           ...           ...
999.0 25.0   30.905022  39.363861  ...  20654.215078 -8.269774e+05
      26.0   26.538237  13.278744  ...  24009.488106  3.793522e+05
      27.0   17.923933  20.276218  ...  -8387.248911 -9.159291e+04
      28.0   32.630332  48.709353  ... -25550.710020  1.579141e+05
      29.0   12.188519  30.109073  ...   6193.686670  3.828672e+04

[30000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    44.119476  46.126732  ... -11167.803984 -5.463866e+06
      1.0    24.587075  34.682826  ...  -2650.773987 -5.358138e+05
      2.0    33.144946  48.714841  ... -11874.790962 -2.505356e+06
      3.0    42.618377  37.883982  ...  18965.253271 -4.753369e+06
      4.0    48.161847  48.492968  ...  -3870.899363  2.577689e+06
...                ...        ...  ...           ...           ...
999.0 25.0   30.905022  39.363861  ...  20654.215078 -8.269774e+05
      26.0   26.538237  13.278744  ...  24009.488106  3.793522e+05
      27.0   17.923933  20.276218  ...  -8387.248911 -9.159291e+04
      28.0   32.630332  48.709353  ... -25550.710020  1.579141e+05
      29.0   12.188519  30.109073  ...   6193.686670  3.828672e+04

[30000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  44.119476  ... -5.475034e+06 -11167.803984 -5.463866e+06
1        0.0    1.0  24.587075  ... -5.384646e+05  -2650.773987 -5.358138e+05
2        0.0    2.0  33.144946  ... -2.517231e+06 -11874.790962 -2.505356e+06
3        0.0    3.0  42.618377  ... -4.734404e+06  18965.253271 -4.753369e+06
4        0.0    4.0  48.161847  ...  2.573819e+06  -3870.899363  2.577689e+06
...      ...    ...        ...  ...           ...           ...           ...
29995  999.0   25.0  30.905022  ... -8.063232e+05  20654.215078 -8.269774e+05
29996  999.0   26.0  26.538237  ...  4.033617e+05  24009.488106  3.793522e+05
29997  999.0   27.0  17.923933  ... -9.998016e+04  -8387.248911 -9.159291e+04
29998  999.0   28.0  32.630332  ...  1.323634e+05 -25550.710020  1.579141e+05
29999  999.0   29.0  12.188519  ...  4.448041e+04   6193.686670  3.828672e+04

[30000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    44.119476  46.126732  ... -11167.803984 -5.463866e+06
      1.0    24.587075  34.682826  ...  -2650.773987 -5.358138e+05
      2.0    33.144946  48.714841  ... -11874.790962 -2.505356e+06
      3.0    42.618377  37.883982  ...  18965.253271 -4.753369e+06
      4.0    48.161847  48.492968  ...  -3870.899363  2.577689e+06
...                ...        ...  ...           ...           ...
999.0 25.0   30.905022  39.363861  ...  20654.215078 -8.269774e+05
      26.0   26.538237  13.278744  ...  24009.488106  3.793522e+05
      27.0   17.923933  20.276218  ...  -8387.248911 -9.159291e+04
      28.0   32.630332  48.709353  ... -25550.710020  1.579141e+05
      29.0   12.188519  30.109073  ...   6193.686670  3.828672e+04

[30000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        8.0  8.0   70779224539062.11  446631737994.60956   8847403067382.764  55828967249.326195   158.4733428413821  1.0660919125271562e-07  0.9999999466954044  Reject005=0 : Heteroscedasticity
1.0        8.0  8.0   47021553771333.75   25749990639.62493   5877694221416.719  3218748829.9531164  1826.0804219080158  6.2732041783419845e-12  0.9999999999968634  Reject005=0 : Heteroscedasticity
2.0        8.0  8.0  221619938816491.97   76059953978.72281  27702492352061.496   9507494247.340351  2913.7532594154404   9.690026558928366e-13  0.9999999999995155  Reject005=0 : Heteroscedasticity
3.0        8.0  8.0   42227078555323.69  228142469751.95486   5278384819415.461  28517808718.994358   185.0908276798904   5.762169696943431e-08  0.9999999711891515  Reject005=0 : Heteroscedasticity
4.0        8.0  8.0  316696349207774.25  296406785566.70703   39587043650971.78   37050848195.83838  1068.4517515423108  5.3392179566458253e-11  0.9999999999733039  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      8.0  8.0   94885575612514.06  1558325471295.8877  11860696951564.258  194790683911.98596   60.88944662735197  4.5887007364964205e-06  0.9999977056496318  Reject005=0 : Heteroscedasticity
996.0      8.0  8.0  204054594601522.47   481552184969.4737   25506824325190.31   60194023121.18421   423.7434715709114  2.1386272752721425e-09  0.9999999989306864  Reject005=0 : Heteroscedasticity
997.0      8.0  8.0   140945901154755.7   669969561273.2604   17618237644344.46   83746195159.15755  210.37657425345046   3.466817721786697e-08  0.9999999826659114  Reject005=0 : Heteroscedasticity
998.0      8.0  8.0   149696908870190.6   73396144320.03702  18712113608773.824   9174518040.004627  2039.5745615389717  4.0325520700434936e-12  0.9999999999979837  Reject005=0 : Heteroscedasticity
999.0      8.0  8.0  161774697457395.72  526213835865.67395  20221837182174.465   65776729483.20924   307.4314782910645   7.675025948117309e-09   0.999999996162487  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        8.0  8.0   70779224539062.11  446631737994.60956   8847403067382.764  55828967249.326195   158.4733428413821  1.0660919125271562e-07  Reject005=0 : Heteroscedasticity
1.0        8.0  8.0   47021553771333.75   25749990639.62493   5877694221416.719  3218748829.9531164  1826.0804219080158  6.2732041783419845e-12  Reject005=0 : Heteroscedasticity
2.0        8.0  8.0  221619938816491.97   76059953978.72281  27702492352061.496   9507494247.340351  2913.7532594154404   9.690026558928366e-13  Reject005=0 : Heteroscedasticity
3.0        8.0  8.0   42227078555323.69  228142469751.95486   5278384819415.461  28517808718.994358   185.0908276798904   5.762169696943431e-08  Reject005=0 : Heteroscedasticity
4.0        8.0  8.0  316696349207774.25  296406785566.70703   39587043650971.78   37050848195.83838  1068.4517515423108  5.3392179566458253e-11  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      8.0  8.0   94885575612514.06  1558325471295.8877  11860696951564.258  194790683911.98596   60.88944662735197  4.5887007364964205e-06  Reject005=0 : Heteroscedasticity
996.0      8.0  8.0  204054594601522.47   481552184969.4737   25506824325190.31   60194023121.18421   423.7434715709114  2.1386272752721425e-09  Reject005=0 : Heteroscedasticity
997.0      8.0  8.0   140945901154755.7   669969561273.2604   17618237644344.46   83746195159.15755  210.37657425345046   3.466817721786697e-08  Reject005=0 : Heteroscedasticity
998.0      8.0  8.0   149696908870190.6   73396144320.03702  18712113608773.824   9174518040.004627  2039.5745615389717  4.0325520700434936e-12  Reject005=0 : Heteroscedasticity
999.0      8.0  8.0  161774697457395.72  526213835865.67395  20221837182174.465   65776729483.20924   307.4314782910645   7.675025948117309e-09  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64