<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x4_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x4_sas.csv')
df

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  31.052011  ... -1.149060e+06   3494.994376 -1.152555e+06
1        0.0    1.0  32.315462  ... -3.199977e+05  -7491.812982 -3.125059e+05
2        0.0    2.0  45.691103  ... -3.341639e+05   4322.802075 -3.384867e+05
3        0.0    3.0  11.920573  ...  1.569901e+03 -12147.110107  1.371701e+04
4        0.0    4.0  30.538560  ...  1.397413e+06  -5564.583147  1.402978e+06
...      ...    ...        ...  ...           ...           ...           ...
49995  999.0   45.0  24.020878  ... -3.619183e+05   6522.348124 -3.684407e+05
49996  999.0   46.0  29.077639  ... -6.817510e+05   6830.046516 -6.885810e+05
49997  999.0   47.0  44.416123  ... -8.061934e+06   3106.353805 -8.065040e+06
49998  999.0   48.0  25.526036  ... -7.031322e+05 -12438.919528 -6.906933e+05
49999  999.0   49.0  34.647657  ...  1.503364e+04  20165.526514 -5.131883e+03

[50000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x4_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    31.052011  32.586936  ...   3494.994376 -1.152555e+06
      1.0    32.315462  14.209684  ...  -7491.812982 -3.125059e+05
      2.0    45.691103  13.904355  ...   4322.802075 -3.384867e+05
      3.0    11.920573  18.295905  ... -12147.110107  1.371701e+04
      4.0    30.538560  23.699573  ...  -5564.583147  1.402978e+06
...                ...        ...  ...           ...           ...
999.0 45.0   24.020878  31.089231  ...   6522.348124 -3.684407e+05
      46.0   29.077639  30.356072  ...   6830.046516 -6.885810e+05
      47.0   44.416123  14.904737  ...   3106.353805 -8.065040e+06
      48.0   25.526036  22.409159  ... -12438.919528 -6.906933e+05
      49.0   34.647657  49.674005  ...  20165.526514 -5.131883e+03

[50000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    31.052011  32.586936  ...   3494.994376 -1.152555e+06
      1.0    32.315462  14.209684  ...  -7491.812982 -3.125059e+05
      2.0    45.691103  13.904355  ...   4322.802075 -3.384867e+05
      3.0    11.920573  18.295905  ... -12147.110107  1.371701e+04
      4.0    30.538560  23.699573  ...  -5564.583147  1.402978e+06
...                ...        ...  ...           ...           ...
999.0 45.0   24.020878  31.089231  ...   6522.348124 -3.684407e+05
      46.0   29.077639  30.356072  ...   6830.046516 -6.885810e+05
      47.0   44.416123  14.904737  ...   3106.353805 -8.065040e+06
      48.0   25.526036  22.409159  ... -12438.919528 -6.906933e+05
      49.0   34.647657  49.674005  ...  20165.526514 -5.131883e+03

[50000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  31.052011  ... -1.149060e+06   3494.994376 -1.152555e+06
1        0.0    1.0  32.315462  ... -3.199977e+05  -7491.812982 -3.125059e+05
2        0.0    2.0  45.691103  ... -3.341639e+05   4322.802075 -3.384867e+05
3        0.0    3.0  11.920573  ...  1.569901e+03 -12147.110107  1.371701e+04
4        0.0    4.0  30.538560  ...  1.397413e+06  -5564.583147  1.402978e+06
...      ...    ...        ...  ...           ...           ...           ...
49995  999.0   45.0  24.020878  ... -3.619183e+05   6522.348124 -3.684407e+05
49996  999.0   46.0  29.077639  ... -6.817510e+05   6830.046516 -6.885810e+05
49997  999.0   47.0  44.416123  ... -8.061934e+06   3106.353805 -8.065040e+06
49998  999.0   48.0  25.526036  ... -7.031322e+05 -12438.919528 -6.906933e+05
49999  999.0   49.0  34.647657  ...  1.503364e+04  20165.526514 -5.131883e+03

[50000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    31.052011  32.586936  ...   3494.994376 -1.152555e+06
      1.0    32.315462  14.209684  ...  -7491.812982 -3.125059e+05
      2.0    45.691103  13.904355  ...   4322.802075 -3.384867e+05
      3.0    11.920573  18.295905  ... -12147.110107  1.371701e+04
      4.0    30.538560  23.699573  ...  -5564.583147  1.402978e+06
...                ...        ...  ...           ...           ...
999.0 45.0   24.020878  31.089231  ...   6522.348124 -3.684407e+05
      46.0   29.077639  30.356072  ...   6830.046516 -6.885810e+05
      47.0   44.416123  14.904737  ...   3106.353805 -8.065040e+06
      48.0   25.526036  22.409159  ... -12438.919528 -6.906933e+05
      49.0   34.647657  49.674005  ...  20165.526514 -5.131883e+03

[50000 rows x 7 columns]

In [9]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        16.0  16.0  118972446714565.02   628086767336.6135   7435777919660.313  39255422958.538345  189.42040001744465   7.105427357601002e-15  0.9999999999999964  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  154136197819549.84   2485817960261.288   9633512363721.865   155363622516.3305   62.00622904959153  4.6918025020659115e-11   0.999999999976541  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0  151364980448712.38   751965512738.0961   9460311278044.523  46997844546.131004  201.29245009861464   4.440892098500626e-15  0.9999999999999978  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0  151572771529967.34  1045866269426.4175   9473298220622.959   65366641839.15109   144.9255760137423   5.995204332975845e-14    0.99999999999997  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  157685568523138.72  220032336160.64243    9855348032696.17  13752021010.040152   716.6472495570595   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      16.0  16.0   416281754582611.0  1118067210833.7175  26017609661413.188   69879200677.10735   372.3226569467135   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0   234430605608447.4   549080745293.5005  14651912850527.963   34317546580.84378    426.951058870471   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   132928823036456.4  473841496665.23724   8308051439778.525  29615093541.577328   280.5343642799796   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0  32065409591932.797   826994282862.7838  2004088099495.7998   51687142678.92399   38.77343562876013   1.754612233284547e-09  0.9999999991226939  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   331945088807260.3  447766614733.18805   20746568050453.77  27985413420.824253   741.3350568913169   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [11]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0  118972446714565.02   628086767336.6135   7435777919660.313  39255422958.538345  189.42040001744465   7.105427357601002e-15  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  154136197819549.84   2485817960261.288   9633512363721.865   155363622516.3305   62.00622904959153  4.6918025020659115e-11  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0  151364980448712.38   751965512738.0961   9460311278044.523  46997844546.131004  201.29245009861464   4.440892098500626e-15  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0  151572771529967.34  1045866269426.4175   9473298220622.959   65366641839.15109   144.9255760137423   5.995204332975845e-14  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  157685568523138.72  220032336160.64243    9855348032696.17  13752021010.040152   716.6472495570595   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      16.0  16.0   416281754582611.0  1118067210833.7175  26017609661413.188   69879200677.10735   372.3226569467135   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0   234430605608447.4   549080745293.5005  14651912850527.963   34317546580.84378    426.951058870471   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   132928823036456.4  473841496665.23724   8308051439778.525  29615093541.577328   280.5343642799796   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0  32065409591932.797   826994282862.7838  2004088099495.7998   51687142678.92399   38.77343562876013   1.754612233284547e-09  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   331945088807260.3  447766614733.18805   20746568050453.77  27985413420.824253   741.3350568913169   2.220446049250313e-16  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [12]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64