<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x4_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x4_2020.csv')
df

         rep  index       Xt1  ...          Y      y_hat     e_hat
0        0.0    0.0 -0.521600  ...   2.187990   2.267301 -0.079310
1        0.0    1.0 -2.874692  ...  -0.248908  -0.101130 -0.147778
2        0.0    2.0  0.934918  ...  -1.765722  -2.009823  0.244100
3        0.0    3.0 -0.244140  ...   0.410693   0.621322 -0.210630
4        0.0    4.0 -0.537329  ...   5.569646   5.612801 -0.043155
...      ...    ...       ...  ...        ...        ...       ...
49995  999.0   45.0  1.051798  ...   6.061773   5.564103  0.497670
49996  999.0   46.0 -0.540876  ...  10.561293  10.158879  0.402415
49997  999.0   47.0  0.552785  ...   2.018120   1.721500  0.296620
49998  999.0   48.0 -0.387259  ...   4.855220   7.343628 -2.488408
49999  999.0   49.0  0.558079  ...   5.617047   5.640713 -0.023666

[50000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x4_2020.csv', index_col=['rep', 'index'])
df

                  Xt1       Xt2       Xt3  ...          Y      y_hat     e_hat
rep   index                                ...
0.0   0.0   -0.521600  0.379984 -0.605484  ...   2.187990   2.267301 -0.079310
      1.0   -2.874692  0.285250 -0.983144  ...  -0.248908  -0.101130 -0.147778
      2.0    0.934918 -1.251054 -1.246218  ...  -1.765722  -2.009823  0.244100
      3.0   -0.244140  0.678568 -1.221814  ...   0.410693   0.621322 -0.210630
      4.0   -0.537329 -0.165118  0.564178  ...   5.569646   5.612801 -0.043155
...               ...       ...       ...  ...        ...        ...       ...
999.0 45.0   1.051798  1.313055 -0.249595  ...   6.061773   5.564103  0.497670
      46.0  -0.540876  0.984618  1.337625  ...  10.561293  10.158879  0.402415
      47.0   0.552785  1.106723 -1.181331  ...   2.018120   1.721500  0.296620
      48.0  -0.387259  2.279402 -0.021163  ...   4.855220   7.343628 -2.488408
      49.0   0.558079  0.603106  0.128349  ...   5.617047   5.640713 -0.023666

[50000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat     e_hat
rep   index                                ...
0.0   0.0   -0.521600  0.379984 -0.605484  ...   2.187990   2.267301 -0.079310
      1.0   -2.874692  0.285250 -0.983144  ...  -0.248908  -0.101130 -0.147778
      2.0    0.934918 -1.251054 -1.246218  ...  -1.765722  -2.009823  0.244100
      3.0   -0.244140  0.678568 -1.221814  ...   0.410693   0.621322 -0.210630
      4.0   -0.537329 -0.165118  0.564178  ...   5.569646   5.612801 -0.043155
...               ...       ...       ...  ...        ...        ...       ...
999.0 45.0   1.051798  1.313055 -0.249595  ...   6.061773   5.564103  0.497670
      46.0  -0.540876  0.984618  1.337625  ...  10.561293  10.158879  0.402415
      47.0   0.552785  1.106723 -1.181331  ...   2.018120   1.721500  0.296620
      48.0  -0.387259  2.279402 -0.021163  ...   4.855220   7.343628 -2.488408
      49.0   0.558079  0.603106  0.128349  ...   5.617047   5.640713 -0.023666

[50000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index       Xt1  ...          Y      y_hat     e_hat
0        0.0    0.0 -0.521600  ...   2.187990   2.267301 -0.079310
1        0.0    1.0 -2.874692  ...  -0.248908  -0.101130 -0.147778
2        0.0    2.0  0.934918  ...  -1.765722  -2.009823  0.244100
3        0.0    3.0 -0.244140  ...   0.410693   0.621322 -0.210630
4        0.0    4.0 -0.537329  ...   5.569646   5.612801 -0.043155
...      ...    ...       ...  ...        ...        ...       ...
49995  999.0   45.0  1.051798  ...   6.061773   5.564103  0.497670
49996  999.0   46.0 -0.540876  ...  10.561293  10.158879  0.402415
49997  999.0   47.0  0.552785  ...   2.018120   1.721500  0.296620
49998  999.0   48.0 -0.387259  ...   4.855220   7.343628 -2.488408
49999  999.0   49.0  0.558079  ...   5.617047   5.640713 -0.023666

[50000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat     e_hat
rep   index                                ...
0.0   0.0   -0.521600  0.379984 -0.605484  ...   2.187990   2.267301 -0.079310
      1.0   -2.874692  0.285250 -0.983144  ...  -0.248908  -0.101130 -0.147778
      2.0    0.934918 -1.251054 -1.246218  ...  -1.765722  -2.009823  0.244100
      3.0   -0.244140  0.678568 -1.221814  ...   0.410693   0.621322 -0.210630
      4.0   -0.537329 -0.165118  0.564178  ...   5.569646   5.612801 -0.043155
...               ...       ...       ...  ...        ...        ...       ...
999.0 45.0   1.051798  1.313055 -0.249595  ...   6.061773   5.564103  0.497670
      46.0  -0.540876  0.984618  1.337625  ...  10.561293  10.158879  0.402415
      47.0   0.552785  1.106723 -1.181331  ...   2.018120   1.721500  0.296620
      48.0  -0.387259  2.279402 -0.021163  ...   4.855220   7.343628 -2.488408
      49.0   0.558079  0.603106  0.128349  ...   5.617047   5.640713 -0.023666

[50000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('Xt2')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['Xt1', 'Xt2', 'Xt3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['Xt1', 'Xt2', 'Xt3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        16.0  16.0  1355.9393001385822   25.60703465320952   84.74620625866139   1.600439665825595   52.95182821836937  1.5960899268918638e-10  0.9999999999201955  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  411.63046525452756   166.2613752817833  25.726904078407973  10.391335955111456   2.475803322069768      0.0790407370655799    0.96047963146721    Reject005=1 : Homoscedasticity
3.0        16.0  16.0  1016.2497671762911   166.0619885560329  63.515610448518196  10.378874284752056   6.119701299574565   0.0007706750332652224  0.9996146624833674  Reject005=0 : Heteroscedasticity
7.0        16.0  16.0   4067.631124103067   1854.620613422267   254.2269452564417  115.91378833889169   2.193241622930745      0.1266314049960573  0.9366842975019714    Reject005=1 : Homoscedasticity
8.0        16.0  16.0   3739.941910916939  1355.3344115343054  233.74636943230868   84.70840072089409  2.7594237105535746    0.050152231565352645  0.9749238842173237    Reject005=1 : Homoscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
989.0      16.0  16.0   153.9992949515814   32.94160291141634   9.624955934473837   2.058850181963521   4.674918077474941   0.0036655064042043772  0.9981672467978978  Reject005=0 : Heteroscedasticity
992.0      16.0  16.0   2122.639641071992   922.0012173478333   132.6649775669995   57.62507608423958  2.3022091523673196     0.10536797981575097  0.9473160100921245    Reject005=1 : Homoscedasticity
995.0      16.0  16.0  1680.3598265790886   734.9685500580551  105.02248916119304   45.93553437862845   2.286301674331993     0.10821677694846032  0.9458916115257698    Reject005=1 : Homoscedasticity
998.0      16.0  16.0   716.9684658008447  246.05249179970153   44.81052911255279  15.378280737481345   2.913884190144643      0.0394559458041166  0.9802720270979417  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   83.15997006747536  15.213018261368646    5.19749812921721  0.9508136413355404   5.466368911069317   0.0015057516571019836   0.999247124171449  Reject005=0 : Heteroscedasticity

[501 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2              GQ_test          two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0  1355.9393001385822   25.60703465320952   84.74620625866139   1.600439665825595    52.95182821836937  1.5960899268918638e-10  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  411.63046525452756   166.2613752817833  25.726904078407973  10.391335955111456    2.475803322069768      0.0790407370655799    Reject005=1 : Homoscedasticity
2.0        16.0  16.0   560.2326671300161  1233.0976954835546   35.01454169562601   77.06860596772216  0.45432950623618107     0.12496489519096177    Reject005=1 : Homoscedasticity
3.0        16.0  16.0  1016.2497671762911   166.0619885560329  63.515610448518196  10.378874284752056    6.119701299574565   0.0007706750332652224  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0   76.48795338038602  213.95121808677698   4.780497086274126  13.371951130423561   0.3575018364670543     0.04727123556931042    Reject005=1 : Homoscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                  ...                     ...                               ...
995.0      16.0  16.0  1680.3598265790886   734.9685500580551  105.02248916119304   45.93553437862845    2.286301674331993     0.10821677694846032    Reject005=1 : Homoscedasticity
996.0      16.0  16.0   50.67228756304739   176.7986951282961   3.167017972690462  11.049918445518506   0.2866100766539959    0.016939456156991474    Reject005=1 : Homoscedasticity
997.0      16.0  16.0  115.19938419790057    1106.06133393605   7.199961512368786   69.12883337100313  0.10415279936416359  4.3799133900018025e-05    Reject005=1 : Homoscedasticity
998.0      16.0  16.0   716.9684658008447  246.05249179970153   44.81052911255279  15.378280737481345    2.913884190144643      0.0394559458041166  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   83.15997006747536  15.213018261368646    5.19749812921721  0.9508136413355404    5.466368911069317   0.0015057516571019836  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=1 : Homoscedasticity      666
Reject005=0 : Heteroscedasticity    334
Name: Result_test, dtype: int64