<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x6_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import statistics as stats
import scipy.stats as ss
import scipy.stats as st
from sklearn.linear_model import LinearRegression
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x6_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    20.383342  34.926831  ...  1.614154e+07 -2.244137e+06
      1.0    25.403482  22.086874  ... -7.849812e+06 -3.624793e+08
      2.0    15.533082  29.051386  ...  7.844272e+06 -4.934531e+06
      3.0    14.254107  41.298537  ...  2.839458e+07 -2.264304e+07
      4.0    32.766362  22.257861  ... -1.781554e+07 -8.534802e+08
...                ...        ...  ...           ...           ...
999.0 45.0   45.454523  25.017462  ... -4.064391e+07 -1.620235e+09
      46.0   40.247542  47.902332  ...  6.329734e+06 -3.897988e+09
      47.0   27.019153  35.405609  ...  1.127714e+07 -2.062000e+08
      48.0   27.567329  42.964846  ...  6.867103e+06 -5.080024e+08
      49.0   37.223611  19.427760  ... -4.757680e+07 -1.609388e+09

[50000 rows x 7 columns]

In [3]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    20.383342  34.926831  ...  1.614154e+07 -2.244137e+06
      1.0    25.403482  22.086874  ... -7.849812e+06 -3.624793e+08
      2.0    15.533082  29.051386  ...  7.844272e+06 -4.934531e+06
      3.0    14.254107  41.298537  ...  2.839458e+07 -2.264304e+07
      4.0    32.766362  22.257861  ... -1.781554e+07 -8.534802e+08
...                ...        ...  ...           ...           ...
999.0 45.0   45.454523  25.017462  ... -4.064391e+07 -1.620235e+09
      46.0   40.247542  47.902332  ...  6.329734e+06 -3.897988e+09
      47.0   27.019153  35.405609  ...  1.127714e+07 -2.062000e+08
      48.0   27.567329  42.964846  ...  6.867103e+06 -5.080024e+08
      49.0   37.223611  19.427760  ... -4.757680e+07 -1.609388e+09

[50000 rows x 7 columns]

In [4]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  20.383342  ...  1.389740e+07  1.614154e+07 -2.244137e+06
1        0.0    1.0  25.403482  ... -3.703291e+08 -7.849812e+06 -3.624793e+08
2        0.0    2.0  15.533082  ...  2.909741e+06  7.844272e+06 -4.934531e+06
3        0.0    3.0  14.254107  ...  5.751540e+06  2.839458e+07 -2.264304e+07
4        0.0    4.0  32.766362  ... -8.712957e+08 -1.781554e+07 -8.534802e+08
...      ...    ...        ...  ...           ...           ...           ...
49995  999.0   45.0  45.454523  ... -1.660879e+09 -4.064391e+07 -1.620235e+09
49996  999.0   46.0  40.247542  ... -3.891658e+09  6.329734e+06 -3.897988e+09
49997  999.0   47.0  27.019153  ... -1.949229e+08  1.127714e+07 -2.062000e+08
49998  999.0   48.0  27.567329  ... -5.011353e+08  6.867103e+06 -5.080024e+08
49999  999.0   49.0  37.223611  ... -1.656964e+09 -4.757680e+07 -1.609388e+09

[50000 rows x 9 columns]

In [5]:
table.set_index(['rep', 'index'], inplace=True)

In [6]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    20.383342  34.926831  ...  1.614154e+07 -2.244137e+06
      1.0    25.403482  22.086874  ... -7.849812e+06 -3.624793e+08
      2.0    15.533082  29.051386  ...  7.844272e+06 -4.934531e+06
      3.0    14.254107  41.298537  ...  2.839458e+07 -2.264304e+07
      4.0    32.766362  22.257861  ... -1.781554e+07 -8.534802e+08
...                ...        ...  ...           ...           ...
999.0 45.0   45.454523  25.017462  ... -4.064391e+07 -1.620235e+09
      46.0   40.247542  47.902332  ...  6.329734e+06 -3.897988e+09
      47.0   27.019153  35.405609  ...  1.127714e+07 -2.062000e+08
      48.0   27.567329  42.964846  ...  6.867103e+06 -5.080024e+08
      49.0   37.223611  19.427760  ... -4.757680e+07 -1.609388e+09

[50000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    new_table_sort.drop(['index', 'y_hat', 'e_hat'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    y = table1['Y']
    x = table1[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 10000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                    SSE1                    SSE2                    MSE1                    MSE2             GQ_test             two_tailed             greater                       Result_test
Replicate
0.0        16.0  16.0   4.172989615056402e+20      8432101024257074.0   2.608118509410251e+19       527006314016067.1   49489.32185527356  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  1.0201027175011535e+21  1.0889523707339915e+17   6.375641984382209e+19      6805952317087447.0    9367.74412652749  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0   1.434037825312332e+21   1.847707484693862e+18   8.962736408202075e+19  1.1548171779336637e+17   776.1173438932792  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0  1.9694872537730334e+21  2.2613742772695222e+17  1.2309295336081459e+20  1.4133589232934514e+16   8709.249386842212  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  2.5764709560683436e+21  2.1784786501324754e+18  1.6102943475427148e+20  1.3615491563327971e+17  1182.6927731936532  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
...         ...   ...                     ...                     ...                     ...                     ...                 ...                    ...                 ...                               ...
995.0      16.0  16.0   6.259685842193356e+20    7.43032448338504e+16  3.9123036513708474e+19      4643952802115650.0   8424.512087178224  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0  1.0916119603380101e+21   9.428083389614378e+16   6.822574752112563e+19      5892552118508986.0  11578.301922323775  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   2.443259940212999e+21   1.526886234870123e+18  1.5270374626331243e+20   9.543038967938269e+16   1600.158469187341  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0   1.302350971716342e+20   8.224012502011738e+16   8.139693573227137e+18      5140007813757336.0  1583.5955640847628  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   7.963919039596496e+20    3.83999655221293e+17    4.97744939974781e+19  2.3999978451330812e+16  2073.9391120044143  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 10000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                    SSE1                    SSE2                    MSE1                    MSE2             GQ_test         two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0   4.172989615056402e+20      8432101024257074.0   2.608118509410251e+19       527006314016067.1   49489.32185527356  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  1.0201027175011535e+21  1.0889523707339915e+17   6.375641984382209e+19      6805952317087447.0    9367.74412652749  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0   1.434037825312332e+21   1.847707484693862e+18   8.962736408202075e+19  1.1548171779336637e+17   776.1173438932792  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0  1.9694872537730334e+21  2.2613742772695222e+17  1.2309295336081459e+20  1.4133589232934514e+16   8709.249386842212  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  2.5764709560683436e+21  2.1784786501324754e+18  1.6102943475427148e+20  1.3615491563327971e+17  1182.6927731936532  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
...         ...   ...                     ...                     ...                     ...                     ...                 ...                    ...                               ...
995.0      16.0  16.0   6.259685842193356e+20    7.43032448338504e+16  3.9123036513708474e+19      4643952802115650.0   8424.512087178224  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0  1.0916119603380101e+21   9.428083389614378e+16   6.822574752112563e+19      5892552118508986.0  11578.301922323775  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   2.443259940212999e+21   1.526886234870123e+18  1.5270374626331243e+20   9.543038967938269e+16   1600.158469187341  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0   1.302350971716342e+20   8.224012502011738e+16   8.139693573227137e+18      5140007813757336.0  1583.5955640847628  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   7.963919039596496e+20    3.83999655221293e+17    4.97744939974781e+19  2.3999978451330812e+16  2073.9391120044143  2.220446049250313e-16  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64