<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x6_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x6_2020.csv')
df

         rep  index       Xt1  ...          Y      y_hat      e_hat
0        0.0    0.0 -0.121180  ...   8.906630   8.722835   0.183795
1        0.0    1.0 -1.238783  ...  -4.518817   5.958388 -10.477205
2        0.0    2.0  0.662704  ...  43.906601  11.551692  32.354909
3        0.0    3.0 -0.067098  ...   0.030247   0.090498  -0.060251
4        0.0    4.0  0.475601  ...   7.313982   9.296388  -1.982406
...      ...    ...       ...  ...        ...        ...        ...
49995  999.0   45.0  0.055429  ...  -1.815189  -1.737049  -0.078140
49996  999.0   46.0 -1.050070  ...   6.740981   6.122057   0.618924
49997  999.0   47.0 -0.348547  ...  89.048828   3.182987  85.865841
49998  999.0   48.0 -0.382267  ...   5.332995  -0.009052   5.342047
49999  999.0   49.0 -0.015692  ...   0.227661   0.110160   0.117501

[50000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x6_2020.csv', index_col=['rep', 'index'])
df

                  Xt1       Xt2       Xt3  ...          Y      y_hat      e_hat
rep   index                                ...
0.0   0.0   -0.121180 -0.293669  1.498762  ...   8.906630   8.722835   0.183795
      1.0   -1.238783  1.368390  0.248851  ...  -4.518817   5.958388 -10.477205
      2.0    0.662704  1.943730  0.790015  ...  43.906601  11.551692  32.354909
      3.0   -0.067098  0.012995 -1.100669  ...   0.030247   0.090498  -0.060251
      4.0    0.475601  1.097870  0.685410  ...   7.313982   9.296388  -1.982406
...               ...       ...       ...  ...        ...        ...        ...
999.0 45.0   0.055429 -0.810665 -1.213693  ...  -1.815189  -1.737049  -0.078140
      46.0  -1.050070  0.680759  0.594503  ...   6.740981   6.122057   0.618924
      47.0  -0.348547  1.952248 -1.175646  ...  89.048828   3.182987  85.865841
      48.0  -0.382267 -1.133921 -0.392185  ...   5.332995  -0.009052   5.342047
      49.0  -0.015692 -0.486581 -0.845174  ...   0.227661   0.110160   0.117501

[50000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat      e_hat
rep   index                                ...
0.0   0.0   -0.121180 -0.293669  1.498762  ...   8.906630   8.722835   0.183795
      1.0   -1.238783  1.368390  0.248851  ...  -4.518817   5.958388 -10.477205
      2.0    0.662704  1.943730  0.790015  ...  43.906601  11.551692  32.354909
      3.0   -0.067098  0.012995 -1.100669  ...   0.030247   0.090498  -0.060251
      4.0    0.475601  1.097870  0.685410  ...   7.313982   9.296388  -1.982406
...               ...       ...       ...  ...        ...        ...        ...
999.0 45.0   0.055429 -0.810665 -1.213693  ...  -1.815189  -1.737049  -0.078140
      46.0  -1.050070  0.680759  0.594503  ...   6.740981   6.122057   0.618924
      47.0  -0.348547  1.952248 -1.175646  ...  89.048828   3.182987  85.865841
      48.0  -0.382267 -1.133921 -0.392185  ...   5.332995  -0.009052   5.342047
      49.0  -0.015692 -0.486581 -0.845174  ...   0.227661   0.110160   0.117501

[50000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index       Xt1  ...          Y      y_hat      e_hat
0        0.0    0.0 -0.121180  ...   8.906630   8.722835   0.183795
1        0.0    1.0 -1.238783  ...  -4.518817   5.958388 -10.477205
2        0.0    2.0  0.662704  ...  43.906601  11.551692  32.354909
3        0.0    3.0 -0.067098  ...   0.030247   0.090498  -0.060251
4        0.0    4.0  0.475601  ...   7.313982   9.296388  -1.982406
...      ...    ...       ...  ...        ...        ...        ...
49995  999.0   45.0  0.055429  ...  -1.815189  -1.737049  -0.078140
49996  999.0   46.0 -1.050070  ...   6.740981   6.122057   0.618924
49997  999.0   47.0 -0.348547  ...  89.048828   3.182987  85.865841
49998  999.0   48.0 -0.382267  ...   5.332995  -0.009052   5.342047
49999  999.0   49.0 -0.015692  ...   0.227661   0.110160   0.117501

[50000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat      e_hat
rep   index                                ...
0.0   0.0   -0.121180 -0.293669  1.498762  ...   8.906630   8.722835   0.183795
      1.0   -1.238783  1.368390  0.248851  ...  -4.518817   5.958388 -10.477205
      2.0    0.662704  1.943730  0.790015  ...  43.906601  11.551692  32.354909
      3.0   -0.067098  0.012995 -1.100669  ...   0.030247   0.090498  -0.060251
      4.0    0.475601  1.097870  0.685410  ...   7.313982   9.296388  -1.982406
...               ...       ...       ...  ...        ...        ...        ...
999.0 45.0   0.055429 -0.810665 -1.213693  ...  -1.815189  -1.737049  -0.078140
      46.0  -1.050070  0.680759  0.594503  ...   6.740981   6.122057   0.618924
      47.0  -0.348547  1.952248 -1.175646  ...  89.048828   3.182987  85.865841
      48.0  -0.382267 -1.133921 -0.392185  ...   5.332995  -0.009052   5.342047
      49.0  -0.015692 -0.486581 -0.845174  ...   0.227661   0.110160   0.117501

[50000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('Xt1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['Xt1', 'Xt2', 'Xt3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['Xt1', 'Xt2', 'Xt3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
1.0        16.0  16.0   1418.885114095801   417.7321060285583   88.68031963098757  26.108256626784893  3.3966388831956307    0.019309182555178328  0.9903454087224108  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0  18491.958084863763  2494.3180057507398  1155.7473803039852  155.89487535942123   7.413632921796615    0.000235454682404157  0.9998822726587979  Reject005=0 : Heteroscedasticity
10.0       16.0  16.0   6779.262559389401   8.168629138352195  423.70390996183755  0.5105393211470122   829.9143521598213   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
11.0       16.0  16.0   754.3854741858803   73.42664425200692   47.14909213661752   4.589165265750433   10.27400178601055  2.7806069565539104e-05  0.9999860969652172  Reject005=0 : Heteroscedasticity
12.0       16.0  16.0  188060.03806637146  130.59326295856602  11753.752379148216   8.162078934910376  1440.0439487145536   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
992.0      16.0  16.0   8051.066556098546  150.16272352279887  503.19165975615914    9.38517022017493  53.615613563882725   1.449407260878388e-10  0.9999999999275296  Reject005=0 : Heteroscedasticity
993.0      16.0  16.0  1768.0915741511299  1612.4934064131148  110.50572338444562  100.78083790081968   1.096495382318575      0.8560912077095271  0.5719543961452365    Reject005=1 : Homoscedasticity
994.0      16.0  16.0   2846.381101371845    900.336864643309  177.89881883574031   56.27105404020681  3.1614623516493574    0.027171268585527653  0.9864143657072362  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0  1326.3777055674082   220.8944446836269   82.89860659796301   13.80590279272668   6.004577016262654   0.0008639067458264815  0.9995680466270868  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0   39978.44510717752   5197.864385258051   2498.652819198595   324.8665240786282   7.691321308913443   0.0001863911865906953  0.9999068044067047  Reject005=0 : Heteroscedasticity

[518 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2               GQ_test          two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0   3192.101663846831   570304.6143446537  199.50635399042693  35644.038396540855  0.005597187158506383  1.1451682784174774e-14    Reject005=1 : Homoscedasticity
1.0        16.0  16.0   1418.885114095801   417.7321060285583   88.68031963098757  26.108256626784893    3.3966388831956307    0.019309182555178328  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0   992.5915007606071   83250.81645151229  62.036968797537945   5203.176028219518  0.011922904099549839    4.44079861356019e-12    Reject005=1 : Homoscedasticity
3.0        16.0  16.0  18491.958084863763  2494.3180057507398  1155.7473803039852  155.89487535942123     7.413632921796615    0.000235454682404157  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  108.47000992860205  1838.7271058159815   6.779375620537628  114.92044411349885   0.05899190237937225   8.369574075021267e-07    Reject005=1 : Homoscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                   ...                     ...                               ...
995.0      16.0  16.0   45282.67782554229  354423.99066890473   2830.167364096393  22151.499416806546   0.12776414412602333  0.00016668671766196434    Reject005=1 : Homoscedasticity
996.0      16.0  16.0  16444.930678269342  19958.665448941443  1027.8081673918339  1247.4165905588402    0.8239494128672585      0.7032037900136012    Reject005=1 : Homoscedasticity
997.0      16.0  16.0  1326.3777055674082   220.8944446836269   82.89860659796301   13.80590279272668     6.004577016262654   0.0008639067458264815  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0   39978.44510717752   5197.864385258051   2498.652819198595   324.8665240786282     7.691321308913443   0.0001863911865906953  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   13188.18934564736  14073.705623229907     824.26183410296   879.6066014518692    0.9370800909661686      0.8981899469747453    Reject005=1 : Homoscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=1 : Homoscedasticity      608
Reject005=0 : Heteroscedasticity    392
Name: Result_test, dtype: int64