<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x6_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x6_sas.csv')
df

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  33.245152  ... -2.017832e+09  4.620689e+06 -2.022453e+09
1        0.0    1.0  25.801178  ... -2.694932e+07  5.494855e+06 -3.244417e+07
2        0.0    2.0  45.777892  ...  7.532372e+09  7.756921e+07  7.454803e+09
3        0.0    3.0  28.376063  ... -4.090709e+08  6.720668e+06 -4.157915e+08
4        0.0    4.0  32.835008  ... -6.128590e+08  2.678215e+07 -6.396411e+08
...      ...    ...        ...  ...           ...           ...           ...
49995  999.0   45.0  33.695654  ... -1.635834e+09  5.078121e+07 -1.686615e+09
49996  999.0   46.0  22.434444  ...  1.837217e+08  2.279019e+07  1.609315e+08
49997  999.0   47.0  44.226447  ... -4.250770e+09  6.622812e+07 -4.316998e+09
49998  999.0   48.0  47.340731  ...  2.051143e+10  1.208758e+08  2.039055e+10
49999  999.0   49.0  45.937334  ... -5.387021e+09  9.255374e+07 -5.479575e+09

[50000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x6_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    33.245152  45.812189  ...  4.620689e+06 -2.022453e+09
      1.0    25.801178  40.571089  ...  5.494855e+06 -3.244417e+07
      2.0    45.777892  32.893675  ...  7.756921e+07  7.454803e+09
      3.0    28.376063  42.265727  ...  6.720668e+06 -4.157915e+08
      4.0    32.835008  38.442817  ...  2.678215e+07 -6.396411e+08
...                ...        ...  ...           ...           ...
999.0 45.0   33.695654  23.823236  ...  5.078121e+07 -1.686615e+09
      46.0   22.434444  14.319819  ...  2.279019e+07  1.609315e+08
      47.0   44.226447  27.266147  ...  6.622812e+07 -4.316998e+09
      48.0   47.340731  10.908005  ...  1.208758e+08  2.039055e+10
      49.0   45.937334  23.811141  ...  9.255374e+07 -5.479575e+09

[50000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    33.245152  45.812189  ...  4.620689e+06 -2.022453e+09
      1.0    25.801178  40.571089  ...  5.494855e+06 -3.244417e+07
      2.0    45.777892  32.893675  ...  7.756921e+07  7.454803e+09
      3.0    28.376063  42.265727  ...  6.720668e+06 -4.157915e+08
      4.0    32.835008  38.442817  ...  2.678215e+07 -6.396411e+08
...                ...        ...  ...           ...           ...
999.0 45.0   33.695654  23.823236  ...  5.078121e+07 -1.686615e+09
      46.0   22.434444  14.319819  ...  2.279019e+07  1.609315e+08
      47.0   44.226447  27.266147  ...  6.622812e+07 -4.316998e+09
      48.0   47.340731  10.908005  ...  1.208758e+08  2.039055e+10
      49.0   45.937334  23.811141  ...  9.255374e+07 -5.479575e+09

[50000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  33.245152  ... -2.017832e+09  4.620689e+06 -2.022453e+09
1        0.0    1.0  25.801178  ... -2.694932e+07  5.494855e+06 -3.244417e+07
2        0.0    2.0  45.777892  ...  7.532372e+09  7.756921e+07  7.454803e+09
3        0.0    3.0  28.376063  ... -4.090709e+08  6.720668e+06 -4.157915e+08
4        0.0    4.0  32.835008  ... -6.128590e+08  2.678215e+07 -6.396411e+08
...      ...    ...        ...  ...           ...           ...           ...
49995  999.0   45.0  33.695654  ... -1.635834e+09  5.078121e+07 -1.686615e+09
49996  999.0   46.0  22.434444  ...  1.837217e+08  2.279019e+07  1.609315e+08
49997  999.0   47.0  44.226447  ... -4.250770e+09  6.622812e+07 -4.316998e+09
49998  999.0   48.0  47.340731  ...  2.051143e+10  1.208758e+08  2.039055e+10
49999  999.0   49.0  45.937334  ... -5.387021e+09  9.255374e+07 -5.479575e+09

[50000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    33.245152  45.812189  ...  4.620689e+06 -2.022453e+09
      1.0    25.801178  40.571089  ...  5.494855e+06 -3.244417e+07
      2.0    45.777892  32.893675  ...  7.756921e+07  7.454803e+09
      3.0    28.376063  42.265727  ...  6.720668e+06 -4.157915e+08
      4.0    32.835008  38.442817  ...  2.678215e+07 -6.396411e+08
...                ...        ...  ...           ...           ...
999.0 45.0   33.695654  23.823236  ...  5.078121e+07 -1.686615e+09
      46.0   22.434444  14.319819  ...  2.279019e+07  1.609315e+08
      47.0   44.226447  27.266147  ...  6.622812e+07 -4.316998e+09
      48.0   47.340731  10.908005  ...  1.208758e+08  2.039055e+10
      49.0   45.937334  23.811141  ...  9.255374e+07 -5.479575e+09

[50000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                    SSE1                    SSE2                    MSE1                    MSE2             GQ_test             two_tailed             greater                       Result_test
Replicate
0.0        16.0  16.0  4.9524921216187217e+20  2.5609001627843197e+17   3.095307576011701e+19  1.6005626017401998e+16  1933.8872298067886  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0   3.059923458028683e+20   7.637500418309155e+16   1.912452161267927e+19      4773437761443222.0  4006.4462067893555  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0   3.682980353192191e+20   4.315508760716358e+17  2.3018627207451193e+19  2.6971929754477236e+16   853.4290062664201  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0    2.23771159742283e+21   1.532898298449476e+17  1.3985697483892687e+20      9580614365309224.0  14597.912984092105  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  1.9773131805222293e+21   1.765150500822385e+16  1.2358207378263933e+20      1103219063013990.6  112019.52352510438  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
...         ...   ...                     ...                     ...                     ...                     ...                 ...                    ...                 ...                               ...
995.0      16.0  16.0  5.8824124540055264e+20    3.15916995327137e+17   3.676507783753454e+19  1.9744812207946064e+16  1862.0120287970565  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0  1.0142371755777685e+21  2.0351863932839437e+17   6.338982347361053e+19  1.2719914958024648e+16   4983.510006379376  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   7.490834502166557e+20  2.4192129888269686e+17  4.6817715638540984e+19  1.5120081180168554e+16  3096.3931397370366  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0  1.4030570393456377e+21  3.2754637111146906e+17   8.769106495910235e+19  2.0471648194466816e+16   4283.537120514016  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   9.537174451308857e+20   6.843763100064426e+16   5.960734032068035e+19      4277351937540266.0  13935.570696798484  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                    SSE1                    SSE2                    MSE1                    MSE2             GQ_test         two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0  4.9524921216187217e+20  2.5609001627843197e+17   3.095307576011701e+19  1.6005626017401998e+16  1933.8872298067886  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0   3.059923458028683e+20   7.637500418309155e+16   1.912452161267927e+19      4773437761443222.0  4006.4462067893555  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
2.0        16.0  16.0   3.682980353192191e+20   4.315508760716358e+17  2.3018627207451193e+19  2.6971929754477236e+16   853.4290062664201  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
3.0        16.0  16.0    2.23771159742283e+21   1.532898298449476e+17  1.3985697483892687e+20      9580614365309224.0  14597.912984092105  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0  1.9773131805222293e+21   1.765150500822385e+16  1.2358207378263933e+20      1103219063013990.6  112019.52352510438  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
...         ...   ...                     ...                     ...                     ...                     ...                 ...                    ...                               ...
995.0      16.0  16.0  5.8824124540055264e+20    3.15916995327137e+17   3.676507783753454e+19  1.9744812207946064e+16  1862.0120287970565  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0  1.0142371755777685e+21  2.0351863932839437e+17   6.338982347361053e+19  1.2719914958024648e+16   4983.510006379376  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   7.490834502166557e+20  2.4192129888269686e+17  4.6817715638540984e+19  1.5120081180168554e+16  3096.3931397370366  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0  1.4030570393456377e+21  3.2754637111146906e+17   8.769106495910235e+19  2.0471648194466816e+16   4283.537120514016  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   9.537174451308857e+20   6.843763100064426e+16   5.960734032068035e+19      4277351937540266.0  13935.570696798484  2.220446049250313e-16  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64