<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n30_x6_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n30_x6_sas.csv')
df

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  49.064013  ... -2.214538e+10  1.859669e+08 -2.233135e+10
1        0.0    1.0  46.163827  ...  2.511719e+10  4.707361e+07  2.507011e+10
2        0.0    2.0  19.565028  ...  1.254375e+07 -6.947298e+07  8.201673e+07
3        0.0    3.0  47.207795  ...  1.497691e+10  1.501501e+08  1.482675e+10
4        0.0    4.0  38.531559  ...  1.143696e+08  1.517231e+08 -3.735350e+07
...      ...    ...        ...  ...           ...           ...           ...
29995  999.0   25.0  38.998576  ...  4.790022e+09  8.588873e+07  4.704133e+09
29996  999.0   26.0  20.418946  ... -7.895905e+06 -5.432296e+07  4.642706e+07
29997  999.0   27.0  48.550374  ... -4.148384e+09  6.074838e+07 -4.209132e+09
29998  999.0   28.0  23.742248  ...  4.532440e+07  9.533341e+06  3.579106e+07
29999  999.0   29.0  36.105864  ... -1.751292e+09 -1.149690e+07 -1.739795e+09

[30000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n30_x6_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    49.064013  11.621527  ...  1.859669e+08 -2.233135e+10
      1.0    46.163827  48.471380  ...  4.707361e+07  2.507011e+10
      2.0    19.565028  45.358574  ... -6.947298e+07  8.201673e+07
      3.0    47.207795  33.529469  ...  1.501501e+08  1.482675e+10
      4.0    38.531559  20.957039  ...  1.517231e+08 -3.735350e+07
...                ...        ...  ...           ...           ...
999.0 25.0   38.998576  17.843815  ...  8.588873e+07  4.704133e+09
      26.0   20.418946  48.610952  ... -5.432296e+07  4.642706e+07
      27.0   48.550374  46.434238  ...  6.074838e+07 -4.209132e+09
      28.0   23.742248  15.709370  ...  9.533341e+06  3.579106e+07
      29.0   36.105864  43.607732  ... -1.149690e+07 -1.739795e+09

[30000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    49.064013  11.621527  ...  1.859669e+08 -2.233135e+10
      1.0    46.163827  48.471380  ...  4.707361e+07  2.507011e+10
      2.0    19.565028  45.358574  ... -6.947298e+07  8.201673e+07
      3.0    47.207795  33.529469  ...  1.501501e+08  1.482675e+10
      4.0    38.531559  20.957039  ...  1.517231e+08 -3.735350e+07
...                ...        ...  ...           ...           ...
999.0 25.0   38.998576  17.843815  ...  8.588873e+07  4.704133e+09
      26.0   20.418946  48.610952  ... -5.432296e+07  4.642706e+07
      27.0   48.550374  46.434238  ...  6.074838e+07 -4.209132e+09
      28.0   23.742248  15.709370  ...  9.533341e+06  3.579106e+07
      29.0   36.105864  43.607732  ... -1.149690e+07 -1.739795e+09

[30000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  49.064013  ... -2.214538e+10  1.859669e+08 -2.233135e+10
1        0.0    1.0  46.163827  ...  2.511719e+10  4.707361e+07  2.507011e+10
2        0.0    2.0  19.565028  ...  1.254375e+07 -6.947298e+07  8.201673e+07
3        0.0    3.0  47.207795  ...  1.497691e+10  1.501501e+08  1.482675e+10
4        0.0    4.0  38.531559  ...  1.143696e+08  1.517231e+08 -3.735350e+07
...      ...    ...        ...  ...           ...           ...           ...
29995  999.0   25.0  38.998576  ...  4.790022e+09  8.588873e+07  4.704133e+09
29996  999.0   26.0  20.418946  ... -7.895905e+06 -5.432296e+07  4.642706e+07
29997  999.0   27.0  48.550374  ... -4.148384e+09  6.074838e+07 -4.209132e+09
29998  999.0   28.0  23.742248  ...  4.532440e+07  9.533341e+06  3.579106e+07
29999  999.0   29.0  36.105864  ... -1.751292e+09 -1.149690e+07 -1.739795e+09

[30000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    49.064013  11.621527  ...  1.859669e+08 -2.233135e+10
      1.0    46.163827  48.471380  ...  4.707361e+07  2.507011e+10
      2.0    19.565028  45.358574  ... -6.947298e+07  8.201673e+07
      3.0    47.207795  33.529469  ...  1.501501e+08  1.482675e+10
      4.0    38.531559  20.957039  ...  1.517231e+08 -3.735350e+07
...                ...        ...  ...           ...           ...
999.0 25.0   38.998576  17.843815  ...  8.588873e+07  4.704133e+09
      26.0   20.418946  48.610952  ... -5.432296e+07  4.642706e+07
      27.0   48.550374  46.434238  ...  6.074838e+07 -4.209132e+09
      28.0   23.742248  15.709370  ...  9.533341e+06  3.579106e+07
      29.0   36.105864  43.607732  ... -1.149690e+07 -1.739795e+09

[30000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

           df1  df2                    SSE1                    SSE2                    MSE1                    MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        8.0  8.0   9.645760316896253e+20  1.8591844529281676e+16  1.2057200396120316e+20      2323980566160209.5    51881.6747940444   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
1.0        8.0  8.0  1.0729622319462144e+20  1.9667264805858218e+17   1.341202789932768e+19  2.4584081007322772e+16   545.5574237382592   7.809919377876895e-10   0.999999999609504  Reject005=0 : Heteroscedasticity
2.0        8.0  8.0   5.865205392527848e+19      4365638372740091.5    7.33150674065981e+18      545704796592511.44  13434.931828415632   2.220446049250313e-15  0.9999999999999989  Reject005=0 : Heteroscedasticity
3.0        8.0  8.0   1.981371266154257e+20   6.254837028288671e+16  2.4767140826928214e+19      7818546285360839.0   3167.742432285821   6.938893903907228e-13   0.999999999999653  Reject005=0 : Heteroscedasticity
4.0        8.0  8.0   3.920420460764219e+20    4.72859660880762e+17   4.900525575955274e+19   5.910745761009525e+16   829.0875253477811  1.4700973771653025e-10  0.9999999999264951  Reject005=0 : Heteroscedasticity
...        ...  ...                     ...                     ...                     ...                     ...                 ...                     ...                 ...                               ...
995.0      8.0  8.0   3.641711298119433e+20   1.502324826960466e+17   4.552139122649291e+19  1.8779060337005824e+16   2424.050533390583   2.021938172447335e-12   0.999999999998989  Reject005=0 : Heteroscedasticity
996.0      8.0  8.0   7.284223556539964e+20  4.1179097934763864e+16   9.105279445674956e+19      5147387241845483.0   17689.12851874431   6.661338147750939e-16  0.9999999999999997  Reject005=0 : Heteroscedasticity
997.0      8.0  8.0   9.481316750255532e+19      5998859251492735.0  1.1851645937819415e+19       749857406436591.9  15805.199543390245  1.1102230246251565e-15  0.9999999999999994  Reject005=0 : Heteroscedasticity
998.0      8.0  8.0  1.7130063202844282e+20  1.8949414523483056e+16  2.1412579003555353e+19      2368676815435382.0   9039.890484012505  1.0436096431476471e-14  0.9999999999999948  Reject005=0 : Heteroscedasticity
999.0      8.0  8.0  2.0533271749999172e+20      4847619997996828.0  2.5666589687498965e+19       605952499749603.5   42357.42850818359   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

           df1  df2                    SSE1                    SSE2                    MSE1                    MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        8.0  8.0   9.645760316896253e+20  1.8591844529281676e+16  1.2057200396120316e+20      2323980566160209.5    51881.6747940444   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
1.0        8.0  8.0  1.0729622319462144e+20  1.9667264805858218e+17   1.341202789932768e+19  2.4584081007322772e+16   545.5574237382592   7.809919377876895e-10  Reject005=0 : Heteroscedasticity
2.0        8.0  8.0   5.865205392527848e+19      4365638372740091.5    7.33150674065981e+18      545704796592511.44  13434.931828415632   2.220446049250313e-15  Reject005=0 : Heteroscedasticity
3.0        8.0  8.0   1.981371266154257e+20   6.254837028288671e+16  2.4767140826928214e+19      7818546285360839.0   3167.742432285821   6.938893903907228e-13  Reject005=0 : Heteroscedasticity
4.0        8.0  8.0   3.920420460764219e+20    4.72859660880762e+17   4.900525575955274e+19   5.910745761009525e+16   829.0875253477811  1.4700973771653025e-10  Reject005=0 : Heteroscedasticity
...        ...  ...                     ...                     ...                     ...                     ...                 ...                     ...                               ...
995.0      8.0  8.0   3.641711298119433e+20   1.502324826960466e+17   4.552139122649291e+19  1.8779060337005824e+16   2424.050533390583   2.021938172447335e-12  Reject005=0 : Heteroscedasticity
996.0      8.0  8.0   7.284223556539964e+20  4.1179097934763864e+16   9.105279445674956e+19      5147387241845483.0   17689.12851874431   6.661338147750939e-16  Reject005=0 : Heteroscedasticity
997.0      8.0  8.0   9.481316750255532e+19      5998859251492735.0  1.1851645937819415e+19       749857406436591.9  15805.199543390245  1.1102230246251565e-15  Reject005=0 : Heteroscedasticity
998.0      8.0  8.0  1.7130063202844282e+20  1.8949414523483056e+16  2.1412579003555353e+19      2368676815435382.0   9039.890484012505  1.0436096431476471e-14  Reject005=0 : Heteroscedasticity
999.0      8.0  8.0  2.0533271749999172e+20      4847619997996828.0  2.5666589687498965e+19       605952499749603.5   42357.42850818359   2.220446049250313e-16  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64