<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n70_x4_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n70_x4_sas.csv')
df

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  39.820191  ... -5.915122e+04 -16339.070967 -4.281215e+04
1        0.0    1.0  34.678561  ... -1.403496e+06 -10020.960755 -1.393475e+06
2        0.0    2.0  10.411925  ...  8.170066e+03  12485.895904 -4.315830e+03
3        0.0    3.0  48.573779  ...  1.847103e+05 -19664.083191  2.043744e+05
4        0.0    4.0  38.494309  ... -3.271872e+06 -13562.765540 -3.258309e+06
...      ...    ...        ...  ...           ...           ...           ...
69995  999.0   65.0  18.186943  ...  5.161960e+04   2358.761459  4.926084e+04
69996  999.0   66.0  28.716468  ... -4.904924e+05  -4050.097735 -4.864423e+05
69997  999.0   67.0  36.144495  ... -3.150572e+06 -17111.428167 -3.133460e+06
69998  999.0   68.0  33.331752  ...  1.091481e+06 -14179.384636  1.105660e+06
69999  999.0   69.0  33.916439  ... -4.868404e+05  -9067.927817 -4.777724e+05

[70000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n70_x4_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    39.820191  33.427731  ... -16339.070967 -4.281215e+04
      1.0    34.678561  39.290675  ... -10020.960755 -1.393475e+06
      2.0    10.411925  35.043939  ...  12485.895904 -4.315830e+03
      3.0    48.573779  19.903448  ... -19664.083191  2.043744e+05
      4.0    38.494309  38.184238  ... -13562.765540 -3.258309e+06
...                ...        ...  ...           ...           ...
999.0 65.0   18.186943  35.462385  ...   2358.761459  4.926084e+04
      66.0   28.716468  39.570157  ...  -4050.097735 -4.864423e+05
      67.0   36.144495  48.232490  ... -17111.428167 -3.133460e+06
      68.0   33.331752  46.245043  ... -14179.384636  1.105660e+06
      69.0   33.916439  26.460723  ...  -9067.927817 -4.777724e+05

[70000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    39.820191  33.427731  ... -16339.070967 -4.281215e+04
      1.0    34.678561  39.290675  ... -10020.960755 -1.393475e+06
      2.0    10.411925  35.043939  ...  12485.895904 -4.315830e+03
      3.0    48.573779  19.903448  ... -19664.083191  2.043744e+05
      4.0    38.494309  38.184238  ... -13562.765540 -3.258309e+06
...                ...        ...  ...           ...           ...
999.0 65.0   18.186943  35.462385  ...   2358.761459  4.926084e+04
      66.0   28.716468  39.570157  ...  -4050.097735 -4.864423e+05
      67.0   36.144495  48.232490  ... -17111.428167 -3.133460e+06
      68.0   33.331752  46.245043  ... -14179.384636  1.105660e+06
      69.0   33.916439  26.460723  ...  -9067.927817 -4.777724e+05

[70000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...             Y         y_hat         e_hat
0        0.0    0.0  39.820191  ... -5.915122e+04 -16339.070967 -4.281215e+04
1        0.0    1.0  34.678561  ... -1.403496e+06 -10020.960755 -1.393475e+06
2        0.0    2.0  10.411925  ...  8.170066e+03  12485.895904 -4.315830e+03
3        0.0    3.0  48.573779  ...  1.847103e+05 -19664.083191  2.043744e+05
4        0.0    4.0  38.494309  ... -3.271872e+06 -13562.765540 -3.258309e+06
...      ...    ...        ...  ...           ...           ...           ...
69995  999.0   65.0  18.186943  ...  5.161960e+04   2358.761459  4.926084e+04
69996  999.0   66.0  28.716468  ... -4.904924e+05  -4050.097735 -4.864423e+05
69997  999.0   67.0  36.144495  ... -3.150572e+06 -17111.428167 -3.133460e+06
69998  999.0   68.0  33.331752  ...  1.091481e+06 -14179.384636  1.105660e+06
69999  999.0   69.0  33.916439  ... -4.868404e+05  -9067.927817 -4.777724e+05

[70000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...         y_hat         e_hat
rep   index                        ...
0.0   0.0    39.820191  33.427731  ... -16339.070967 -4.281215e+04
      1.0    34.678561  39.290675  ... -10020.960755 -1.393475e+06
      2.0    10.411925  35.043939  ...  12485.895904 -4.315830e+03
      3.0    48.573779  19.903448  ... -19664.083191  2.043744e+05
      4.0    38.494309  38.184238  ... -13562.765540 -3.258309e+06
...                ...        ...  ...           ...           ...
999.0 65.0   18.186943  35.462385  ...   2358.761459  4.926084e+04
      66.0   28.716468  39.570157  ...  -4050.097735 -4.864423e+05
      67.0   36.144495  48.232490  ... -17111.428167 -3.133460e+06
      68.0   33.331752  46.245043  ... -14179.384636  1.105660e+06
      69.0   33.916439  26.460723  ...  -9067.927817 -4.777724e+05

[70000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test             two_tailed             greater                       Result_test
Replicate
0.0        24.0  24.0   286877579422689.3  1231192914654.8484  11953232475945.389   51299704777.28535   233.0078219326923  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
1.0        24.0  24.0   429303311726344.1  1300620789500.3533   17887637988597.67   54192532895.84805  330.07569553863993  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
2.0        24.0  24.0   284438976070747.2   1279585256101.798  11851624002947.799   53316052337.57492  222.28997615780474  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
3.0        24.0  24.0   282367433439363.4   550957600828.8063   11765309726640.14   22956566701.20026   512.5030184075829  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
4.0        24.0  24.0  367376629067386.75   702641299110.7827  15307359544474.447   29276720796.28261   522.8508906782376  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                    ...                 ...                               ...
995.0      24.0  24.0  376091546219536.44   1424688941758.072  15670481092480.686   59362039239.91967    263.981515681197  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
996.0      24.0  24.0   373881977199900.2  392798467557.06366  15578415716662.508  16366602814.877653   951.8417409446349  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
997.0      24.0  24.0  269555086477435.47  200808571509.53412   11231461936559.81   8367023812.897255  1342.3485085876293  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
998.0      24.0  24.0   305060615115260.0   991514801814.5648  12710858963135.834   41313116742.27354   307.6712667899365  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
999.0      24.0  24.0   429774792922544.3   3223622961267.383  17907283038439.348  134317623386.14095  133.32042800488563  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test         two_tailed_new                       Result_test
Replicate
0.0        24.0  24.0   286877579422689.3  1231192914654.8484  11953232475945.389   51299704777.28535   233.0078219326923  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
1.0        24.0  24.0   429303311726344.1  1300620789500.3533   17887637988597.67   54192532895.84805  330.07569553863993  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
2.0        24.0  24.0   284438976070747.2   1279585256101.798  11851624002947.799   53316052337.57492  222.28997615780474  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
3.0        24.0  24.0   282367433439363.4   550957600828.8063   11765309726640.14   22956566701.20026   512.5030184075829  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
4.0        24.0  24.0  367376629067386.75   702641299110.7827  15307359544474.447   29276720796.28261   522.8508906782376  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                    ...                               ...
995.0      24.0  24.0  376091546219536.44   1424688941758.072  15670481092480.686   59362039239.91967    263.981515681197  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
996.0      24.0  24.0   373881977199900.2  392798467557.06366  15578415716662.508  16366602814.877653   951.8417409446349  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
997.0      24.0  24.0  269555086477435.47  200808571509.53412   11231461936559.81   8367023812.897255  1342.3485085876293  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
998.0      24.0  24.0   305060615115260.0   991514801814.5648  12710858963135.834   41313116742.27354   307.6712667899365  2.220446049250313e-16  Reject005=0 : Heteroscedasticity
999.0      24.0  24.0   429774792922544.3   3223622961267.383  17907283038439.348  134317623386.14095  133.32042800488563  2.220446049250313e-16  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    1000
Name: Result_test, dtype: int64