<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n70_x6_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n70_x6_2020.csv')
df

         rep  index       Xt1  ...          Y      y_hat     e_hat
0        0.0    0.0  0.091553  ...   7.788588   6.718667  1.069922
1        0.0    1.0 -0.280040  ...  11.341740  10.817823  0.523916
2        0.0    2.0  0.788644  ...   0.191449   0.247976 -0.056527
3        0.0    3.0  0.556626  ...   3.610406   2.392028  1.218378
4        0.0    4.0 -0.666594  ...   4.662698   4.518674  0.144024
...      ...    ...       ...  ...        ...        ...       ...
69995  999.0   65.0  0.000995  ...   4.195470   3.529341  0.666129
69996  999.0   66.0  0.696616  ...   2.767024   2.052999  0.714025
69997  999.0   67.0  0.175550  ...   2.941705   3.309601 -0.367896
69998  999.0   68.0 -2.423575  ...   9.812816   9.955789 -0.142973
69999  999.0   69.0  0.826664  ...   5.523617   3.209880  2.313737

[70000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n70_x6_2020.csv', index_col=['rep', 'index'])
df

                  Xt1       Xt2       Xt3  ...          Y      y_hat     e_hat
rep   index                                ...
0.0   0.0    0.091553  0.717054  0.690785  ...   7.788588   6.718667  1.069922
      1.0   -0.280040  0.565856  1.837533  ...  11.341740  10.817823  0.523916
      2.0    0.788644 -1.007204 -0.842179  ...   0.191449   0.247976 -0.056527
      3.0    0.556626  0.690198 -0.494893  ...   3.610406   2.392028  1.218378
      4.0   -0.666594  0.889240  0.087266  ...   4.662698   4.518674  0.144024
...               ...       ...       ...  ...        ...        ...       ...
999.0 65.0   0.000995  0.463824 -0.138632  ...   4.195470   3.529341  0.666129
      66.0   0.696616  0.264737 -0.530084  ...   2.767024   2.052999  0.714025
      67.0   0.175550  1.410437 -0.338051  ...   2.941705   3.309601 -0.367896
      68.0  -2.423575  0.526106  1.664412  ...   9.812816   9.955789 -0.142973
      69.0   0.826664  1.175971 -0.348677  ...   5.523617   3.209880  2.313737

[70000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat     e_hat
rep   index                                ...
0.0   0.0    0.091553  0.717054  0.690785  ...   7.788588   6.718667  1.069922
      1.0   -0.280040  0.565856  1.837533  ...  11.341740  10.817823  0.523916
      2.0    0.788644 -1.007204 -0.842179  ...   0.191449   0.247976 -0.056527
      3.0    0.556626  0.690198 -0.494893  ...   3.610406   2.392028  1.218378
      4.0   -0.666594  0.889240  0.087266  ...   4.662698   4.518674  0.144024
...               ...       ...       ...  ...        ...        ...       ...
999.0 65.0   0.000995  0.463824 -0.138632  ...   4.195470   3.529341  0.666129
      66.0   0.696616  0.264737 -0.530084  ...   2.767024   2.052999  0.714025
      67.0   0.175550  1.410437 -0.338051  ...   2.941705   3.309601 -0.367896
      68.0  -2.423575  0.526106  1.664412  ...   9.812816   9.955789 -0.142973
      69.0   0.826664  1.175971 -0.348677  ...   5.523617   3.209880  2.313737

[70000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index       Xt1  ...          Y      y_hat     e_hat
0        0.0    0.0  0.091553  ...   7.788588   6.718667  1.069922
1        0.0    1.0 -0.280040  ...  11.341740  10.817823  0.523916
2        0.0    2.0  0.788644  ...   0.191449   0.247976 -0.056527
3        0.0    3.0  0.556626  ...   3.610406   2.392028  1.218378
4        0.0    4.0 -0.666594  ...   4.662698   4.518674  0.144024
...      ...    ...       ...  ...        ...        ...       ...
69995  999.0   65.0  0.000995  ...   4.195470   3.529341  0.666129
69996  999.0   66.0  0.696616  ...   2.767024   2.052999  0.714025
69997  999.0   67.0  0.175550  ...   2.941705   3.309601 -0.367896
69998  999.0   68.0 -2.423575  ...   9.812816   9.955789 -0.142973
69999  999.0   69.0  0.826664  ...   5.523617   3.209880  2.313737

[70000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat     e_hat
rep   index                                ...
0.0   0.0    0.091553  0.717054  0.690785  ...   7.788588   6.718667  1.069922
      1.0   -0.280040  0.565856  1.837533  ...  11.341740  10.817823  0.523916
      2.0    0.788644 -1.007204 -0.842179  ...   0.191449   0.247976 -0.056527
      3.0    0.556626  0.690198 -0.494893  ...   3.610406   2.392028  1.218378
      4.0   -0.666594  0.889240  0.087266  ...   4.662698   4.518674  0.144024
...               ...       ...       ...  ...        ...        ...       ...
999.0 65.0   0.000995  0.463824 -0.138632  ...   4.195470   3.529341  0.666129
      66.0   0.696616  0.264737 -0.530084  ...   2.767024   2.052999  0.714025
      67.0   0.175550  1.410437 -0.338051  ...   2.941705   3.309601 -0.367896
      68.0  -2.423575  0.526106  1.664412  ...   9.812816   9.955789 -0.142973
      69.0   0.826664  1.175971 -0.348677  ...   5.523617   3.209880  2.313737

[70000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('Xt1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['Xt1', 'Xt2', 'Xt3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['Xt1', 'Xt2', 'Xt3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2             GQ_test             two_tailed             greater                       Result_test
Replicate
0.0        24.0  24.0   21361.97569730702  24.868877353760897   890.0823207211259  1.0362032230733706   858.9843197757567  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
1.0        24.0  24.0   8475.941906387301    60.6072078067599  353.16424609947086  2.5253003252816626  139.85039425363405  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
3.0        24.0  24.0   92257.44845632941  115.86616788579451  3844.0603523470586   4.827756995241438    796.241475313696  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
5.0        24.0  24.0  21855.716757725095   35.07639931413176   910.6548649052123  1.4615166380888234   623.0889482695492  2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
9.0        24.0  24.0     15533.768005122   857.3307417632957     647.24033354675   35.72211424013732  18.118757730736764  6.583904532675433e-10  0.9999999996708048  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                 ...                    ...                 ...                               ...
991.0      24.0  24.0  155817.45488456916   97445.32778848747   6492.393953523715   4060.221991186978  1.5990243803456934     0.2573153740092242  0.8713423129953879    Reject005=1 : Homoscedasticity
995.0      24.0  24.0   4270.301201970809   3899.495521142193  177.92921674878372  162.47898004759136  1.0950906800169897     0.8257448159040666  0.5871275920479667    Reject005=1 : Homoscedasticity
997.0      24.0  24.0   32994.74659918768  1069.8274594958134  1374.7811082994867  44.576144145658894  30.841185002614715  1.801891968966629e-12   0.999999999999099  Reject005=0 : Heteroscedasticity
998.0      24.0  24.0   20752.36961303605  1605.4859270549753   864.6820672098355   66.89524696062396   12.92591187709953  2.394649145642802e-08  0.9999999880267543  Reject005=0 : Heteroscedasticity
999.0      24.0  24.0   141014.8871541937   7371.993254333881   5875.620298091405  307.16638559724504  19.128461230114834  3.650697522061819e-10  0.9999999998174651  Reject005=0 : Heteroscedasticity

[518 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2              GQ_test          two_tailed_new                       Result_test
Replicate
0.0        24.0  24.0   21361.97569730702  24.868877353760897   890.0823207211259  1.0362032230733706    858.9843197757567   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
1.0        24.0  24.0   8475.941906387301    60.6072078067599  353.16424609947086  2.5253003252816626   139.85039425363405   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
2.0        24.0  24.0   5068.169282002757   16891.78741135222  211.17372008344822   703.8244754730091  0.30003747730075425    0.004546165697845359    Reject005=1 : Homoscedasticity
3.0        24.0  24.0   92257.44845632941  115.86616788579451  3844.0603523470586   4.827756995241438     796.241475313696   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
4.0        24.0  24.0  16542.634366582697   23050.54753071934   689.2764319409457   960.4394804466392   0.7176677406268297      0.4223313117402457    Reject005=1 : Homoscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                  ...                     ...                               ...
995.0      24.0  24.0   4270.301201970809   3899.495521142193  177.92921674878372  162.47898004759136   1.0950906800169897      1.1742551840959334    Reject005=1 : Homoscedasticity
996.0      24.0  24.0   30476.29125632586  256293.83445839986  1269.8454690135775  10678.909769099993  0.11891152715682124  1.8099484408602888e-06    Reject005=1 : Homoscedasticity
997.0      24.0  24.0   32994.74659918768  1069.8274594958134  1374.7811082994867  44.576144145658894   30.841185002614715   1.801891968966629e-12  Reject005=0 : Heteroscedasticity
998.0      24.0  24.0   20752.36961303605  1605.4859270549753   864.6820672098355   66.89524696062396    12.92591187709953   2.394649145642802e-08  Reject005=0 : Heteroscedasticity
999.0      24.0  24.0   141014.8871541937   7371.993254333881   5875.620298091405  307.16638559724504   19.128461230114834   3.650697522061819e-10  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=1 : Homoscedasticity      579
Reject005=0 : Heteroscedasticity    421
Name: Result_test, dtype: int64