<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n30_x2_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n30_x2_sas.csv')
df

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  48.903885  ...  2834.234085  624.173460  2210.060625
1        0.0    1.0  16.325213  ...   -96.021673  212.803786  -308.825459
2        0.0    2.0  20.578167  ...   736.163333  244.194160   491.969173
3        0.0    3.0  12.329733  ...   156.581682  172.369817   -15.788135
4        0.0    4.0  18.612859  ...     1.957372  238.075632  -236.118260
...      ...    ...        ...  ...          ...         ...          ...
29995  999.0   25.0  49.764443  ... -6321.926347  604.343664 -6926.270010
29996  999.0   26.0  28.291565  ...   280.253136  355.165083   -74.911947
29997  999.0   27.0  40.218787  ...  1529.549579  526.446340  1003.103239
29998  999.0   28.0  21.161301  ...   226.193747  335.886659  -109.692912
29999  999.0   29.0  31.801785  ...   143.417948  454.409054  -310.991105

[30000 rows x 9 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n30_x2_sas.csv', index_col=['rep', 'index'])
df

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    48.903885  40.546803  ...  624.173460  2210.060625
      1.0    16.325213  17.500183  ...  212.803786  -308.825459
      2.0    20.578167  23.674307  ...  244.194160   491.969173
      3.0    12.329733  28.225962  ...  172.369817   -15.788135
      4.0    18.612859  22.604111  ...  238.075632  -236.118260
...                ...        ...  ...         ...          ...
999.0 25.0   49.764443  30.138338  ...  604.343664 -6926.270010
      26.0   28.291565  28.004700  ...  355.165083   -74.911947
      27.0   40.218787  45.732215  ...  526.446340  1003.103239
      28.0   21.161301  48.267915  ...  335.886659  -109.692912
      29.0   31.801785  48.190311  ...  454.409054  -310.991105

[30000 rows x 7 columns]

In [4]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    48.903885  40.546803  ...  624.173460  2210.060625
      1.0    16.325213  17.500183  ...  212.803786  -308.825459
      2.0    20.578167  23.674307  ...  244.194160   491.969173
      3.0    12.329733  28.225962  ...  172.369817   -15.788135
      4.0    18.612859  22.604111  ...  238.075632  -236.118260
...                ...        ...  ...         ...          ...
999.0 25.0   49.764443  30.138338  ...  604.343664 -6926.270010
      26.0   28.291565  28.004700  ...  355.165083   -74.911947
      27.0   40.218787  45.732215  ...  526.446340  1003.103239
      28.0   21.161301  48.267915  ...  335.886659  -109.692912
      29.0   31.801785  48.190311  ...  454.409054  -310.991105

[30000 rows x 7 columns]

In [5]:
table.reset_index(inplace=True)
table

         rep  index         x1  ...            Y       y_hat        e_hat
0        0.0    0.0  48.903885  ...  2834.234085  624.173460  2210.060625
1        0.0    1.0  16.325213  ...   -96.021673  212.803786  -308.825459
2        0.0    2.0  20.578167  ...   736.163333  244.194160   491.969173
3        0.0    3.0  12.329733  ...   156.581682  172.369817   -15.788135
4        0.0    4.0  18.612859  ...     1.957372  238.075632  -236.118260
...      ...    ...        ...  ...          ...         ...          ...
29995  999.0   25.0  49.764443  ... -6321.926347  604.343664 -6926.270010
29996  999.0   26.0  28.291565  ...   280.253136  355.165083   -74.911947
29997  999.0   27.0  40.218787  ...  1529.549579  526.446340  1003.103239
29998  999.0   28.0  21.161301  ...   226.193747  335.886659  -109.692912
29999  999.0   29.0  31.801785  ...   143.417948  454.409054  -310.991105

[30000 rows x 9 columns]

In [6]:
table.set_index(['rep', 'index'], inplace=True)

In [7]:
table

                    x1         x2  ...       y_hat        e_hat
rep   index                        ...
0.0   0.0    48.903885  40.546803  ...  624.173460  2210.060625
      1.0    16.325213  17.500183  ...  212.803786  -308.825459
      2.0    20.578167  23.674307  ...  244.194160   491.969173
      3.0    12.329733  28.225962  ...  172.369817   -15.788135
      4.0    18.612859  22.604111  ...  238.075632  -236.118260
...                ...        ...  ...         ...          ...
999.0 25.0   49.764443  30.138338  ...  604.343664 -6926.270010
      26.0   28.291565  28.004700  ...  355.165083   -74.911947
      27.0   40.218787  45.732215  ...  526.446340  1003.103239
      28.0   21.161301  48.267915  ...  335.886659  -109.692912
      29.0   31.801785  48.190311  ...  454.409054  -310.991105

[30000 rows x 7 columns]

In [8]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        8.0  8.0   79958913.71174736   790432.6625625271    9994864.21396842   98804.08282031589  101.15841297919823   6.277140747190657e-07  0.9999996861429626  Reject005=0 : Heteroscedasticity
1.0        8.0  8.0    7094603.82041016   1491152.434514683     886825.47755127  186394.05431433537   4.757799173442118    0.040794037090431834  0.9796029814547841  Reject005=0 : Heteroscedasticity
2.0        8.0  8.0   54572512.28325119   4622369.710027289   6821564.035406399   577796.2137534111  11.806176421775016   0.0021459418270988184  0.9989270290864506  Reject005=0 : Heteroscedasticity
3.0        8.0  8.0  22891501.462965123  1145681.4996950764  2861437.6828706404  143210.18746188455  19.980685268163715  0.00032155378718212724  0.9998392231064089  Reject005=0 : Heteroscedasticity
4.0        8.0  8.0   8165133.237876991  2887380.4389407304  1020641.6547346239   360922.5548675913  2.8278688626402366     0.16279984388794366  0.9186000780560282    Reject005=1 : Homoscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                 ...                               ...
995.0      8.0  8.0  25905334.944206715   783908.7695611932  3238166.8680258393   97988.59619514915   33.04636451344674  4.8513968349261916e-05  0.9999757430158254  Reject005=0 : Heteroscedasticity
996.0      8.0  8.0   51300781.57824126  361247.45812369505   6412597.697280157   45155.93226546188   142.0100831842402  1.6456001383780006e-07  0.9999999177199931  Reject005=0 : Heteroscedasticity
997.0      8.0  8.0  19311965.539456587   2131194.338471022  2413995.6924320734  266399.29230887775   9.061569464055319    0.005332109393726858  0.9973339453031366  Reject005=0 : Heteroscedasticity
998.0      8.0  8.0  11213177.741780963   966477.2263101793  1401647.2177226203  120809.65328877242  11.602112741539372    0.002280995149097631  0.9988595024254512  Reject005=0 : Heteroscedasticity
999.0      8.0  8.0   50968653.86038462  1042208.4830800939   6371081.732548078  130276.06038501173   48.90447035103213  1.0752251245582656e-05  0.9999946238743772  Reject005=0 : Heteroscedasticity

[1000 rows x 10 columns]

In [10]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

           df1  df2                SSE1                SSE2                MSE1                MSE2             GQ_test          two_tailed_new                       Result_test
Replicate
0.0        8.0  8.0   79958913.71174736   790432.6625625271    9994864.21396842   98804.08282031589  101.15841297919823   6.277140747190657e-07  Reject005=0 : Heteroscedasticity
1.0        8.0  8.0    7094603.82041016   1491152.434514683     886825.47755127  186394.05431433537   4.757799173442118    0.040794037090431834  Reject005=0 : Heteroscedasticity
2.0        8.0  8.0   54572512.28325119   4622369.710027289   6821564.035406399   577796.2137534111  11.806176421775016   0.0021459418270988184  Reject005=0 : Heteroscedasticity
3.0        8.0  8.0  22891501.462965123  1145681.4996950764  2861437.6828706404  143210.18746188455  19.980685268163715  0.00032155378718212724  Reject005=0 : Heteroscedasticity
4.0        8.0  8.0   8165133.237876991  2887380.4389407304  1020641.6547346239   360922.5548675913  2.8278688626402366     0.16279984388794366    Reject005=1 : Homoscedasticity
...        ...  ...                 ...                 ...                 ...                 ...                 ...                     ...                               ...
995.0      8.0  8.0  25905334.944206715   783908.7695611932  3238166.8680258393   97988.59619514915   33.04636451344674  4.8513968349261916e-05  Reject005=0 : Heteroscedasticity
996.0      8.0  8.0   51300781.57824126  361247.45812369505   6412597.697280157   45155.93226546188   142.0100831842402  1.6456001383780006e-07  Reject005=0 : Heteroscedasticity
997.0      8.0  8.0  19311965.539456587   2131194.338471022  2413995.6924320734  266399.29230887775   9.061569464055319    0.005332109393726858  Reject005=0 : Heteroscedasticity
998.0      8.0  8.0  11213177.741780963   966477.2263101793  1401647.2177226203  120809.65328877242  11.602112741539372    0.002280995149097631  Reject005=0 : Heteroscedasticity
999.0      8.0  8.0   50968653.86038462  1042208.4830800939   6371081.732548078  130276.06038501173   48.90447035103213  1.0752251245582656e-05  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [11]:
result_show['Result_test'].value_counts()

Reject005=0 : Heteroscedasticity    951
Reject005=1 : Homoscedasticity       49
Name: Result_test, dtype: int64