<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_sampling_1000rep_n50_x6_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import statistics as stats
import scipy.stats as ss
import scipy.stats as st
from sklearn.linear_model import LinearRegression
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n50_x6_2020.csv', index_col=['rep', 'index'])
df

                  Xt1       Xt2       Xt3  ...          Y      y_hat      e_hat
rep   index                                ...
0.0   0.0   -0.364168  1.221931  0.174778  ...   6.754960   8.617008  -1.862048
      1.0   -0.871383  1.890840  0.047738  ...  74.167990  10.346340  63.821650
      2.0    0.732096  0.596684  1.814009  ...  11.685510  11.494733   0.190777
      3.0    1.263921  0.275339 -0.781432  ...   2.105256   3.234900  -1.129645
      4.0    0.027949 -1.541948  0.407906  ...   7.504868   0.121998   7.382871
...               ...       ...       ...  ...        ...        ...        ...
999.0 45.0  -1.119721 -0.461460  1.666033  ...   8.852432   6.955567   1.896865
      46.0  -0.321609 -0.164048 -0.249518  ...   2.727016   2.778151  -0.051135
      47.0  -1.292995  1.811754  0.560025  ...  53.009939  11.401043  41.608896
      48.0   0.664963  0.139654  0.675519  ...   6.907314   6.718482   0.188831
      49.0   1.716355  1.666190 -1.935971  ... -15.637933   4.774296 -20.412230

[50000 rows x 7 columns]

In [3]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat      e_hat
rep   index                                ...
0.0   0.0   -0.364168  1.221931  0.174778  ...   6.754960   8.617008  -1.862048
      1.0   -0.871383  1.890840  0.047738  ...  74.167990  10.346340  63.821650
      2.0    0.732096  0.596684  1.814009  ...  11.685510  11.494733   0.190777
      3.0    1.263921  0.275339 -0.781432  ...   2.105256   3.234900  -1.129645
      4.0    0.027949 -1.541948  0.407906  ...   7.504868   0.121998   7.382871
...               ...       ...       ...  ...        ...        ...        ...
999.0 45.0  -1.119721 -0.461460  1.666033  ...   8.852432   6.955567   1.896865
      46.0  -0.321609 -0.164048 -0.249518  ...   2.727016   2.778151  -0.051135
      47.0  -1.292995  1.811754  0.560025  ...  53.009939  11.401043  41.608896
      48.0   0.664963  0.139654  0.675519  ...   6.907314   6.718482   0.188831
      49.0   1.716355  1.666190 -1.935971  ... -15.637933   4.774296 -20.412230

[50000 rows x 7 columns]

In [4]:
table.reset_index(inplace=True)
table

         rep  index       Xt1  ...          Y      y_hat      e_hat
0        0.0    0.0 -0.364168  ...   6.754960   8.617008  -1.862048
1        0.0    1.0 -0.871383  ...  74.167990  10.346340  63.821650
2        0.0    2.0  0.732096  ...  11.685510  11.494733   0.190777
3        0.0    3.0  1.263921  ...   2.105256   3.234900  -1.129645
4        0.0    4.0  0.027949  ...   7.504868   0.121998   7.382871
...      ...    ...       ...  ...        ...        ...        ...
49995  999.0   45.0 -1.119721  ...   8.852432   6.955567   1.896865
49996  999.0   46.0 -0.321609  ...   2.727016   2.778151  -0.051135
49997  999.0   47.0 -1.292995  ...  53.009939  11.401043  41.608896
49998  999.0   48.0  0.664963  ...   6.907314   6.718482   0.188831
49999  999.0   49.0  1.716355  ... -15.637933   4.774296 -20.412230

[50000 rows x 9 columns]

In [5]:
table.set_index(['rep', 'index'], inplace=True)

In [6]:
table

                  Xt1       Xt2       Xt3  ...          Y      y_hat      e_hat
rep   index                                ...
0.0   0.0   -0.364168  1.221931  0.174778  ...   6.754960   8.617008  -1.862048
      1.0   -0.871383  1.890840  0.047738  ...  74.167990  10.346340  63.821650
      2.0    0.732096  0.596684  1.814009  ...  11.685510  11.494733   0.190777
      3.0    1.263921  0.275339 -0.781432  ...   2.105256   3.234900  -1.129645
      4.0    0.027949 -1.541948  0.407906  ...   7.504868   0.121998   7.382871
...               ...       ...       ...  ...        ...        ...        ...
999.0 45.0  -1.119721 -0.461460  1.666033  ...   8.852432   6.955567   1.896865
      46.0  -0.321609 -0.164048 -0.249518  ...   2.727016   2.778151  -0.051135
      47.0  -1.292995  1.811754  0.560025  ...  53.009939  11.401043  41.608896
      48.0   0.664963  0.139654  0.675519  ...   6.907314   6.718482   0.188831
      49.0   1.716355  1.666190 -1.935971  ... -15.637933   4.774296 -20.412230

[50000 rows x 7 columns]

In [7]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('Xt1')

    new_table_sort.reset_index(inplace=True)

    new_table_sort.drop(['index', 'y_hat', 'e_hat'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['Xt1', 'Xt2', 'Xt3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['Xt1', 'Xt2', 'Xt3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    # ค่าสถิติทดสอบ
    GQ_test = MSE2 / MSE1


    df2 = DF2
    df1 = DF1

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [8]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 5000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

            df1   df2                SSE1                SSE2                MSE1                 MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        16.0  16.0  10326.379750993483   2639.174228460833   645.3987344370927   164.94838927880207   3.912731353479391     0.00950824910768322  0.9952458754461584  Reject005=0 : Heteroscedasticity
4.0        16.0  16.0    87870.7251276117   14965.65347430208   5491.920320475731      935.35334214388   5.871492700168212    0.000987775315830941  0.9995061123420845  Reject005=0 : Heteroscedasticity
5.0        16.0  16.0  19429.729338218534   15587.09972851174  1214.3580836386584    974.1937330319837  1.2465262734335305      0.6646789225956267  0.6676605387021867    Reject005=1 : Homoscedasticity
6.0        16.0  16.0   22898.59886388154   365.2918352155684  1431.1624289925962   22.830739700973027   62.68576698509691   4.310551915409633e-11  0.9999999999784472  Reject005=0 : Heteroscedasticity
7.0        16.0  16.0   763175.7996909841   4798.861023450612  47698.487480686505   299.92881396566327  159.03269462515584   2.886579864025407e-14  0.9999999999999856  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                  ...                 ...                     ...                 ...                               ...
993.0      16.0  16.0    827.957409627199   2.047735930253061   51.74733810169994  0.12798349564081632  404.32821312310483   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
994.0      16.0  16.0  32037.306805201122   6185.688473149913  2002.3316753250701   386.60552957186957   5.179262897616778    0.002057274247049934   0.998971362876475  Reject005=0 : Heteroscedasticity
996.0      16.0  16.0  57794.626377662375   649.8291954104828  3612.1641486038984    40.61432471315518   88.93818065707987  2.8044233602031454e-12  0.9999999999985978  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   1058129.623903169  354.63335399859017   66133.10149394807   22.164584624911885   2983.728439450102   2.220446049250313e-16  0.9999999999999999  Reject005=0 : Heteroscedasticity
999.0      16.0  16.0   3971.911111011251   1939.324499624663  248.24444443820317   121.20778122654144   2.048089998233908     0.16237048144428257  0.9188147592778587    Reject005=1 : Homoscedasticity

[514 rows x 10 columns]

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 5000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

            df1   df2                SSE1                SSE2                MSE1                MSE2              GQ_test          two_tailed_new                       Result_test
Replicate
0.0        16.0  16.0  10326.379750993483   2639.174228460833   645.3987344370927  164.94838927880207    3.912731353479391     0.00950824910768322  Reject005=0 : Heteroscedasticity
1.0        16.0  16.0  1447.3645473088345   5416.153939581121   90.46028420680216   338.5096212238201   0.2672310579526792     0.01194584387274597    Reject005=1 : Homoscedasticity
2.0        16.0  16.0   924.5712323748118  1729.0380885081713  57.785702023425735   108.0648805317607   0.5347315588475784     0.22136954162033468    Reject005=1 : Homoscedasticity
3.0        16.0  16.0  2183.1372098357147  2205.0119131756314  136.44607561473217  137.81324457347696   0.9900795532172826      0.9843377478366797    Reject005=1 : Homoscedasticity
4.0        16.0  16.0    87870.7251276117   14965.65347430208   5491.920320475731     935.35334214388    5.871492700168212    0.000987775315830941  Reject005=0 : Heteroscedasticity
...         ...   ...                 ...                 ...                 ...                 ...                  ...                     ...                               ...
995.0      16.0  16.0   6507.522718168072   94047.12865138869   406.7201698855045   5877.945540711793  0.06919427324878762   2.618215111022817e-06    Reject005=1 : Homoscedasticity
996.0      16.0  16.0  57794.626377662375   649.8291954104828  3612.1641486038984   40.61432471315518    88.93818065707987  2.8044233602031454e-12  Reject005=0 : Heteroscedasticity
997.0      16.0  16.0   1058129.623903169  354.63335399859017   66133.10149394807  22.164584624911885    2983.728439450102   2.220446049250313e-16  Reject005=0 : Heteroscedasticity
998.0      16.0  16.0    310.645757251391  2798.8729858695906  19.415359828211937   174.9295616168494  0.11098958717302261   6.676646067581548e-05    Reject005=1 : Homoscedasticity
999.0      16.0  16.0   3971.911111011251   1939.324499624663  248.24444443820317  121.20778122654144    2.048089998233908     0.16237048144428257    Reject005=1 : Homoscedasticity

[1000 rows x 9 columns]

In [10]:
result_show['Result_test'].value_counts()

Reject005=1 : Homoscedasticity      598
Reject005=0 : Heteroscedasticity    402
Name: Result_test, dtype: int64