<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/ex_x1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

In [50]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv')
df

       no  Replicate   id       j  ...       x3        E        y  Unnamed: 13
0     1.0        1.0  1.0   444.0  ...  37.2578  -297.88     7.54          NaN
1     2.0        1.0  1.0   611.0  ...  23.0795 -1703.41 -1309.72          NaN
2     3.0        1.0  1.0  3145.0  ...  35.5201  1213.77  1668.95          NaN
3     4.0        1.0  1.0  4032.0  ...  21.7985    91.70   305.60          NaN
4     5.0        1.0  1.0  4175.0  ...  43.8453  -403.14   145.76          NaN
...   ...        ...  ...     ...  ...      ...      ...      ...          ...
3145  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3146  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3147  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3148  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3149  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN

[3150 rows x 14 columns]

In [51]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv', index_col=['Replicate', 'no'])
df

                id       j        a  ...        E        y  Unnamed: 13
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  -297.88     7.54          NaN
          2.0  1.0   611.0  0.56787  ... -1703.41 -1309.72          NaN
          3.0  1.0  3145.0  0.73834  ...  1213.77  1668.95          NaN
          4.0  1.0  4032.0  0.12840  ...    91.70   305.60          NaN
          5.0  1.0  4175.0  0.96315  ...  -403.14   145.76          NaN
...            ...     ...      ...  ...      ...      ...          ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN

[3150 rows x 12 columns]

In [52]:
# ลบ  colum
df.drop(['Unnamed: 13'], axis=1, inplace=True)
df

                id       j        a  ...       x3        E        y
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0  1.0   611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0  1.0  3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0  1.0  4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0  1.0  4175.0  0.96315  ...  43.8453  -403.14   145.76
...            ...     ...      ...  ...      ...      ...      ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN

[3150 rows x 11 columns]

In [53]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [54]:
table.reset_index(inplace=True)
table

      Replicate    no   id        j  ...       x2       x3        E        y
0           1.0   1.0  1.0    444.0  ...  43.4873  37.2578  -297.88     7.54
1           1.0   2.0  1.0    611.0  ...  38.4642  23.0795 -1703.41 -1309.72
2           1.0   3.0  1.0   3145.0  ...  19.3175  35.5201  1213.77  1668.95
3           1.0   4.0  1.0   4032.0  ...  35.7360  21.7985    91.70   305.60
4           1.0   5.0  1.0   4175.0  ...  14.7944  43.8453  -403.14   145.76
...         ...   ...  ...      ...  ...      ...      ...      ...      ...
2995      100.0  26.0  1.0  46183.0  ...  22.2501  10.4640   -53.99   238.96
2996      100.0  27.0  1.0  49111.0  ...  37.9048  26.8103    16.19   348.41
2997      100.0  28.0  1.0  49469.0  ...  36.6570  22.3726   389.88   714.03
2998      100.0  29.0  1.0  49549.0  ...  24.8457  23.0568  -256.29   -59.73
2999      100.0  30.0  1.0  49564.0  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]

In [55]:
table.set_index(['Replicate', 'no'], inplace=True)

In [56]:
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [59]:
# แสดงค่าของ Replicate ที่ 1.0
new_table = table.loc[5.0]
new_table

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
1.0   1.0    660.0  0.48297  0.00307  ...  10.1226  13.4562    84.10   405.87
2.0   1.0   3327.0  0.43823  0.50780  ...  30.3120  14.5540  1877.23  2202.39
3.0   1.0   3834.0  0.01440  0.89134  ...  45.6537  33.1598   -78.27   111.30
4.0   1.0   4027.0  0.53801  0.61722  ...  34.6889  48.7899   316.01   719.70
5.0   1.0  13282.0  0.64606  0.99508  ...  49.8032  39.0233  -293.32   158.93
6.0   1.0  14651.0  0.84947  0.65786  ...  36.3146  10.9307  1396.35  1888.39
7.0   1.0  19344.0  0.48477  0.62930  ...  35.1720  26.2313  -815.88  -455.57
8.0   1.0  20185.0  0.34835  0.20442  ...  18.1769  17.4250  -203.03    76.92
9.0   1.0  20476.0  0.74364  0.94158  ...  47.6632  24.9560  -624.31  -149.24
10.0  1.0  21619.0  0.77112  0.04514  ...  11.8057  29.1590 -1937.14 -1482.73
11.0  1.0  21686.0  0.96903  0.61299  ...  34.5194  28.0330 -1521.12  -965.95
12.0  1.0  22518.0  0.28386  0.04489  ...  11.7957  45.5825  -134.94   140.99
13.0  1.0  24765.0  0.16933  0.52066  ...  30.8262  49.3456  -641.57  -388.67
14.0  1.0  24771.0  0.90644  0.58519  ...  33.4077  44.8925  3014.96  3560.84
15.0  1.0  25759.0  0.56764  0.90963  ...  46.3854  48.0249 -1169.14  -742.67
16.0  1.0  28406.0  0.61167  0.44352  ...  27.7407  37.7673 -1742.22 -1327.04
17.0  1.0  29170.0  0.43298  0.22254  ...  18.9017  44.0610   -74.37   266.78
18.0  1.0  29660.0  0.59722  0.35404  ...  24.1616  43.2356 -1119.63  -708.34
19.0  1.0  34173.0  0.90125  0.83342  ...  43.3368  28.4326 -1076.30  -539.03
20.0  1.0  34264.0  0.94564  0.29718  ...  21.8872  22.4839  -134.77   392.85
21.0  1.0  35125.0  0.91905  0.95626  ...  48.2506  33.9492 -3340.49 -2785.67
22.0  1.0  38195.0  0.16942  0.61191  ...  34.4765  42.8998    95.52   345.67
23.0  1.0  40039.0  0.01227  0.35331  ...  24.1325  41.5071   -54.70   120.84
24.0  1.0  40855.0  0.69098  0.35401  ...  24.1605  24.6359   682.43  1112.61
25.0  1.0  41954.0  0.46607  0.79685  ...  41.8742  25.5471   665.21  1024.06
26.0  1.0  45369.0  0.83486  0.02979  ...  11.1918  13.6810  -801.65  -337.83
27.0  1.0  48183.0  0.34253  0.15890  ...  16.3562  29.5602   162.66   450.59
28.0  1.0  48242.0  0.03078  0.81351  ...  42.5405  23.7876   -85.29    98.35
29.0  1.0  48855.0  0.11253  0.90627  ...  46.2507  45.4031    78.70   320.37
30.0  1.0  49736.0  0.62548  0.26017  ...  20.4070  13.9708  -297.30    92.27

[30 rows x 11 columns]

In [47]:
# เรียง data จากน้อยไปมากตาม x1
new_table_sort = new_table.sort_values('x1')
new_table_sort

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
16.0  1.0  26580.0  0.03560  0.21140  ...  18.4558  36.4210  -269.48   -95.36
1.0   1.0   1981.0  0.04348  0.61021  ...  34.4085  10.3990     7.38   174.58
14.0  1.0  24111.0  0.06433  0.73625  ...  39.4502  45.7340  -140.91    75.01
11.0  1.0  21452.0  0.09728  0.89701  ...  45.8805  47.0972   200.27   437.16
26.0  1.0  46331.0  0.11423  0.06102  ...  12.4410  33.9022  -129.93    67.11
10.0  1.0  19227.0  0.16823  0.45283  ...  28.1131  11.6360   458.46   670.51
28.0  1.0  48033.0  0.22781  0.29560  ...  21.8239  13.9167   152.01   383.88
13.0  1.0  23958.0  0.24720  0.63197  ...  35.2788  12.2183   220.61   471.99
25.0  1.0  46111.0  0.28435  0.66059  ...  36.4234  23.3644  -787.89  -509.36
2.0   1.0   2531.0  0.29017  0.09951  ...  13.9804  37.9065   793.33  1066.29
27.0  1.0  47742.0  0.33653  0.98745  ...  49.4981  45.9538  -453.89  -118.83
15.0  1.0  24967.0  0.37472  0.62599  ...  35.0395  26.3487  1286.95  1603.23
23.0  1.0  37453.0  0.46342  0.61599  ...  34.6395  33.4593 -1539.22 -1180.75
9.0   1.0  17299.0  0.55090  0.52479  ...  30.9915  15.5130    12.89   384.75
17.0  1.0  28338.0  0.56153  0.32213  ...  22.8851  41.3863  -407.77   -13.89
20.0  1.0  29722.0  0.57724  0.98427  ...  49.3709  24.5639   846.55  1256.38
24.0  1.0  45190.0  0.72916  0.76719  ...  40.6875  49.1697  2243.38  2729.90
6.0   1.0   9607.0  0.73398  0.63032  ...  35.2127  36.4801   521.56   991.85
12.0  1.0  21876.0  0.73790  0.28337  ...  21.3349  44.8408  -936.43  -470.09
30.0  1.0  49468.0  0.79715  0.59980  ...  33.9919  14.9049 -2380.77 -1908.02
22.0  1.0  35440.0  0.80057  0.68051  ...  37.2205  41.0490  2613.40  3116.90
18.0  1.0  28798.0  0.82107  0.42210  ...  26.8838  20.2515  2860.58  3341.15
7.0   1.0  12280.0  0.86419  0.39704  ...  25.8818  35.0283  1821.96  2333.55
5.0   1.0   8586.0  0.89747  0.60273  ...  34.1092  29.0339  -447.92    79.21
3.0   1.0   4150.0  0.90452  0.61563  ...  34.6253  36.6870  -961.59  -423.47
19.0  1.0  29166.0  0.91482  0.35936  ...  24.3742  42.9263  4010.57  4548.80
4.0   1.0   5575.0  0.93773  0.73333  ...  39.3333  47.8875  -757.36  -190.04
29.0  1.0  48260.0  0.94233  0.57001  ...  32.8005  38.9682 -1311.74  -758.04
8.0   1.0  16304.0  0.94392  0.18516  ...  17.4062  49.9020 -1049.17  -499.30
21.0  1.0  34834.0  0.98680  0.52949  ...  31.1796  21.5995  1169.70  1722.20

[30 rows x 11 columns]

In [27]:
new_table_sort.reset_index(inplace=True)
new_table_sort

      no   id        j        a  ...       x2       x3        E        y
0    7.0  1.0   6621.0  0.05064  ...  16.0800  43.0904  -137.20    47.23
1    4.0  1.0   4032.0  0.12840  ...  35.7360  21.7985    91.70   305.60
2   10.0  1.0  10528.0  0.15645  ...  30.4570  14.8377   212.46   425.33
3   20.0  1.0  27395.0  0.19511  ...  49.0283  39.6073   -94.59   177.09
4   27.0  1.0  39007.0  0.22566  ...  27.6057  11.7029  -368.46  -133.89
5    1.0  1.0    444.0  0.29919  ...  43.4873  37.2578  -297.88     7.54
6   11.0  1.0  11117.0  0.30813  ...  46.8170  22.6720  -156.03   141.71
7    8.0  1.0   9589.0  0.40406  ...  21.4727  18.2883  -111.47   194.92
8   15.0  1.0  19276.0  0.46434  ...  27.6276  45.4201  -216.96   146.83
9    2.0  1.0    611.0  0.56787  ...  38.4642  23.0795 -1703.41 -1309.72
10  26.0  1.0  37070.0  0.59586  ...  48.5566  12.1140  -210.69   193.32
11   9.0  1.0   9642.0  0.60466  ...  46.7013  10.0734   507.98   911.62
12  29.0  1.0  42870.0  0.63614  ...  36.8558  12.1551   -37.26   371.21
13  28.0  1.0  40703.0  0.66781  ...  30.7111  42.8235 -1086.16  -640.50
14  24.0  1.0  32521.0  0.67025  ...  41.1599  48.3695 -2473.28 -2010.65
15  19.0  1.0  23385.0  0.70108  ...  48.9435  13.3769 -1280.56  -832.81
16  16.0  1.0  20825.0  0.71482  ...  35.4561  18.6569 -1699.77 -1254.72
17  12.0  1.0  12400.0  0.73603  ...  38.5371  48.1320 -2329.98 -1843.90
18   3.0  1.0   3145.0  0.73834  ...  19.3175  35.5201  1213.77  1668.95
19  21.0  1.0  27582.0  0.76151  ...  19.1665  15.7595   -46.55   397.98
20   6.0  1.0   5338.0  0.76944  ...  40.3737  41.4802  -137.71   356.92
21  25.0  1.0  35132.0  0.78497  ...  32.9699  44.5579 -3309.66 -2813.14
22  30.0  1.0  48424.0  0.78959  ...  31.5660  32.6206 -1845.73 -1360.71
23  13.0  1.0  12522.0  0.79886  ...  30.9948  11.8191 -1087.40  -620.04
24  22.0  1.0  31229.0  0.82012  ...  14.3727  45.4436 -1818.19 -1325.33
25  18.0  1.0  23281.0  0.85798  ...  26.7478  26.8513  2767.12  3268.91
26  14.0  1.0  17390.0  0.91533  ...  43.0757  47.9272 -3389.53 -2827.39
27  23.0  1.0  31478.0  0.92934  ...  35.6673  28.0246 -1452.93  -912.50
28  17.0  1.0  22501.0  0.96097  ...  35.1518  21.3773  -929.50  -383.58
29   5.0  1.0   4175.0  0.96315  ...  14.7944  43.8453  -403.14   145.76

[30 rows x 12 columns]

In [28]:
new_table_sort.drop(['no', 'id', 'j', 'a', 'b', 'c', 'z', 'x2', 'x3', 'E'], axis=1, inplace=True)
new_table_sort

         x1        y
0   12.0258    47.23
1   15.1362   305.60
2   16.2579   425.33
3   17.8044   177.09
4   19.0262  -133.89
5   21.9677     7.54
6   22.3253   141.71
7   26.1626   194.92
8   28.5738   146.83
9   32.7147 -1309.72
10  33.8343   193.32
11  34.1865   911.62
12  35.4456   371.21
13  36.7126  -640.50
14  36.8101 -2010.65
15  38.0431  -832.81
16  38.5929 -1254.72
17  39.4410 -1843.90
18  39.5337  1668.95
19  40.4605   397.98
20  40.7776   356.92
21  41.3990 -2813.14
22  41.5834 -1360.71
23  41.9544  -620.04
24  42.8048 -1325.33
25  44.3193  3268.91
26  46.6134 -2827.39
27  47.1737  -912.50
28  48.4389  -383.58
29  48.5260   145.76

In [29]:
table1 = new_table_sort.iloc[:int(0.4*new_table_sort.shape[0]) , :]
table1

         x1        y
0   12.0258    47.23
1   15.1362   305.60
2   16.2579   425.33
3   17.8044   177.09
4   19.0262  -133.89
5   21.9677     7.54
6   22.3253   141.71
7   26.1626   194.92
8   28.5738   146.83
9   32.7147 -1309.72
10  33.8343   193.32
11  34.1865   911.62

In [30]:
table2 = new_table_sort.iloc[int((1-0.4)*new_table_sort.shape[0]): , :]
table2

         x1        y
18  39.5337  1668.95
19  40.4605   397.98
20  40.7776   356.92
21  41.3990 -2813.14
22  41.5834 -1360.71
23  41.9544  -620.04
24  42.8048 -1325.33
25  44.3193  3268.91
26  46.6134 -2827.39
27  47.1737  -912.50
28  48.4389  -383.58
29  48.5260   145.76

In [31]:
# define respones variable
y = table1['y']

# define predictor variable
x = table1[['x1']]

# add constant to predictor variable
x = sm.add_constant(x)

# fit linear regression model
model1 = sm.OLS(y, x).fit()

In [32]:
DF1 = model1.df_resid
DF1

10.0

In [33]:
SSE1 = model1.ssr
SSE1

2837898.826786425

In [34]:
model1.mse_resid

283789.8826786425

In [36]:
# define respones variable
y = table2['y']

# define predictor variable
x = table2[['x1']]

# add constant to predictor variable
x = sm.add_constant(x)

# fit linear regression model
model2 = sm.OLS(y, x).fit()

In [37]:
f = model2.mse_resid/model1.mse_resid
f

11.42690143716598