<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal

In [187]:
# numpy.random.normal(loc=0.0, scale=1.0, size=None)
# generate sample of 200 values that follow a normal distribution 
# data = normal(loc=0, scale=1, size=200)

data = pd.DataFrame({"zt1" : normal(0, 1, 1000),
                     "zt2" : normal(0, 1, 1000),
                     "zt3" : normal(0, 1, 1000)})
data

          zt1       zt2       zt3
0    1.600987 -1.028092 -2.104917
1    0.289185 -1.661313 -0.844305
2    0.297722  1.134486  0.823696
3   -0.546579  0.451835  0.907700
4    1.693335 -0.427450  0.503518
..        ...       ...       ...
995 -0.410783 -0.745927  0.367970
996  0.973549 -1.118922 -0.717532
997 -0.092202  0.118023 -1.491554
998 -0.654767 -1.223530  0.322093
999 -0.069904 -0.895873  0.306417

[1000 rows x 3 columns]

In [188]:
p = 0

In [189]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [190]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [191]:
xt1

0      1.600987
1      0.289185
2      0.297722
3     -0.546579
4      1.693335
         ...
995   -0.410783
996    0.973549
997   -0.092202
998   -0.654767
999   -0.069904
Name: zt1, Length: 1000, dtype: float64

In [192]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 1000)
                     })
new_data

          Xt1       Xt2       Xt3         e
0    1.600987 -1.028092 -2.104917  1.266001
1    0.289185 -1.661313 -0.844305 -4.549956
2    0.297722  1.134486  0.823696  0.902808
3   -0.546579  0.451835  0.907700  0.011339
4    1.693335 -0.427450  0.503518  0.046000
..        ...       ...       ...       ...
995 -0.410783 -0.745927  0.367970 -0.459169
996  0.973549 -1.118922 -0.717532  1.388426
997 -0.092202  0.118023 -1.491554 -0.000090
998 -0.654767 -1.223530  0.322093  2.895071
999 -0.069904 -0.895873  0.306417  0.587096

[1000 rows x 4 columns]

In [197]:
e = new_data['e']
e

0      1.266001
1     -4.549956
2      0.902808
3      0.011339
4      0.046000
         ...
995   -0.459169
996    1.388426
997   -0.000090
998    2.895071
999    0.587096
Name: e, Length: 1000, dtype: float64

In [198]:
X = new_data[['Xt1', 'Xt2', 'Xt3']]
Y = 4 + (0.4*(Xt1)) + (1.5*(Xt2)) + (3.6*(Xt3)) + e
Y

0      -3.421796
1      11.479265
2      10.952379
3       8.754459
4      13.375693
         ...
995     7.425164
996     2.936794
997     3.724367
998     8.423579
999    -0.728862
Name: zt1, Length: 1000, dtype: float64

In [184]:
table_data = pd.DataFrame({'Xt1' : data['zt1'],
                           'Xt2' : data['zt2'],
                           'Xt3' : data['zt3'],
                           'e'   : new_data['e'],
                           'Y'   : 4 + (0.4*(Xt1)) + (1.5*(Xt2)) + (3.6*(Xt3)) + math.e})
table_data

          Xt1       Xt2       Xt3         e          Y
0    1.564193  0.709587  1.879046 -0.063099  -3.421796
1    0.801977 -0.757484 -0.206301 -0.196843  11.479265
2   -1.027979 -0.668038  0.596827 -0.160786  10.952379
3   -1.992244 -1.323673  0.118865  6.853785   8.754459
4   -1.531006 -0.233756 -1.797706  0.000133  13.375693
..        ...       ...       ...       ...        ...
995  0.490045  1.274866  1.226496 -0.490849   7.425164
996  0.860995 -0.456238  1.140172 -0.020214   2.936794
997 -0.724334 -1.399359  0.986500 -5.965200   3.724367
998  0.277123 -1.406777 -1.291701 -1.815425   8.423579
999 -1.433248 -0.216194  1.008556  0.002099  -0.728862

[1000 rows x 5 columns]

In [180]:
4 + (0.4*(1.564193)) + (1.5*(0.709587)) + (3.6*(1.879046)) + (-0.063099)

12.391524300000002

In [200]:
4 + (0.4*(0.801977)) + (1.5*(-0.757484)) + (3.6*(-0.206301)) + (-0.196843)

2.2450382