<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics

In [9]:
# numpy.random.normal(loc=0.0, scale=1.0, size=None)
# generate sample of 200 values that follow a normal distribution 
# data = normal(loc=0, scale=1, size=200)

data = pd.DataFrame({"zt1" : normal(0, 1, 5000),
                     "zt2" : normal(0, 1, 5000),
                     "zt3" : normal(0, 1, 5000)})
data

           zt1       zt2       zt3
0    -1.239959  0.214240 -0.562664
1    -0.288387  0.689178 -1.833751
2    -1.132856 -1.975052  0.071299
3     0.882478 -0.239290  0.635645
4    -0.855861 -0.019419  3.204389
...        ...       ...       ...
4995 -0.686805  1.124245 -0.371586
4996 -1.421421  0.476900 -1.139301
4997  1.132766  1.355627 -1.097070
4998 -0.267648 -0.479414  1.641484
4999 -0.399604 -1.149292 -0.195552

[5000 rows x 3 columns]

In [10]:
data=data.reset_index()
data['rep']=data['index'].apply(lambda x: x//50)
data['index']=data['index'].apply(lambda x: x%50)
data=data.set_index(["rep","index"])
data

                zt1       zt2       zt3
rep index
0   0     -1.239959  0.214240 -0.562664
    1     -0.288387  0.689178 -1.833751
    2     -1.132856 -1.975052  0.071299
    3      0.882478 -0.239290  0.635645
    4     -0.855861 -0.019419  3.204389
...             ...       ...       ...
99  45    -0.686805  1.124245 -0.371586
    46    -1.421421  0.476900 -1.139301
    47     1.132766  1.355627 -1.097070
    48    -0.267648 -0.479414  1.641484
    49    -0.399604 -1.149292 -0.195552

[5000 rows x 3 columns]

In [11]:
p = 0

In [12]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [13]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [14]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 5000)})
new_data

                Xt1       Xt2       Xt3             e
rep index
0   0     -1.239959  0.214240 -0.562664  2.022284e-03
    1     -0.288387  0.689178 -1.833751 -2.808137e-01
    2     -1.132856 -1.975052  0.071299 -2.809273e+00
    3      0.882478 -0.239290  0.635645 -6.226101e-03
    4     -0.855861 -0.019419  3.204389  5.465285e-09
...             ...       ...       ...           ...
99  45    -0.686805  1.124245 -0.371586 -1.143330e+00
    46    -1.421421  0.476900 -1.139301  4.577435e-02
    47     1.132766  1.355627 -1.097070 -4.637400e+00
    48    -0.267648 -0.479414  1.641484 -1.533559e-02
    49    -0.399604 -1.149292 -0.195552 -1.669142e+00

[5000 rows x 4 columns]

In [15]:
new_data2=pd.DataFrame({'Xt1':[]})
rep=list({x[0] for x in set(new_data.index)})
for i in rep:
    new_data1=new_data.loc[i,:]
    table_data = pd.DataFrame({'Xt1' : data.loc[i,:]['zt1'],
                           'Xt2' : data.loc[i,:]['zt2'],
                           'Xt3' : data.loc[i,:]['zt3'],
                           'e'   : new_data1['e']})
    table_data['Y'] = 4+0.4*table_data['Xt1']+1.5*table_data['Xt2']+3.6*table_data['Xt3']+table_data['e']
    table_data['Yhat'] = 4+0.4*table_data['Xt1']+1.5*table_data['Xt2']+3.6*table_data['Xt3']
    table_data['e_hat']=table_data['Y']-table_data['Yhat']
    table_data["rep"]=i
    table_data=table_data.reset_index()
    new_data2=pd.concat([new_data2,table_data])
new_data2=new_data2.set_index(["rep","index"])
new_data2

                 Xt1       Xt2       Xt3  ...          Y       Yhat         e_hat
rep  index                                ...
0.0  0.0   -1.239959  0.214240 -0.562664  ...   1.801808   1.799785  2.022284e-03
     1.0   -0.288387  0.689178 -1.833751  ...  -1.963906  -1.683093 -2.808137e-01
     2.0   -1.132856 -1.975052  0.071299  ...  -1.968317   0.840955 -2.809273e+00
     3.0    0.882478 -0.239290  0.635645  ...   6.276153   6.282379 -6.226101e-03
     4.0   -0.855861 -0.019419  3.204389  ...  15.164326  15.164326  5.465285e-09
...              ...       ...       ...  ...        ...        ...           ...
99.0 45.0  -0.686805  1.124245 -0.371586  ...   2.930606   4.073935 -1.143330e+00
     46.0  -1.421421  0.476900 -1.139301  ...   0.091071   0.045297  4.577435e-02
     47.0   1.132766  1.355627 -1.097070  ...  -2.100306   2.537094 -4.637400e+00
     48.0  -0.267648 -0.479414  1.641484  ...   9.067825   9.083160 -1.533559e-02
     49.0  -0.399604 -1.149292 -0.195552  ...  -0.256908   1.412234 -1.669142e+00

[5000 rows x 7 columns]

In [16]:
new_data2.mean()

Xt1     -0.003689
Xt2      0.022459
Xt3      0.000717
e       -0.026512
Y        4.008283
Yhat     4.034795
e_hat   -0.026512
dtype: float64

In [17]:
new_data2.var()

Xt1       0.989234
Xt2       0.984883
Xt3       1.007621
e        80.208627
Y        94.275459
Yhat     15.349088
e_hat    80.208627
dtype: float64

In [18]:
# Compute pairwise correlation of columns, excluding NA/null values.

data.corr()

          zt1       zt2       zt3
zt1  1.000000 -0.013352 -0.027577
zt2 -0.013352  1.000000  0.001038
zt3 -0.027577  0.001038  1.000000