<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal

In [2]:
# numpy.random.normal(loc=0.0, scale=1.0, size=None)
# generate sample of 200 values that follow a normal distribution 
# data = normal(loc=0, scale=1, size=200)

data = pd.DataFrame({"zt1" : normal(0, 1, 3000),
                     "zt2" : normal(0, 1, 3000),
                     "zt3" : normal(0, 1, 3000)})
data

           zt1       zt2       zt3
0    -0.540464  0.073779 -1.166207
1    -0.331827 -2.104181  0.264570
2    -1.886577  0.865736  0.204332
3    -0.334995 -1.050004  0.895636
4    -0.858537 -0.392049  0.085487
...        ...       ...       ...
2995 -1.677359 -0.565704 -0.242240
2996  0.415297  1.460151  0.738948
2997  2.276106  0.722944 -0.241169
2998  0.395078 -1.153302  0.490780
2999 -0.867264 -0.648042  0.358929

[3000 rows x 3 columns]

In [3]:
p = 0

In [4]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [5]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [6]:
xt1

0      -0.540464
1      -0.331827
2      -1.886577
3      -0.334995
4      -0.858537
          ...
2995   -1.677359
2996    0.415297
2997    2.276106
2998    0.395078
2999   -0.867264
Name: zt1, Length: 3000, dtype: float64

In [7]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 3000)})
new_data

           Xt1       Xt2       Xt3         e
0    -0.540464  0.073779 -1.166207  0.000070
1    -0.331827 -2.104181  0.264570  4.193314
2    -1.886577  0.865736  0.204332  1.162219
3    -0.334995 -1.050004  0.895636  0.486425
4    -0.858537 -0.392049  0.085487  0.041630
...        ...       ...       ...       ...
2995 -1.677359 -0.565704 -0.242240  0.021507
2996  0.415297  1.460151  0.738948  5.946863
2997  2.276106  0.722944 -0.241169 -0.044100
2998  0.395078 -1.153302  0.490780 -2.289434
2999 -0.867264 -0.648042  0.358929 -0.109021

[3000 rows x 4 columns]

In [8]:
table_data = pd.DataFrame({'Xt1' : data['zt1'],
                           'Xt2' : data['zt2'],
                           'Xt3' : data['zt3'],
                           'e'   : new_data['e']})
table_data['Y'] = 4+0.4*table_data['Xt1']+1.5*table_data['Xt2']+3.6*table_data['Xt3']+table_data['e']
table_data

           Xt1       Xt2       Xt3         e          Y
0    -0.540464  0.073779 -1.166207  0.000070  -0.303791
1    -0.331827 -2.104181  0.264570  4.193314   5.856765
2    -1.886577  0.865736  0.204332  1.162219   6.441788
3    -0.334995 -1.050004  0.895636  0.486425   6.001711
4    -0.858537 -0.392049  0.085487  0.041630   3.417893
...        ...       ...       ...       ...        ...
2995 -1.677359 -0.565704 -0.242240  0.021507   1.629943
2996  0.415297  1.460151  0.738948  5.946863  14.963422
2997  2.276106  0.722944 -0.241169 -0.044100   5.082552
2998  0.395078 -1.153302  0.490780 -2.289434   1.905454
2999 -0.867264 -0.648042  0.358929 -0.109021   3.864155

[3000 rows x 5 columns]