<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_data_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics
import statistics as stats
import scipy.stats as ss
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm
%matplotlib inline
from google.colab import files

In [12]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome

data = pd.DataFrame({"z1" : np.random.uniform(10, 50, 500000),
                     "z2" : np.random.uniform(10, 50, 500000),
                     "z3" : np.random.uniform(10, 50, 500000)})
data

               z1         z2         z3
0       20.574073  31.412899  25.195587
1       33.435790  11.322499  13.169965
2       39.487061  26.042069  23.534937
3       27.231672  14.330895  39.292066
4       30.008548  21.770989  31.913293
...           ...        ...        ...
499995  49.741719  39.739767  25.652556
499996  17.446653  15.021751  12.475598
499997  28.774480  24.197597  34.572808
499998  35.173588  12.168232  21.655173
499999  11.628662  39.833663  34.081307

[500000 rows x 3 columns]

In [14]:
Z1 = data_new['z1']
Z2 = data_new['z2']
Z3 = data_new['z3']

In [15]:
x1 = z1
x2 = z2
x3 = z3

In [19]:
new_data = pd.DataFrame({"x1" : data['z1'],
                         "x2" : data['z2'],
                         "x3" : data['z3'],
                         "e"  : np.random.normal(0, x1**6, 500000)})

In [21]:
n=50
rep=0
table_data_all=pd.DataFrame({"rep":[]})
data_copy=data.copy()
while not data_copy.empty:
    #=========================
    if data_copy.shape[0]>n:
        index=data_copy.sample(n).index
        data_new=data_copy.loc[index,:]
        data_copy=data_copy.drop(index)
    else:
        data_new=data_copy.copy()
        data_copy=pd.DataFrame({"":[]})
    #=========================

    table_data = pd.DataFrame({'x1' : data['z1'],
                               'x2' : data['z2'],
                               'x3' : data['z3'],
                               'e'  : new_data['e']})
  

    table_data['Y'] = 5 + 10*table_data['x1'] + table_data['x2'] + table_data['x3'] + table_data['e']
    #table_data['Y_hat'] = 4+0.4*table_data['Xt1']+1.5*table_data['Xt2']+3.6*table_data['Xt3']
    
    table_data=table_data.reset_index(drop=True).reset_index()
    table_data["rep"]=rep
    table_data_all=pd.concat([table_data_all,table_data],axis=0,ignore_index=True,sort=False)
    # display(table_data)
    rep+=1
    if rep==100:
      break
table_data_all=table_data_all.set_index(["rep","index"])
table_data_all

                      x1         x2         x3             e             Y
rep  index
0.0  0.0       20.574073  31.412899  25.195587 -2.744558e+09 -2.744557e+09
     1.0       33.435790  11.322499  13.169965 -5.287496e+09 -5.287496e+09
     2.0       39.487061  26.042069  23.534937  5.547916e+09  5.547917e+09
     3.0       27.231672  14.330895  39.292066 -1.634088e+06 -1.633757e+06
     4.0       30.008548  21.770989  31.913293  5.000004e+07  5.000039e+07
...                  ...        ...        ...           ...           ...
99.0 499995.0  49.741719  39.739767  25.652556 -1.779652e+07 -1.779595e+07
     499996.0  17.446653  15.021751  12.475598 -1.531460e+09 -1.531460e+09
     499997.0  28.774480  24.197597  34.572808 -3.114064e+09 -3.114064e+09
     499998.0  35.173588  12.168232  21.655173 -5.521610e+08 -5.521606e+08
     499999.0  11.628662  39.833663  34.081307  3.022315e+06  3.022510e+06

[50000000 rows x 5 columns]