<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [12]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome
data = pd.DataFrame({"a" : np.random.uniform(low=10, high=50, size=5000),
                     "b" : np.random.uniform(low=10, high=50, size=5000),
                     "c" : np.random.uniform(low=10, high=50, size=5000)
                     })
data

              a          b          c
0     15.319162  15.189215  10.405306
1     17.372583  27.587478  49.710544
2     26.383394  39.299213  42.596931
3     26.487836  14.028435  29.246657
4     11.579771  41.931764  25.124639
...         ...        ...        ...
4995  14.486993  34.959447  21.144068
4996  25.773412  20.806085  48.511984
4997  13.888749  16.152091  48.411275
4998  33.174368  17.994812  39.867346
4999  40.707067  10.438217  17.520662

[5000 rows x 3 columns]