<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal

In [18]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [19]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome

data = pd.DataFrame({"x1" : np.random.uniform(low=10, high=50, size=5000),
                     "x2" : np.random.uniform(low=10, high=50, size=5000),
                     "x3" : np.random.uniform(low=10, high=50, size=5000)})
data

             x1         x2         x3
0     12.056162  41.378446  21.438430
1     19.751434  41.573233  49.985591
2     45.202787  48.869778  13.511799
3     28.171033  23.525898  47.126121
4     19.699739  26.509346  40.633702
...         ...        ...        ...
4995  10.059887  37.563939  35.083883
4996  11.160771  14.905222  12.370623
4997  29.143268  43.363812  11.203953
4998  44.716736  13.219151  16.076462
4999  45.020357  24.686027  10.820155

[5000 rows x 3 columns]

In [20]:
x1 = data['x1']
x2 = data['x2']
x3 = data['x3']

In [21]:
new_data = pd.DataFrame({"x1" : data['x1'],
                         "x2" : data['x2'],
                         "x3" : data['x3'],
                         "e"  : np.random.normal(0, (np.sqrt(X1**4)), 5000)})
new_data

             x1         x2         x3             e
0     12.056162  41.378446  21.438430  1.773482e+04
1     19.751434  41.573233  49.985591 -3.833780e+05
2     45.202787  48.869778  13.511799 -1.045067e+05
3     28.171033  23.525898  47.126121  4.295852e+06
4     19.699739  26.509346  40.633702 -5.374157e+05
...         ...        ...        ...           ...
4995  10.059887  37.563939  35.083883 -2.122036e+06
4996  11.160771  14.905222  12.370623 -6.499851e+06
4997  29.143268  43.363812  11.203953 -1.256093e+05
4998  44.716736  13.219151  16.076462  2.598098e+04
4999  45.020357  24.686027  10.820155 -4.689728e+06

[5000 rows x 4 columns]

In [23]:
table_data = pd.DataFrame({"x1" : data['x1'],
                           "x2" : data['x2'],
                           "x3" : data['x3'],
                           "e"  : new_data["e"]})
table_data['Y'] = 5 + 10*table_data['x1'] + table_data['x2'] + table_data['x3'] + table_data['e']
table_data

             x1         x2         x3             e             Y
0     12.056162  41.378446  21.438430  1.773482e+04  1.792320e+04
1     19.751434  41.573233  49.985591 -3.833780e+05 -3.830839e+05
2     45.202787  48.869778  13.511799 -1.045067e+05 -1.039873e+05
3     28.171033  23.525898  47.126121  4.295852e+06  4.296210e+06
4     19.699739  26.509346  40.633702 -5.374157e+05 -5.371466e+05
...         ...        ...        ...           ...           ...
4995  10.059887  37.563939  35.083883 -2.122036e+06 -2.121858e+06
4996  11.160771  14.905222  12.370623 -6.499851e+06 -6.499707e+06
4997  29.143268  43.363812  11.203953 -1.256093e+05 -1.252583e+05
4998  44.716736  13.219151  16.076462  2.598098e+04  2.646244e+04
4999  45.020357  24.686027  10.820155 -4.689728e+06 -4.689237e+06

[5000 rows x 5 columns]

In [ ]:
# Importing required libraries
 
#import numpy as np
#import matplotlib.pyplot as plt
 
# Creating a series of data of in range of 1-50.
#x = np.linspace(1,50,200)
 
#Creating a Function.
#def normal_dist(x , mean , sd):
    #prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    #return prob_density
 
#Calculate mean and Standard deviation.
#mean = np.mean(x)
#sd = np.std(x)
 
#Apply function to the data.
#pdf = normal_dist(x,mean,sd)
#pdf