<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [10]:
# random.uniform(a, b)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome
data = pd.DataFrame({"a" : np.random.uniform(low=10, high=50, size=5000),
                    "b" : np.random.uniform(low=10, high=50, size=5000)})
data

              a          b
0     37.536530  47.384809
1     32.779777  27.198828
2     16.438857  30.246702
3     28.675201  23.282592
4     23.806882  33.148821
...         ...        ...
4995  37.470067  41.736147
4996  23.529195  46.451624
4997  36.020653  20.796611
4998  26.163841  40.102745
4999  35.606580  40.314674

[5000 rows x 2 columns]