<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics

In [16]:
# numpy.random.normal(loc=0.0, scale=1.0, size=None)
# generate sample of 200 values that follow a normal distribution 
# data = normal(loc=0, scale=1, size=200)

data = pd.DataFrame({"zt1" : normal(0, 1, 3000),
                     "zt2" : normal(0, 1, 3000),
                     "zt3" : normal(0, 1, 3000)})
data

           zt1       zt2       zt3
0     1.179403 -2.136678  1.631241
1    -2.277413 -0.023689  0.614364
2     0.341338 -0.466866 -1.479848
3     1.615833 -0.319529  1.318925
4     0.424138  0.782640  0.095828
...        ...       ...       ...
2995 -0.069159  0.729048  0.703688
2996  0.109980  1.062104  0.667928
2997  0.604871 -0.465668  1.915500
2998 -0.714607  0.749591 -0.180616
2999 -0.568497 -0.684870 -2.306144

[3000 rows x 3 columns]

In [17]:
p = 0

In [18]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [19]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [20]:
xt1

0       1.179403
1      -2.277413
2       0.341338
3       1.615833
4       0.424138
          ...
2995   -0.069159
2996    0.109980
2997    0.604871
2998   -0.714607
2999   -0.568497
Name: zt1, Length: 3000, dtype: float64

In [21]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 3000)})
new_data

           Xt1       Xt2       Xt3             e
0     1.179403 -2.136678  1.631241 -3.338519e+01
1    -2.277413 -0.023689  0.614364  3.902090e-08
2     0.341338 -0.466866 -1.479848  3.431243e-02
3     1.615833 -0.319529  1.318925  1.621781e-02
4     0.424138  0.782640  0.095828  3.467880e-01
...        ...       ...       ...           ...
2995 -0.069159  0.729048  0.703688  1.859437e-02
2996  0.109980  1.062104  0.667928  1.967645e+00
2997  0.604871 -0.465668  1.915500  2.261252e-02
2998 -0.714607  0.749591 -0.180616  7.255309e-01
2999 -0.568497 -0.684870 -2.306144 -1.527380e-01

[3000 rows x 4 columns]

In [22]:
table_data = pd.DataFrame({'Xt1' : data['zt1'],
                           'Xt2' : data['zt2'],
                           'Xt3' : data['zt3'],
                           'e'   : new_data['e']})
table_data['Y'] = 4+0.4*table_data['Xt1']+1.5*table_data['Xt2']+3.6*table_data['Xt3']+table_data['e']
table_data

           Xt1       Xt2       Xt3             e          Y
0     1.179403 -2.136678  1.631241 -3.338519e+01 -26.245982
1    -2.277413 -0.023689  0.614364  3.902090e-08   5.265213
2     0.341338 -0.466866 -1.479848  3.431243e-02  -1.856904
3     1.615833 -0.319529  1.318925  1.621781e-02   8.931388
4     0.424138  0.782640  0.095828  3.467880e-01   6.035385
...        ...       ...       ...           ...        ...
2995 -0.069159  0.729048  0.703688  1.859437e-02   7.617782
2996  0.109980  1.062104  0.667928  1.967645e+00  10.009336
2997  0.604871 -0.465668  1.915500  2.261252e-02  10.461858
2998 -0.714607  0.749591 -0.180616  7.255309e-01   4.913856
2999 -0.568497 -0.684870 -2.306144 -1.527380e-01  -5.709560

[3000 rows x 5 columns]

In [26]:
new_data.mean()

Xt1   -0.036619
Xt2    0.014718
Xt3    0.032282
e     -0.010276
dtype: float64

In [27]:
new_data.var()

Xt1     0.981878
Xt2     1.011021
Xt3     1.000045
e      97.710191
dtype: float64

In [28]:
# Compute pairwise correlation of columns, excluding NA/null values.

new_data.corr()

          Xt1       Xt2       Xt3         e
Xt1  1.000000  0.017150 -0.029900 -0.028557
Xt2  0.017150  1.000000  0.010787  0.109490
Xt3 -0.029900  0.010787  1.000000 -0.009234
e   -0.028557  0.109490 -0.009234  1.000000