<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
import pandas as pd
import numpy as np

In [ ]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [115]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome
data = pd.DataFrame({"x1" : np.random.uniform(low=10, high=50, size=5000),
                     "x2" : np.random.uniform(low=10, high=50, size=5000),
                     "x3" : np.random.uniform(low=10, high=50, size=5000),
                     #"e"  : np.random.normal(0, (np.sqrt(x1**4)), 5000)
                     })
data

             x1         x2         x3
0     27.253247  32.940987  34.701632
1     33.120388  36.472513  41.255387
2     13.873706  40.007924  38.254606
3     39.489505  49.043340  16.320470
4     42.912173  36.349609  39.549439
...         ...        ...        ...
4995  21.255076  46.877856  12.737897
4996  36.575465  19.674271  14.506233
4997  44.622562  49.271219  40.257471
4998  21.094493  24.614617  36.667629
4999  33.859816  42.201023  26.888493

[5000 rows x 3 columns]

In [116]:
X1 = data['x1']
X1 = np.sqrt(X1**4)
X1

0        742.739476
1       1096.960130
2        192.479721
3       1559.421011
4       1841.454634
           ...
4995     451.778247
4996    1337.764604
4997    1991.173047
4998     444.977618
4999    1146.487145
Name: x1, Length: 5000, dtype: float64

In [127]:
new_data = pd.DataFrame({ "x1" : data['x1'],
                            "x2" : data['x2'],
                            "x3" : data['x3'],
                            "e"  : np.random.normal(0, (np.sqrt(x1**4)), 5000)
                     })
new_data

             x1         x2         x3            e
0     27.253247  32.940987  34.701632  -411.297303
1     33.120388  36.472513  41.255387 -2053.986740
2     13.873706  40.007924  38.254606  4388.345884
3     39.489505  49.043340  16.320470 -1584.270680
4     42.912173  36.349609  39.549439  2292.465873
...         ...        ...        ...          ...
4995  21.255076  46.877856  12.737897 -1003.692474
4996  36.575465  19.674271  14.506233  -927.706445
4997  44.622562  49.271219  40.257471  -102.371953
4998  21.094493  24.614617  36.667629  1197.952190
4999  33.859816  42.201023  26.888493   253.374199

[5000 rows x 4 columns]

In [128]:
X = new_data[['x1', 'x2', 'x3', 'e']]
Y = 5+(10*x1)+x2+x3+e
Y

0        346.544510
1        457.362093
2       -338.119497
3       -711.549866
4        501.140115
           ...
4995    -853.789333
4996     607.586042
4997   -2793.919033
4998     411.386296
4999    5252.046460
Length: 5000, dtype: float64

In [130]:
table_data = pd.DataFrame({ "x1" : data['x1'],
                            "x2" : data['x2'],
                            "x3" : data['x3'],
                            "e"  : new_data['e'],
                            "Y"  : 5+(10*x1)+x2+x3+e
                     })
table_data

             x1         x2         x3            e            Y
0     27.253247  32.940987  34.701632  -411.297303   346.544510
1     33.120388  36.472513  41.255387 -2053.986740   457.362093
2     13.873706  40.007924  38.254606  4388.345884  -338.119497
3     39.489505  49.043340  16.320470 -1584.270680  -711.549866
4     42.912173  36.349609  39.549439  2292.465873   501.140115
...         ...        ...        ...          ...          ...
4995  21.255076  46.877856  12.737897 -1003.692474  -853.789333
4996  36.575465  19.674271  14.506233  -927.706445   607.586042
4997  44.622562  49.271219  40.257471  -102.371953 -2793.919033
4998  21.094493  24.614617  36.667629  1197.952190   411.386296
4999  33.859816  42.201023  26.888493   253.374199  5252.046460

[5000 rows x 5 columns]

In [ ]:
# Importing required libraries
 
#import numpy as np
#import matplotlib.pyplot as plt
 
# Creating a series of data of in range of 1-50.
#x = np.linspace(1,50,200)
 
#Creating a Function.
#def normal_dist(x , mean , sd):
    #prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    #return prob_density
 
#Calculate mean and Standard deviation.
#mean = np.mean(x)
#sd = np.std(x)
 
#Apply function to the data.
#pdf = normal_dist(x,mean,sd)
#pdf