<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/generate_datanew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal

In [2]:
# numpy.random.normal(loc=0.0, scale=1.0, size=None)
# generate sample of 200 values that follow a normal distribution 
# data = normal(loc=0, scale=1, size=200)

data = pd.DataFrame({"zt1" : normal(0, 1, 1000),
                     "zt2" : normal(0, 1, 1000),
                     "zt3" : normal(0, 1, 1000)})
data

          zt1       zt2       zt3
0    1.091401 -1.125581  0.601764
1    0.132798  1.599285  0.804812
2    1.130606  0.806626  0.024457
3   -0.073988 -1.202967  1.017116
4    2.781931 -0.011885 -0.595608
..        ...       ...       ...
995  0.705804  1.228102  0.474789
996 -1.115063  0.339728 -0.784395
997 -0.014194  1.304043 -0.265015
998 -0.389964 -2.664324  1.686066
999  0.004528 -0.718175  0.317289

[1000 rows x 3 columns]

In [3]:
p = 0

In [4]:
Zt1 = data['zt1']
Zt2 = data['zt2']
Zt3 = data['zt3']

In [5]:
xt1 = (1-(p**2))**(1/2)*Zt1
xt2 = (1-(p**2))**(1/2)*Zt2
xt3 = (1-(p**2))**(1/2)*Zt3

In [6]:
xt1

0      1.091401
1      0.132798
2      1.130606
3     -0.073988
4      2.781931
         ...
995    0.705804
996   -1.115063
997   -0.014194
998   -0.389964
999    0.004528
Name: zt1, Length: 1000, dtype: float64

In [7]:
new_data = pd.DataFrame({'Xt1' : data['zt1'],
                         'Xt2' : data['zt2'],
                         'Xt3' : data['zt3'],
                         'e'   : normal(0, xt2**4, 1000)})
new_data

          Xt1       Xt2       Xt3             e
0    1.091401 -1.125581  0.601764  2.301846e-01
1    0.132798  1.599285  0.804812 -4.054139e+00
2    1.130606  0.806626  0.024457 -3.089823e-01
3   -0.073988 -1.202967  1.017116  3.854397e-01
4    2.781931 -0.011885 -0.595608 -1.722884e-08
..        ...       ...       ...           ...
995  0.705804  1.228102  0.474789 -5.451166e+00
996 -1.115063  0.339728 -0.784395 -2.185608e-03
997 -0.014194  1.304043 -0.265015  8.428715e-01
998 -0.389964 -2.664324  1.686066 -4.266548e+01
999  0.004528 -0.718175  0.317289  4.534287e-02

[1000 rows x 4 columns]

In [8]:
table_data = pd.DataFrame({'Xt1' : data['zt1'],
                           'Xt2' : data['zt2'],
                           'Xt3' : data['zt3'],
                           'e'   : new_data['e']})
table_data["Y"] = 4+0.4*table_data['Xt1']+1.5*table_data['Xt2']+3.6*table_data['Xt3']+table_data['e']
table_data

          Xt1       Xt2       Xt3             e          Y
0    1.091401 -1.125581  0.601764  2.301846e-01   5.144724
1    0.132798  1.599285  0.804812 -4.054139e+00   5.295233
2    1.130606  0.806626  0.024457 -3.089823e-01   5.441245
3   -0.073988 -1.202967  1.017116  3.854397e-01   6.213012
4    2.781931 -0.011885 -0.595608 -1.722884e-08   2.950756
..        ...       ...       ...           ...        ...
995  0.705804  1.228102  0.474789 -5.451166e+00   2.382550
996 -1.115063  0.339728 -0.784395 -2.185608e-03   1.237559
997 -0.014194  1.304043 -0.265015  8.428715e-01   5.839206
998 -0.389964 -2.664324  1.686066 -4.266548e+01 -36.748116
999  0.004528 -0.718175  0.317289  4.534287e-02   4.112131

[1000 rows x 5 columns]