<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/GQtest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv')
df

       no  Replicate   id       j  ...       x3        E        y  Unnamed: 13
0     1.0        1.0  1.0   444.0  ...  37.2578  -297.88     7.54          NaN
1     2.0        1.0  1.0   611.0  ...  23.0795 -1703.41 -1309.72          NaN
2     3.0        1.0  1.0  3145.0  ...  35.5201  1213.77  1668.95          NaN
3     4.0        1.0  1.0  4032.0  ...  21.7985    91.70   305.60          NaN
4     5.0        1.0  1.0  4175.0  ...  43.8453  -403.14   145.76          NaN
...   ...        ...  ...     ...  ...      ...      ...      ...          ...
3145  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3146  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3147  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3148  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3149  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN

[3150 rows x 14 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv', index_col=['Replicate', 'no'])
df

                id       j        a  ...        E        y  Unnamed: 13
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  -297.88     7.54          NaN
          2.0  1.0   611.0  0.56787  ... -1703.41 -1309.72          NaN
          3.0  1.0  3145.0  0.73834  ...  1213.77  1668.95          NaN
          4.0  1.0  4032.0  0.12840  ...    91.70   305.60          NaN
          5.0  1.0  4175.0  0.96315  ...  -403.14   145.76          NaN
...            ...     ...      ...  ...      ...      ...          ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN

[3150 rows x 12 columns]

In [4]:
# การเช็คว่าเจอ missing value หรือไม่ ถ้าไม่มีก็จะขึ้นว่า false คือไม่เจอ
df.isnull()

                  id      j      a      b  ...     x3      E      y  Unnamed: 13
Replicate no                               ...
1.0       1.0  False  False  False  False  ...  False  False  False         True
          2.0  False  False  False  False  ...  False  False  False         True
          3.0  False  False  False  False  ...  False  False  False         True
          4.0  False  False  False  False  ...  False  False  False         True
          5.0  False  False  False  False  ...  False  False  False         True
...              ...    ...    ...    ...  ...    ...    ...    ...          ...
NaN       NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True

[3150 rows x 12 columns]

In [5]:
# ลบ  colum
df.drop(['Unnamed: 13'], axis=1, inplace=True)
df

                id       j        a  ...       x3        E        y
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0  1.0   611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0  1.0  3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0  1.0  4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0  1.0  4175.0  0.96315  ...  43.8453  -403.14   145.76
...            ...     ...      ...  ...      ...      ...      ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN

[3150 rows x 11 columns]

In [6]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [7]:
table.reset_index(inplace=True)
table

      Replicate    no   id        j  ...       x2       x3        E        y
0           1.0   1.0  1.0    444.0  ...  43.4873  37.2578  -297.88     7.54
1           1.0   2.0  1.0    611.0  ...  38.4642  23.0795 -1703.41 -1309.72
2           1.0   3.0  1.0   3145.0  ...  19.3175  35.5201  1213.77  1668.95
3           1.0   4.0  1.0   4032.0  ...  35.7360  21.7985    91.70   305.60
4           1.0   5.0  1.0   4175.0  ...  14.7944  43.8453  -403.14   145.76
...         ...   ...  ...      ...  ...      ...      ...      ...      ...
2995      100.0  26.0  1.0  46183.0  ...  22.2501  10.4640   -53.99   238.96
2996      100.0  27.0  1.0  49111.0  ...  37.9048  26.8103    16.19   348.41
2997      100.0  28.0  1.0  49469.0  ...  36.6570  22.3726   389.88   714.03
2998      100.0  29.0  1.0  49549.0  ...  24.8457  23.0568  -256.29   -59.73
2999      100.0  30.0  1.0  49564.0  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]

In [8]:
table.set_index(['Replicate', 'no'], inplace=True)

In [9]:
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [46]:
# แสดงค่าของ Replicate ที่ 1.0
new_table = table.loc[84]
new_table

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
1.0   1.0    320.0  0.68537  0.62177  ...  34.8708  34.6870   -16.00   432.71
2.0   1.0   5826.0  0.52330  0.78320  ...  41.3280  38.4400 -1357.43  -963.34
3.0   1.0   6080.0  0.75447  0.90365  ...  46.1461  33.4356  1215.52  1701.89
4.0   1.0   6136.0  0.55913  0.09953  ...  13.9811  25.7044   384.58   752.92
5.0   1.0   8768.0  0.88867  0.19161  ...  17.6644  17.8903   391.09   887.11
6.0   1.0  11800.0  0.93098  0.66628  ...  36.6510  16.6729 -1050.53  -519.81
7.0   1.0  11951.0  0.87119  0.51185  ...  30.4740  42.4847 -1791.39 -1264.95
8.0   1.0  12136.0  0.81076  0.41874  ...  26.7497  44.6667 -1017.69  -516.97
9.0   1.0  15864.0  0.41121  0.27797  ...  21.1187  21.0499 -1180.00  -868.35
10.0  1.0  17669.0  0.23434  0.12834  ...  15.1336  16.6643   -61.04   169.49
11.0  1.0  19931.0  0.36409  0.27439  ...  20.9756  29.6322  -577.01  -275.77
12.0  1.0  21321.0  0.79443  0.13156  ...  15.2625  42.3572   804.73  1285.12
13.0  1.0  21618.0  0.93367  0.88814  ...  45.5256  48.0754  1420.89  1992.96
14.0  1.0  22645.0  0.87901  0.12547  ...  15.0188  47.5592  -904.67  -385.49
15.0  1.0  25648.0  0.29295  0.29792  ...  21.9169  27.3087   382.21   653.62
16.0  1.0  28164.0  0.39565  0.66649  ...  36.6597  34.3411  1502.66  1836.92
17.0  1.0  29965.0  0.63632  0.19711  ...  17.8843  45.2403  -717.81  -295.15
18.0  1.0  30511.0  0.41429  0.43710  ...  27.4840  16.4951    45.07   359.77
19.0  1.0  32956.0  0.39567  0.73757  ...  39.5027  41.1132 -1188.40  -844.52
20.0  1.0  33188.0  0.77208  0.38549  ...  25.4197  34.7682 -2519.50 -2045.48
21.0  1.0  33540.0  0.26052  0.88327  ...  45.3308  49.1378  -413.28  -109.61
22.0  1.0  34539.0  0.27402  0.53770  ...  31.5080  18.5628   659.35   924.03
23.0  1.0  37917.0  0.42648  0.71800  ...  38.7201  18.6875  -245.80    87.20
24.0  1.0  40138.0  0.44916  0.64098  ...  35.6394  23.2862   -11.81   331.77
25.0  1.0  44202.0  0.30154  0.07466  ...  12.9862  49.7058   260.71   549.02
26.0  1.0  45037.0  0.78256  0.79481  ...  41.7925  32.3082   492.59   984.72
27.0  1.0  45887.0  0.02362  0.31608  ...  22.6433  27.3381  -165.44    -1.01
28.0  1.0  46638.0  0.31492  0.51416  ...  30.5665  24.9538   -20.45   266.04
29.0  1.0  49707.0  0.00255  0.80971  ...  42.3884  20.7253    79.40   248.53
30.0  1.0  49778.0  0.52042  0.99789  ...  49.9156  12.7526  -429.12   -53.29

[30 rows x 11 columns]

In [47]:
# เรียง data จากน้อยไปมากตาม x1
new_table_sort = new_table.sort_values('x1')
new_table_sort

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
29.0  1.0  49707.0  0.00255  0.80971  ...  42.3884  20.7253    79.40   248.53
27.0  1.0  45887.0  0.02362  0.31608  ...  22.6433  27.3381  -165.44    -1.01
10.0  1.0  17669.0  0.23434  0.12834  ...  15.1336  16.6643   -61.04   169.49
21.0  1.0  33540.0  0.26052  0.88327  ...  45.3308  49.1378  -413.28  -109.61
22.0  1.0  34539.0  0.27402  0.53770  ...  31.5080  18.5628   659.35   924.03
15.0  1.0  25648.0  0.29295  0.29792  ...  21.9169  27.3087   382.21   653.62
25.0  1.0  44202.0  0.30154  0.07466  ...  12.9862  49.7058   260.71   549.02
28.0  1.0  46638.0  0.31492  0.51416  ...  30.5665  24.9538   -20.45   266.04
11.0  1.0  19931.0  0.36409  0.27439  ...  20.9756  29.6322  -577.01  -275.77
16.0  1.0  28164.0  0.39565  0.66649  ...  36.6597  34.3411  1502.66  1836.92
19.0  1.0  32956.0  0.39567  0.73757  ...  39.5027  41.1132 -1188.40  -844.52
9.0   1.0  15864.0  0.41121  0.27797  ...  21.1187  21.0499 -1180.00  -868.35
18.0  1.0  30511.0  0.41429  0.43710  ...  27.4840  16.4951    45.07   359.77
23.0  1.0  37917.0  0.42648  0.71800  ...  38.7201  18.6875  -245.80    87.20
24.0  1.0  40138.0  0.44916  0.64098  ...  35.6394  23.2862   -11.81   331.77
30.0  1.0  49778.0  0.52042  0.99789  ...  49.9156  12.7526  -429.12   -53.29
2.0   1.0   5826.0  0.52330  0.78320  ...  41.3280  38.4400 -1357.43  -963.34
4.0   1.0   6136.0  0.55913  0.09953  ...  13.9811  25.7044   384.58   752.92
17.0  1.0  29965.0  0.63632  0.19711  ...  17.8843  45.2403  -717.81  -295.15
1.0   1.0    320.0  0.68537  0.62177  ...  34.8708  34.6870   -16.00   432.71
3.0   1.0   6080.0  0.75447  0.90365  ...  46.1461  33.4356  1215.52  1701.89
20.0  1.0  33188.0  0.77208  0.38549  ...  25.4197  34.7682 -2519.50 -2045.48
26.0  1.0  45037.0  0.78256  0.79481  ...  41.7925  32.3082   492.59   984.72
12.0  1.0  21321.0  0.79443  0.13156  ...  15.2625  42.3572   804.73  1285.12
8.0   1.0  12136.0  0.81076  0.41874  ...  26.7497  44.6667 -1017.69  -516.97
7.0   1.0  11951.0  0.87119  0.51185  ...  30.4740  42.4847 -1791.39 -1264.95
14.0  1.0  22645.0  0.87901  0.12547  ...  15.0188  47.5592  -904.67  -385.49
5.0   1.0   8768.0  0.88867  0.19161  ...  17.6644  17.8903   391.09   887.11
6.0   1.0  11800.0  0.93098  0.66628  ...  36.6510  16.6729 -1050.53  -519.81
13.0  1.0  21618.0  0.93367  0.88814  ...  45.5256  48.0754  1420.89  1992.96

[30 rows x 11 columns]

In [48]:
new_table_sort.reset_index(inplace=True)
new_table_sort

      no   id        j        a  ...       x2       x3        E        y
0   29.0  1.0  49707.0  0.00255  ...  42.3884  20.7253    79.40   248.53
1   27.0  1.0  45887.0  0.02362  ...  22.6433  27.3381  -165.44    -1.01
2   10.0  1.0  17669.0  0.23434  ...  15.1336  16.6643   -61.04   169.49
3   21.0  1.0  33540.0  0.26052  ...  45.3308  49.1378  -413.28  -109.61
4   22.0  1.0  34539.0  0.27402  ...  31.5080  18.5628   659.35   924.03
5   15.0  1.0  25648.0  0.29295  ...  21.9169  27.3087   382.21   653.62
6   25.0  1.0  44202.0  0.30154  ...  12.9862  49.7058   260.71   549.02
7   28.0  1.0  46638.0  0.31492  ...  30.5665  24.9538   -20.45   266.04
8   11.0  1.0  19931.0  0.36409  ...  20.9756  29.6322  -577.01  -275.77
9   16.0  1.0  28164.0  0.39565  ...  36.6597  34.3411  1502.66  1836.92
10  19.0  1.0  32956.0  0.39567  ...  39.5027  41.1132 -1188.40  -844.52
11   9.0  1.0  15864.0  0.41121  ...  21.1187  21.0499 -1180.00  -868.35
12  18.0  1.0  30511.0  0.41429  ...  27.4840  16.4951    45.07   359.77
13  23.0  1.0  37917.0  0.42648  ...  38.7201  18.6875  -245.80    87.20
14  24.0  1.0  40138.0  0.44916  ...  35.6394  23.2862   -11.81   331.77
15  30.0  1.0  49778.0  0.52042  ...  49.9156  12.7526  -429.12   -53.29
16   2.0  1.0   5826.0  0.52330  ...  41.3280  38.4400 -1357.43  -963.34
17   4.0  1.0   6136.0  0.55913  ...  13.9811  25.7044   384.58   752.92
18  17.0  1.0  29965.0  0.63632  ...  17.8843  45.2403  -717.81  -295.15
19   1.0  1.0    320.0  0.68537  ...  34.8708  34.6870   -16.00   432.71
20   3.0  1.0   6080.0  0.75447  ...  46.1461  33.4356  1215.52  1701.89
21  20.0  1.0  33188.0  0.77208  ...  25.4197  34.7682 -2519.50 -2045.48
22  26.0  1.0  45037.0  0.78256  ...  41.7925  32.3082   492.59   984.72
23  12.0  1.0  21321.0  0.79443  ...  15.2625  42.3572   804.73  1285.12
24   8.0  1.0  12136.0  0.81076  ...  26.7497  44.6667 -1017.69  -516.97
25   7.0  1.0  11951.0  0.87119  ...  30.4740  42.4847 -1791.39 -1264.95
26  14.0  1.0  22645.0  0.87901  ...  15.0188  47.5592  -904.67  -385.49
27   5.0  1.0   8768.0  0.88867  ...  17.6644  17.8903   391.09   887.11
28   6.0  1.0  11800.0  0.93098  ...  36.6510  16.6729 -1050.53  -519.81
29  13.0  1.0  21618.0  0.93367  ...  45.5256  48.0754  1420.89  1992.96

[30 rows x 12 columns]

In [49]:
new_table_sort.drop(['no', 'id', 'j', 'a', 'b', 'c', 'z', 'E'], axis=1, inplace=True)
new_table_sort

         x1       x2       x3        y
0   10.1020  42.3884  20.7253   248.53
1   10.9449  22.6433  27.3381    -1.01
2   19.3735  15.1336  16.6643   169.49
3   20.4206  45.3308  49.1378  -109.61
4   20.9607  31.5080  18.5628   924.03
5   21.7182  21.9169  27.3087   653.62
6   22.0617  12.9862  49.7058   549.02
7   22.5970  30.5665  24.9538   266.04
8   24.5634  20.9756  29.6322  -275.77
9   25.8261  36.6597  34.3411  1836.92
10  25.8267  39.5027  41.1132  -844.52
11  26.4485  21.1187  21.0499  -868.35
12  26.5717  27.4840  16.4951   359.77
13  27.0593  38.7201  18.6875    87.20
14  27.9663  35.6394  23.2862   331.77
15  30.8167  49.9156  12.7526   -53.29
16  30.9321  41.3280  38.4400  -963.34
17  32.3651  13.9811  25.7044   752.92
18  35.4530  17.8843  45.2403  -295.15
19  37.4149  34.8708  34.6870   432.71
20  40.1789  46.1461  33.4356  1701.89
21  40.8831  25.4197  34.7682 -2045.48
22  41.3025  41.7925  32.3082   984.72
23  41.7773  15.2625  42.3572  1285.12
24  42.4304  26.7497  44.6667  -516.97
25  44.8478  30.4740  42.4847 -1264.95
26  45.1605  15.0188  47.5592  -385.49
27  45.5468  17.6644  17.8903   887.11
28  47.2391  36.6510  16.6729  -519.81
29  47.3469  45.5256  48.0754  1992.96

In [50]:
# แบ่งข้อมูลกลุ่มที่ 1
#table1 = new_table_sort.iloc[:12 , :]
#table1

table1 = new_table_sort.iloc[:int(0.4*new_table_sort.shape[0]) , :]
table1

         x1       x2       x3        y
0   10.1020  42.3884  20.7253   248.53
1   10.9449  22.6433  27.3381    -1.01
2   19.3735  15.1336  16.6643   169.49
3   20.4206  45.3308  49.1378  -109.61
4   20.9607  31.5080  18.5628   924.03
5   21.7182  21.9169  27.3087   653.62
6   22.0617  12.9862  49.7058   549.02
7   22.5970  30.5665  24.9538   266.04
8   24.5634  20.9756  29.6322  -275.77
9   25.8261  36.6597  34.3411  1836.92
10  25.8267  39.5027  41.1132  -844.52
11  26.4485  21.1187  21.0499  -868.35

In [51]:
table2 = new_table_sort.iloc[int((1-0.4)*new_table_sort.shape[0]): , :]
table2

         x1       x2       x3        y
18  35.4530  17.8843  45.2403  -295.15
19  37.4149  34.8708  34.6870   432.71
20  40.1789  46.1461  33.4356  1701.89
21  40.8831  25.4197  34.7682 -2045.48
22  41.3025  41.7925  32.3082   984.72
23  41.7773  15.2625  42.3572  1285.12
24  42.4304  26.7497  44.6667  -516.97
25  44.8478  30.4740  42.4847 -1264.95
26  45.1605  15.0188  47.5592  -385.49
27  45.5468  17.6644  17.8903   887.11
28  47.2391  36.6510  16.6729  -519.81
29  47.3469  45.5256  48.0754  1992.96

In [52]:
# define respones variable
y = table1['y']

# define predictor variable
x = table1[['x1', 'x2', 'x3']]

# add constant to predictor variable
x = sm.add_constant(x)

# fit linear regression model
model1 = sm.OLS(y, x).fit()

# view model summary
# print(model.summary())

In [53]:
# หาค่า df กลุ่ม 1
DF1 = model1.df_resid+1
DF1

9.0

In [54]:
# หาค่า SSE1 : Residual sum of squares
SSE1 = model1.ssr
SSE1

6099066.20738752

In [55]:
MSE1 = SSE1/DF2
MSE1

677674.0230430578

In [56]:
y = table2['y']
x = table2[['x1', 'x2', 'x3']]
x = sm.add_constant(x)
model2 = sm.OLS(y, x).fit()
#print(model.summary())

In [57]:
# หาค่า df กลุ่ม 2
DF2 = model2.df_resid+1
DF2

9.0

In [58]:
# หาค่า SSE2
SSE2 = model2.ssr
SSE2

14121815.301862562

In [59]:
MSE2 = SSE2/DF2
MSE2

1569090.5890958402

In [60]:
GQ_test = MSE2 / MSE1
GQ_test

2.3154061329515416

In [ ]:
#p( x < 2.96688795131543 ) = 0.939554
#p( x > 2.96688795131543 ) = 0.0604458
#p( x < 0.3370535107524457 ) + p( x >2.96688795131543) = 0.120892
#Since p-value > α, H0 is accepted. (0.120892 > 0.05)

In [28]:
# เปรียบเทียบค่าสถิติกับค่าวิกฤต
#if GQ_test >= 3.4381:
  #print('Reject005=0 : Heteroscedasticity')
#else:
  #print('Reject005=1 : Homoscedasticity')