<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/GQtest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv')
df

       no  Replicate   id       j  ...       x3        E        y  Unnamed: 13
0     1.0        1.0  1.0   444.0  ...  37.2578  -297.88     7.54          NaN
1     2.0        1.0  1.0   611.0  ...  23.0795 -1703.41 -1309.72          NaN
2     3.0        1.0  1.0  3145.0  ...  35.5201  1213.77  1668.95          NaN
3     4.0        1.0  1.0  4032.0  ...  21.7985    91.70   305.60          NaN
4     5.0        1.0  1.0  4175.0  ...  43.8453  -403.14   145.76          NaN
...   ...        ...  ...     ...  ...      ...      ...      ...          ...
3145  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3146  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3147  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3148  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3149  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN

[3150 rows x 14 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv', index_col=['Replicate', 'no'])
df

                id       j        a  ...        E        y  Unnamed: 13
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  -297.88     7.54          NaN
          2.0  1.0   611.0  0.56787  ... -1703.41 -1309.72          NaN
          3.0  1.0  3145.0  0.73834  ...  1213.77  1668.95          NaN
          4.0  1.0  4032.0  0.12840  ...    91.70   305.60          NaN
          5.0  1.0  4175.0  0.96315  ...  -403.14   145.76          NaN
...            ...     ...      ...  ...      ...      ...          ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN

[3150 rows x 12 columns]

In [4]:
# การเช็คว่าเจอ missing value หรือไม่ ถ้าไม่มีก็จะขึ้นว่า false คือไม่เจอ
df.isnull()

                  id      j      a      b  ...     x3      E      y  Unnamed: 13
Replicate no                               ...
1.0       1.0  False  False  False  False  ...  False  False  False         True
          2.0  False  False  False  False  ...  False  False  False         True
          3.0  False  False  False  False  ...  False  False  False         True
          4.0  False  False  False  False  ...  False  False  False         True
          5.0  False  False  False  False  ...  False  False  False         True
...              ...    ...    ...    ...  ...    ...    ...    ...          ...
NaN       NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True

[3150 rows x 12 columns]

In [5]:
# ลบ  colum
df.drop(['Unnamed: 13'], axis=1, inplace=True)
df

                id       j        a  ...       x3        E        y
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0  1.0   611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0  1.0  3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0  1.0  4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0  1.0  4175.0  0.96315  ...  43.8453  -403.14   145.76
...            ...     ...      ...  ...      ...      ...      ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN

[3150 rows x 11 columns]

In [6]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [7]:
table.reset_index(inplace=True)
table

      Replicate    no   id        j  ...       x2       x3        E        y
0           1.0   1.0  1.0    444.0  ...  43.4873  37.2578  -297.88     7.54
1           1.0   2.0  1.0    611.0  ...  38.4642  23.0795 -1703.41 -1309.72
2           1.0   3.0  1.0   3145.0  ...  19.3175  35.5201  1213.77  1668.95
3           1.0   4.0  1.0   4032.0  ...  35.7360  21.7985    91.70   305.60
4           1.0   5.0  1.0   4175.0  ...  14.7944  43.8453  -403.14   145.76
...         ...   ...  ...      ...  ...      ...      ...      ...      ...
2995      100.0  26.0  1.0  46183.0  ...  22.2501  10.4640   -53.99   238.96
2996      100.0  27.0  1.0  49111.0  ...  37.9048  26.8103    16.19   348.41
2997      100.0  28.0  1.0  49469.0  ...  36.6570  22.3726   389.88   714.03
2998      100.0  29.0  1.0  49549.0  ...  24.8457  23.0568  -256.29   -59.73
2999      100.0  30.0  1.0  49564.0  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]

In [8]:
table.set_index(['Replicate', 'no'], inplace=True)

In [9]:
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [11]:
# แสดงค่าของ Replicate ที่ 1.0
new_table = table.loc[43]
new_table

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
1.0   1.0   1542.0  0.36893  0.89465  ...  45.7858  14.7600   -65.85   247.27
2.0   1.0   6609.0  0.33038  0.03738  ...  11.4951  45.1483  -981.98  -688.19
3.0   1.0   8499.0  0.44786  0.14919  ...  15.9677  47.3093  -278.14    69.28
4.0   1.0   9288.0  0.71066  0.26655  ...  20.6619  33.6252   396.15   839.70
5.0   1.0  10361.0  0.89597  0.69702  ...  37.8808  28.7078   946.61  1476.58
6.0   1.0  12081.0  0.94070  0.10124  ...  14.0496  16.2110 -1084.43  -572.88
7.0   1.0  14180.0  0.03022  0.61716  ...  34.6864  35.3967   -30.81   156.36
8.0   1.0  16506.0  0.49295  0.81785  ...  42.7138  48.4703  1145.60  1538.96
9.0   1.0  18218.0  0.16433  0.91845  ...  46.7382  33.1000  -515.22  -264.65
10.0  1.0  22407.0  0.36887  0.09837  ...  13.9350  27.6839  -369.16   -74.99
11.0  1.0  26549.0  0.39598  0.18754  ...  17.5018  41.8245   295.44   618.16
12.0  1.0  29871.0  0.64131  0.35063  ...  24.0253  43.8867 -1129.02  -699.58
13.0  1.0  30193.0  0.14503  0.12607  ...  15.0427  22.2823   627.07   827.40
14.0  1.0  34347.0  0.55375  0.94411  ...  47.7643  17.2979 -1060.46  -668.90
15.0  1.0  35158.0  0.28281  0.57623  ...  33.0492  37.9354   366.92   656.03
16.0  1.0  35609.0  0.69008  0.44332  ...  27.7327  16.0450  -843.12  -418.31
17.0  1.0  35826.0  0.57469  0.16661  ...  16.6644  46.6975  1226.50  1624.74
18.0  1.0  37364.0  0.52197  0.62433  ...  34.9732  47.0378  1287.72  1683.52
19.0  1.0  37394.0  0.80548  0.58720  ...  33.4880  33.0964   -46.14   447.64
20.0  1.0  37645.0  0.38938  0.47868  ...  29.1473  45.2651  -470.99  -135.82
21.0  1.0  41581.0  0.54293  0.91143  ...  46.4571  38.9420    76.63   484.21
22.0  1.0  41619.0  0.34936  0.23305  ...  19.3222  24.0367    91.24   379.35
23.0  1.0  42403.0  0.18898  0.23881  ...  19.5525  18.1659  -177.90    40.41
24.0  1.0  44223.0  0.54934  0.48102  ...  29.2407  16.6802  -290.94    79.71
25.0  1.0  44224.0  0.22516  0.62961  ...  35.1844  35.7754   364.33   630.35
26.0  1.0  46931.0  0.12220  0.20857  ...  18.3428  28.2348  -104.46    96.00
27.0  1.0  48419.0  0.40712  0.83582  ...  43.4330  15.4084   318.16   644.85
28.0  1.0  49339.0  0.05047  0.21179  ...  18.4716  25.1625    -0.07   168.75
29.0  1.0  49754.0  0.59248  0.47506  ...  29.0025  32.0049   263.60   666.60
30.0  1.0  49758.0  0.60499  0.06710  ...  12.6841  22.8736  -118.71   263.84

[30 rows x 11 columns]

In [12]:
# เรียง data จากน้อยไปมากตาม x1
new_table_sort = new_table.sort_values('x1')
new_table_sort

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
7.0   1.0  14180.0  0.03022  0.61716  ...  34.6864  35.3967   -30.81   156.36
28.0  1.0  49339.0  0.05047  0.21179  ...  18.4716  25.1625    -0.07   168.75
26.0  1.0  46931.0  0.12220  0.20857  ...  18.3428  28.2348  -104.46    96.00
13.0  1.0  30193.0  0.14503  0.12607  ...  15.0427  22.2823   627.07   827.40
9.0   1.0  18218.0  0.16433  0.91845  ...  46.7382  33.1000  -515.22  -264.65
23.0  1.0  42403.0  0.18898  0.23881  ...  19.5525  18.1659  -177.90    40.41
25.0  1.0  44224.0  0.22516  0.62961  ...  35.1844  35.7754   364.33   630.35
15.0  1.0  35158.0  0.28281  0.57623  ...  33.0492  37.9354   366.92   656.03
2.0   1.0   6609.0  0.33038  0.03738  ...  11.4951  45.1483  -981.98  -688.19
22.0  1.0  41619.0  0.34936  0.23305  ...  19.3222  24.0367    91.24   379.35
10.0  1.0  22407.0  0.36887  0.09837  ...  13.9350  27.6839  -369.16   -74.99
1.0   1.0   1542.0  0.36893  0.89465  ...  45.7858  14.7600   -65.85   247.27
20.0  1.0  37645.0  0.38938  0.47868  ...  29.1473  45.2651  -470.99  -135.82
11.0  1.0  26549.0  0.39598  0.18754  ...  17.5018  41.8245   295.44   618.16
27.0  1.0  48419.0  0.40712  0.83582  ...  43.4330  15.4084   318.16   644.85
3.0   1.0   8499.0  0.44786  0.14919  ...  15.9677  47.3093  -278.14    69.28
8.0   1.0  16506.0  0.49295  0.81785  ...  42.7138  48.4703  1145.60  1538.96
18.0  1.0  37364.0  0.52197  0.62433  ...  34.9732  47.0378  1287.72  1683.52
21.0  1.0  41581.0  0.54293  0.91143  ...  46.4571  38.9420    76.63   484.21
24.0  1.0  44223.0  0.54934  0.48102  ...  29.2407  16.6802  -290.94    79.71
14.0  1.0  34347.0  0.55375  0.94411  ...  47.7643  17.2979 -1060.46  -668.90
17.0  1.0  35826.0  0.57469  0.16661  ...  16.6644  46.6975  1226.50  1624.74
29.0  1.0  49754.0  0.59248  0.47506  ...  29.0025  32.0049   263.60   666.60
30.0  1.0  49758.0  0.60499  0.06710  ...  12.6841  22.8736  -118.71   263.84
12.0  1.0  29871.0  0.64131  0.35063  ...  24.0253  43.8867 -1129.02  -699.58
16.0  1.0  35609.0  0.69008  0.44332  ...  27.7327  16.0450  -843.12  -418.31
4.0   1.0   9288.0  0.71066  0.26655  ...  20.6619  33.6252   396.15   839.70
19.0  1.0  37394.0  0.80548  0.58720  ...  33.4880  33.0964   -46.14   447.64
5.0   1.0  10361.0  0.89597  0.69702  ...  37.8808  28.7078   946.61  1476.58
6.0   1.0  12081.0  0.94070  0.10124  ...  14.0496  16.2110 -1084.43  -572.88

[30 rows x 11 columns]

In [13]:
new_table_sort.reset_index(inplace=True)
new_table_sort

      no   id        j        a  ...       x2       x3        E        y
0    7.0  1.0  14180.0  0.03022  ...  34.6864  35.3967   -30.81   156.36
1   28.0  1.0  49339.0  0.05047  ...  18.4716  25.1625    -0.07   168.75
2   26.0  1.0  46931.0  0.12220  ...  18.3428  28.2348  -104.46    96.00
3   13.0  1.0  30193.0  0.14503  ...  15.0427  22.2823   627.07   827.40
4    9.0  1.0  18218.0  0.16433  ...  46.7382  33.1000  -515.22  -264.65
5   23.0  1.0  42403.0  0.18898  ...  19.5525  18.1659  -177.90    40.41
6   25.0  1.0  44224.0  0.22516  ...  35.1844  35.7754   364.33   630.35
7   15.0  1.0  35158.0  0.28281  ...  33.0492  37.9354   366.92   656.03
8    2.0  1.0   6609.0  0.33038  ...  11.4951  45.1483  -981.98  -688.19
9   22.0  1.0  41619.0  0.34936  ...  19.3222  24.0367    91.24   379.35
10  10.0  1.0  22407.0  0.36887  ...  13.9350  27.6839  -369.16   -74.99
11   1.0  1.0   1542.0  0.36893  ...  45.7858  14.7600   -65.85   247.27
12  20.0  1.0  37645.0  0.38938  ...  29.1473  45.2651  -470.99  -135.82
13  11.0  1.0  26549.0  0.39598  ...  17.5018  41.8245   295.44   618.16
14  27.0  1.0  48419.0  0.40712  ...  43.4330  15.4084   318.16   644.85
15   3.0  1.0   8499.0  0.44786  ...  15.9677  47.3093  -278.14    69.28
16   8.0  1.0  16506.0  0.49295  ...  42.7138  48.4703  1145.60  1538.96
17  18.0  1.0  37364.0  0.52197  ...  34.9732  47.0378  1287.72  1683.52
18  21.0  1.0  41581.0  0.54293  ...  46.4571  38.9420    76.63   484.21
19  24.0  1.0  44223.0  0.54934  ...  29.2407  16.6802  -290.94    79.71
20  14.0  1.0  34347.0  0.55375  ...  47.7643  17.2979 -1060.46  -668.90
21  17.0  1.0  35826.0  0.57469  ...  16.6644  46.6975  1226.50  1624.74
22  29.0  1.0  49754.0  0.59248  ...  29.0025  32.0049   263.60   666.60
23  30.0  1.0  49758.0  0.60499  ...  12.6841  22.8736  -118.71   263.84
24  12.0  1.0  29871.0  0.64131  ...  24.0253  43.8867 -1129.02  -699.58
25  16.0  1.0  35609.0  0.69008  ...  27.7327  16.0450  -843.12  -418.31
26   4.0  1.0   9288.0  0.71066  ...  20.6619  33.6252   396.15   839.70
27  19.0  1.0  37394.0  0.80548  ...  33.4880  33.0964   -46.14   447.64
28   5.0  1.0  10361.0  0.89597  ...  37.8808  28.7078   946.61  1476.58
29   6.0  1.0  12081.0  0.94070  ...  14.0496  16.2110 -1084.43  -572.88

[30 rows x 12 columns]

In [14]:
new_table_sort.drop(['no', 'id', 'j', 'a', 'b', 'c', 'z', 'E'], axis=1, inplace=True)
new_table_sort

         x1       x2       x3        y
0   11.2089  34.6864  35.3967   156.36
1   12.0188  18.4716  25.1625   168.75
2   14.8880  18.3428  28.2348    96.00
3   15.8014  15.0427  22.2823   827.40
4   16.5733  46.7382  33.1000  -264.65
5   17.5592  19.5525  18.1659    40.41
6   19.0064  35.1844  35.7754   630.35
7   21.3125  33.0492  37.9354   656.03
8   23.2152  11.4951  45.1483  -688.19
9   23.9744  19.3222  24.0367   379.35
10  24.7550  13.9350  27.6839   -74.99
11  24.7571  45.7858  14.7600   247.27
12  25.5753  29.1473  45.2651  -135.82
13  25.8394  17.5018  41.8245   618.16
14  26.2847  43.4330  15.4084   644.85
15  27.9144  15.9677  47.3093    69.28
16  29.7181  42.7138  48.4703  1538.96
17  30.8786  34.9732  47.0378  1683.52
18  31.7173  46.4571  38.9420   484.21
19  31.9736  29.2407  16.6802    79.71
20  32.1501  47.7643  17.2979  -668.90
21  32.9876  16.6644  46.6975  1624.74
22  33.6991  29.0025  32.0049   666.60
23  34.1996  12.6841  22.8736   263.84
24  35.6525  24.0253  43.8867  -699.58
25  37.6032  27.7327  16.0450  -418.31
26  38.4263  20.6619  33.6252   839.70
27  42.2192  33.4880  33.0964   447.64
28  45.8388  37.8808  28.7078  1476.58
29  47.6281  14.0496  16.2110  -572.88

In [15]:
# แบ่งข้อมูลกลุ่มที่ 1
#table1 = new_table_sort.iloc[:12 , :]
#table1

table1 = new_table_sort.iloc[:int(0.4*new_table_sort.shape[0]) , :]
table1

         x1       x2       x3       y
0   11.2089  34.6864  35.3967  156.36
1   12.0188  18.4716  25.1625  168.75
2   14.8880  18.3428  28.2348   96.00
3   15.8014  15.0427  22.2823  827.40
4   16.5733  46.7382  33.1000 -264.65
5   17.5592  19.5525  18.1659   40.41
6   19.0064  35.1844  35.7754  630.35
7   21.3125  33.0492  37.9354  656.03
8   23.2152  11.4951  45.1483 -688.19
9   23.9744  19.3222  24.0367  379.35
10  24.7550  13.9350  27.6839  -74.99
11  24.7571  45.7858  14.7600  247.27

In [22]:
table2 = new_table_sort.iloc[int((1-0.4)*new_table_sort.shape[0]): , :]
table2

         x1       x2       x3        y
18  31.7173  46.4571  38.9420   484.21
19  31.9736  29.2407  16.6802    79.71
20  32.1501  47.7643  17.2979  -668.90
21  32.9876  16.6644  46.6975  1624.74
22  33.6991  29.0025  32.0049   666.60
23  34.1996  12.6841  22.8736   263.84
24  35.6525  24.0253  43.8867  -699.58
25  37.6032  27.7327  16.0450  -418.31
26  38.4263  20.6619  33.6252   839.70
27  42.2192  33.4880  33.0964   447.64
28  45.8388  37.8808  28.7078  1476.58
29  47.6281  14.0496  16.2110  -572.88

In [16]:
# define respones variable
y = table1['y']

# define predictor variable
x = table1[['x1', 'x2', 'x3']]

# add constant to predictor variable
x = sm.add_constant(x)

# fit linear regression model
model1 = sm.OLS(y, x).fit()

# view model summary
# print(model.summary())

In [18]:
# หาค่า df กลุ่ม 1
DF1 = model1.df_resid+1
DF1

9.0

In [19]:
# หาค่า SSE1 : Residual sum of squares
SSE1 = model1.ssr
SSE1

1665505.589593563

In [20]:
MSE1 = model1.mse_resid
MSE1

208188.19869919537

In [23]:
y = table2['y']
x = table2[['x1', 'x2', 'x3']]
x = sm.add_constant(x)
model2 = sm.OLS(y, x).fit()
#print(model.summary())

In [24]:
# หาค่า df กลุ่ม 2
DF2 = model2.df_resid+1
DF2

9.0

In [25]:
# หาค่า SSE2
SSE2 = model2.ssr
SSE2

4941368.466613643

In [26]:
MSE2 = model2.mse_resid
MSE2

617671.0583267054

In [27]:
GQ_test = MSE2 / MSE1
GQ_test

2.96688795131543

In [ ]:
#p( x < 2.96688795131543 ) = 0.939554
#p( x > 2.96688795131543 ) = 0.0604458
#p( x < 0.3370535107524457 ) + p( x >2.96688795131543) = 0.120892
#Since p-value > α, H0 is accepted. (0.120892 > 0.05)

In [28]:
# เปรียบเทียบค่าสถิติกับค่าวิกฤต
#if GQ_test >= 3.4381:
  #print('Reject005=0 : Heteroscedasticity')
#else:
  #print('Reject005=1 : Homoscedasticity')