<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/GQtest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv')
df

       no  Replicate   id       j  ...       x3        E        y  Unnamed: 13
0     1.0        1.0  1.0   444.0  ...  37.2578  -297.88     7.54          NaN
1     2.0        1.0  1.0   611.0  ...  23.0795 -1703.41 -1309.72          NaN
2     3.0        1.0  1.0  3145.0  ...  35.5201  1213.77  1668.95          NaN
3     4.0        1.0  1.0  4032.0  ...  21.7985    91.70   305.60          NaN
4     5.0        1.0  1.0  4175.0  ...  43.8453  -403.14   145.76          NaN
...   ...        ...  ...     ...  ...      ...      ...      ...          ...
3145  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3146  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3147  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3148  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN
3149  NaN        NaN  NaN     NaN  ...      NaN      NaN      NaN          NaN

[3150 rows x 14 columns]

In [3]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/gen_SAS.csv', index_col=['Replicate', 'no'])
df

                id       j        a  ...        E        y  Unnamed: 13
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  -297.88     7.54          NaN
          2.0  1.0   611.0  0.56787  ... -1703.41 -1309.72          NaN
          3.0  1.0  3145.0  0.73834  ...  1213.77  1668.95          NaN
          4.0  1.0  4032.0  0.12840  ...    91.70   305.60          NaN
          5.0  1.0  4175.0  0.96315  ...  -403.14   145.76          NaN
...            ...     ...      ...  ...      ...      ...          ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN          NaN

[3150 rows x 12 columns]

In [4]:
# การเช็คว่าเจอ missing value หรือไม่ ถ้าไม่มีก็จะขึ้นว่า false คือไม่เจอ
df.isnull()

                  id      j      a      b  ...     x3      E      y  Unnamed: 13
Replicate no                               ...
1.0       1.0  False  False  False  False  ...  False  False  False         True
          2.0  False  False  False  False  ...  False  False  False         True
          3.0  False  False  False  False  ...  False  False  False         True
          4.0  False  False  False  False  ...  False  False  False         True
          5.0  False  False  False  False  ...  False  False  False         True
...              ...    ...    ...    ...  ...    ...    ...    ...          ...
NaN       NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True
          NaN   True   True   True   True  ...   True   True   True         True

[3150 rows x 12 columns]

In [5]:
# ลบ  colum
df.drop(['Unnamed: 13'], axis=1, inplace=True)
df

                id       j        a  ...       x3        E        y
Replicate no                         ...
1.0       1.0  1.0   444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0  1.0   611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0  1.0  3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0  1.0  4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0  1.0  4175.0  0.96315  ...  43.8453  -403.14   145.76
...            ...     ...      ...  ...      ...      ...      ...
NaN       NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN
          NaN  NaN     NaN      NaN  ...      NaN      NaN      NaN

[3150 rows x 11 columns]

In [6]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [7]:
table.reset_index(inplace=True)
table

      Replicate    no   id        j  ...       x2       x3        E        y
0           1.0   1.0  1.0    444.0  ...  43.4873  37.2578  -297.88     7.54
1           1.0   2.0  1.0    611.0  ...  38.4642  23.0795 -1703.41 -1309.72
2           1.0   3.0  1.0   3145.0  ...  19.3175  35.5201  1213.77  1668.95
3           1.0   4.0  1.0   4032.0  ...  35.7360  21.7985    91.70   305.60
4           1.0   5.0  1.0   4175.0  ...  14.7944  43.8453  -403.14   145.76
...         ...   ...  ...      ...  ...      ...      ...      ...      ...
2995      100.0  26.0  1.0  46183.0  ...  22.2501  10.4640   -53.99   238.96
2996      100.0  27.0  1.0  49111.0  ...  37.9048  26.8103    16.19   348.41
2997      100.0  28.0  1.0  49469.0  ...  36.6570  22.3726   389.88   714.03
2998      100.0  29.0  1.0  49549.0  ...  24.8457  23.0568  -256.29   -59.73
2999      100.0  30.0  1.0  49564.0  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]

In [8]:
table.set_index(['Replicate', 'no'], inplace=True)

In [9]:
table

                 id        j        a  ...       x3        E        y
Replicate no                           ...
1.0       1.0   1.0    444.0  0.29919  ...  37.2578  -297.88     7.54
          2.0   1.0    611.0  0.56787  ...  23.0795 -1703.41 -1309.72
          3.0   1.0   3145.0  0.73834  ...  35.5201  1213.77  1668.95
          4.0   1.0   4032.0  0.12840  ...  21.7985    91.70   305.60
          5.0   1.0   4175.0  0.96315  ...  43.8453  -403.14   145.76
...             ...      ...      ...  ...      ...      ...      ...
100.0     26.0  1.0  46183.0  0.38808  ...  10.4640   -53.99   238.96
          27.0  1.0  49111.0  0.40628  ...  26.8103    16.19   348.41
          28.0  1.0  49469.0  0.40030  ...  22.3726   389.88   714.03
          29.0  1.0  49549.0  0.10914  ...  23.0568  -256.29   -59.73
          30.0  1.0  49564.0  0.98557  ...  49.0006 -2606.61 -2008.68

[3000 rows x 11 columns]

In [29]:
# แสดงค่าของ Replicate ที่ 1.0
new_table = table.loc[59]
new_table

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
1.0   1.0    470.0  0.17349  0.05431  ...  12.1723  28.5239  -361.34  -146.25
2.0   1.0   3698.0  0.89790  0.78896  ...  41.5585  21.3796  1958.83  2485.93
3.0   1.0   4922.0  0.87538  0.64279  ...  35.7118  36.0349  2030.36  2557.25
4.0   1.0   5805.0  0.73150  0.00811  ...  10.3244  49.0431  -329.11   127.85
5.0   1.0   7660.0  0.32102  0.45589  ...  28.2355  45.6820  -299.79     7.54
6.0   1.0   9573.0  0.33430  0.55260  ...  32.1040  20.0253   630.53   921.38
7.0   1.0   9703.0  0.76245  0.65874  ...  36.3495  39.0000 -1437.18  -951.85
8.0   1.0  10235.0  0.46382  0.44551  ...  27.8204  44.7290 -2148.24 -1785.16
9.0   1.0  10884.0  0.59539  0.95665  ...  48.2659  11.0979  1816.10  2218.62
10.0  1.0  12255.0  0.70615  0.05806  ...  12.3222  40.3969  2546.18  2986.36
11.0  1.0  16220.0  0.35710  0.16447  ...  16.5787  49.8845   115.13   429.43
12.0  1.0  19518.0  0.66924  0.46214  ...  28.4855  27.1699 -1494.85 -1066.50
13.0  1.0  20966.0  0.75141  0.14861  ...  15.9445  27.8526   -58.32   391.04
14.0  1.0  23373.0  0.20797  0.69616  ...  37.8465  47.4043   -66.27   207.17
15.0  1.0  25774.0  0.46859  0.96759  ...  48.7036  43.7214  -299.30    85.56
16.0  1.0  28108.0  0.70319  0.00147  ...  10.0589  37.8342  -319.91   114.26
17.0  1.0  30218.0  0.96933  0.97112  ...  48.8448  14.8717  1471.96  2028.41
18.0  1.0  30810.0  0.14106  0.49266  ...  29.7064  19.2271   269.87   480.23
19.0  1.0  33458.0  0.26284  0.81039  ...  42.4155  19.2245   100.52   372.30
20.0  1.0  36516.0  0.69916  0.38378  ...  25.3512  23.7845  1211.63  1645.42
21.0  1.0  36722.0  0.93899  0.99922  ...  49.9689  44.3869  3720.14  4295.09
22.0  1.0  37007.0  0.41406  0.67287  ...  36.9149  39.6907  -517.31  -170.08
23.0  1.0  37251.0  0.46171  0.08731  ...  13.4924  23.4920  1071.44  1398.10
24.0  1.0  37600.0  0.93985  0.94413  ...  47.7651  25.1644   614.56  1168.43
25.0  1.0  41776.0  0.13709  0.32957  ...  23.1827  15.7633   346.90   545.68
26.0  1.0  43960.0  0.51164  0.76086  ...  40.4342  36.5180   931.25  1317.86
27.0  1.0  44779.0  0.41536  0.00532  ...  10.2129  14.9483 -1550.99 -1254.68
28.0  1.0  44981.0  0.28049  0.02800  ...  11.1202  11.7384   335.73   575.79
29.0  1.0  47834.0  0.81996  0.97511  ...  49.0043  29.9707  -690.56  -178.60
30.0  1.0  47844.0  0.81096  0.96284  ...  48.5136  47.7260  1356.78  1882.41

[30 rows x 11 columns]

In [30]:
# เรียง data จากน้อยไปมากตาม x1
new_table_sort = new_table.sort_values('x1')
new_table_sort

       id        j        a        b  ...       x2       x3        E        y
no                                    ...
25.0  1.0  41776.0  0.13709  0.32957  ...  23.1827  15.7633   346.90   545.68
18.0  1.0  30810.0  0.14106  0.49266  ...  29.7064  19.2271   269.87   480.23
1.0   1.0    470.0  0.17349  0.05431  ...  12.1723  28.5239  -361.34  -146.25
14.0  1.0  23373.0  0.20797  0.69616  ...  37.8465  47.4043   -66.27   207.17
19.0  1.0  33458.0  0.26284  0.81039  ...  42.4155  19.2245   100.52   372.30
28.0  1.0  44981.0  0.28049  0.02800  ...  11.1202  11.7384   335.73   575.79
5.0   1.0   7660.0  0.32102  0.45589  ...  28.2355  45.6820  -299.79     7.54
6.0   1.0   9573.0  0.33430  0.55260  ...  32.1040  20.0253   630.53   921.38
11.0  1.0  16220.0  0.35710  0.16447  ...  16.5787  49.8845   115.13   429.43
22.0  1.0  37007.0  0.41406  0.67287  ...  36.9149  39.6907  -517.31  -170.08
27.0  1.0  44779.0  0.41536  0.00532  ...  10.2129  14.9483 -1550.99 -1254.68
23.0  1.0  37251.0  0.46171  0.08731  ...  13.4924  23.4920  1071.44  1398.10
8.0   1.0  10235.0  0.46382  0.44551  ...  27.8204  44.7290 -2148.24 -1785.16
15.0  1.0  25774.0  0.46859  0.96759  ...  48.7036  43.7214  -299.30    85.56
26.0  1.0  43960.0  0.51164  0.76086  ...  40.4342  36.5180   931.25  1317.86
9.0   1.0  10884.0  0.59539  0.95665  ...  48.2659  11.0979  1816.10  2218.62
12.0  1.0  19518.0  0.66924  0.46214  ...  28.4855  27.1699 -1494.85 -1066.50
20.0  1.0  36516.0  0.69916  0.38378  ...  25.3512  23.7845  1211.63  1645.42
16.0  1.0  28108.0  0.70319  0.00147  ...  10.0589  37.8342  -319.91   114.26
10.0  1.0  12255.0  0.70615  0.05806  ...  12.3222  40.3969  2546.18  2986.36
4.0   1.0   5805.0  0.73150  0.00811  ...  10.3244  49.0431  -329.11   127.85
13.0  1.0  20966.0  0.75141  0.14861  ...  15.9445  27.8526   -58.32   391.04
7.0   1.0   9703.0  0.76245  0.65874  ...  36.3495  39.0000 -1437.18  -951.85
30.0  1.0  47844.0  0.81096  0.96284  ...  48.5136  47.7260  1356.78  1882.41
29.0  1.0  47834.0  0.81996  0.97511  ...  49.0043  29.9707  -690.56  -178.60
3.0   1.0   4922.0  0.87538  0.64279  ...  35.7118  36.0349  2030.36  2557.25
2.0   1.0   3698.0  0.89790  0.78896  ...  41.5585  21.3796  1958.83  2485.93
21.0  1.0  36722.0  0.93899  0.99922  ...  49.9689  44.3869  3720.14  4295.09
24.0  1.0  37600.0  0.93985  0.94413  ...  47.7651  25.1644   614.56  1168.43
17.0  1.0  30218.0  0.96933  0.97112  ...  48.8448  14.8717  1471.96  2028.41

[30 rows x 11 columns]

In [31]:
new_table_sort.reset_index(inplace=True)
new_table_sort

      no   id        j        a  ...       x2       x3        E        y
0   25.0  1.0  41776.0  0.13709  ...  23.1827  15.7633   346.90   545.68
1   18.0  1.0  30810.0  0.14106  ...  29.7064  19.2271   269.87   480.23
2    1.0  1.0    470.0  0.17349  ...  12.1723  28.5239  -361.34  -146.25
3   14.0  1.0  23373.0  0.20797  ...  37.8465  47.4043   -66.27   207.17
4   19.0  1.0  33458.0  0.26284  ...  42.4155  19.2245   100.52   372.30
5   28.0  1.0  44981.0  0.28049  ...  11.1202  11.7384   335.73   575.79
6    5.0  1.0   7660.0  0.32102  ...  28.2355  45.6820  -299.79     7.54
7    6.0  1.0   9573.0  0.33430  ...  32.1040  20.0253   630.53   921.38
8   11.0  1.0  16220.0  0.35710  ...  16.5787  49.8845   115.13   429.43
9   22.0  1.0  37007.0  0.41406  ...  36.9149  39.6907  -517.31  -170.08
10  27.0  1.0  44779.0  0.41536  ...  10.2129  14.9483 -1550.99 -1254.68
11  23.0  1.0  37251.0  0.46171  ...  13.4924  23.4920  1071.44  1398.10
12   8.0  1.0  10235.0  0.46382  ...  27.8204  44.7290 -2148.24 -1785.16
13  15.0  1.0  25774.0  0.46859  ...  48.7036  43.7214  -299.30    85.56
14  26.0  1.0  43960.0  0.51164  ...  40.4342  36.5180   931.25  1317.86
15   9.0  1.0  10884.0  0.59539  ...  48.2659  11.0979  1816.10  2218.62
16  12.0  1.0  19518.0  0.66924  ...  28.4855  27.1699 -1494.85 -1066.50
17  20.0  1.0  36516.0  0.69916  ...  25.3512  23.7845  1211.63  1645.42
18  16.0  1.0  28108.0  0.70319  ...  10.0589  37.8342  -319.91   114.26
19  10.0  1.0  12255.0  0.70615  ...  12.3222  40.3969  2546.18  2986.36
20   4.0  1.0   5805.0  0.73150  ...  10.3244  49.0431  -329.11   127.85
21  13.0  1.0  20966.0  0.75141  ...  15.9445  27.8526   -58.32   391.04
22   7.0  1.0   9703.0  0.76245  ...  36.3495  39.0000 -1437.18  -951.85
23  30.0  1.0  47844.0  0.81096  ...  48.5136  47.7260  1356.78  1882.41
24  29.0  1.0  47834.0  0.81996  ...  49.0043  29.9707  -690.56  -178.60
25   3.0  1.0   4922.0  0.87538  ...  35.7118  36.0349  2030.36  2557.25
26   2.0  1.0   3698.0  0.89790  ...  41.5585  21.3796  1958.83  2485.93
27  21.0  1.0  36722.0  0.93899  ...  49.9689  44.3869  3720.14  4295.09
28  24.0  1.0  37600.0  0.93985  ...  47.7651  25.1644   614.56  1168.43
29  17.0  1.0  30218.0  0.96933  ...  48.8448  14.8717  1471.96  2028.41

[30 rows x 12 columns]

In [32]:
new_table_sort.drop(['no', 'id', 'j', 'a', 'b', 'c', 'z', 'E'], axis=1, inplace=True)
new_table_sort

         x1       x2       x3        y
0   15.4837  23.1827  15.7633   545.68
1   15.6424  29.7064  19.2271   480.23
2   16.9395  12.1723  28.5239  -146.25
3   18.3188  37.8465  47.4043   207.17
4   20.5135  42.4155  19.2245   372.30
5   21.2197  11.1202  11.7384   575.79
6   22.8410  28.2355  45.6820     7.54
7   23.3721  32.1040  20.0253   921.38
8   24.2842  16.5787  49.8845   429.43
9   26.5625  36.9149  39.6907  -170.08
10  26.6142  10.2129  14.9483 -1254.68
11  28.4682  13.4924  23.4920  1398.10
12  28.5529  27.8204  44.7290 -1785.16
13  28.7436  48.7036  43.7214    85.56
14  30.4655  40.4342  36.5180  1317.86
15  33.8155  48.2659  11.0979  2218.62
16  36.7697  28.4855  27.1699 -1066.50
17  37.9662  25.3512  23.7845  1645.42
18  38.1277  10.0589  37.8342   114.26
19  38.2461  12.3222  40.3969  2986.36
20  39.2598  10.3244  49.0431   127.85
21  40.0563  15.9445  27.8526   391.04
22  40.4980  36.3495  39.0000  -951.85
23  42.4383  48.5136  47.7260  1882.41
24  42.7983  49.0043  29.9707  -178.60
25  45.0153  35.7118  36.0349  2557.25
26  45.9162  41.5585  21.3796  2485.93
27  47.5595  49.9689  44.3869  4295.09
28  47.5940  47.7651  25.1644  1168.43
29  48.7731  48.8448  14.8717  2028.41

In [33]:
# แบ่งข้อมูลกลุ่มที่ 1
#table1 = new_table_sort.iloc[:12 , :]
#table1

table1 = new_table_sort.iloc[:int(0.4*new_table_sort.shape[0]) , :]
table1

         x1       x2       x3        y
0   15.4837  23.1827  15.7633   545.68
1   15.6424  29.7064  19.2271   480.23
2   16.9395  12.1723  28.5239  -146.25
3   18.3188  37.8465  47.4043   207.17
4   20.5135  42.4155  19.2245   372.30
5   21.2197  11.1202  11.7384   575.79
6   22.8410  28.2355  45.6820     7.54
7   23.3721  32.1040  20.0253   921.38
8   24.2842  16.5787  49.8845   429.43
9   26.5625  36.9149  39.6907  -170.08
10  26.6142  10.2129  14.9483 -1254.68
11  28.4682  13.4924  23.4920  1398.10

In [34]:
table2 = new_table_sort.iloc[int((1-0.4)*new_table_sort.shape[0]): , :]
table2

         x1       x2       x3        y
18  38.1277  10.0589  37.8342   114.26
19  38.2461  12.3222  40.3969  2986.36
20  39.2598  10.3244  49.0431   127.85
21  40.0563  15.9445  27.8526   391.04
22  40.4980  36.3495  39.0000  -951.85
23  42.4383  48.5136  47.7260  1882.41
24  42.7983  49.0043  29.9707  -178.60
25  45.0153  35.7118  36.0349  2557.25
26  45.9162  41.5585  21.3796  2485.93
27  47.5595  49.9689  44.3869  4295.09
28  47.5940  47.7651  25.1644  1168.43
29  48.7731  48.8448  14.8717  2028.41

In [35]:
# define respones variable
y = table1['y']

# define predictor variable
x = table1[['x1', 'x2', 'x3']]

# add constant to predictor variable
x = sm.add_constant(x)

# fit linear regression model
model1 = sm.OLS(y, x).fit()

# view model summary
# print(model.summary())

In [36]:
# หาค่า df กลุ่ม 1
DF1 = model1.df_resid+1
DF1

9.0

In [37]:
# หาค่า SSE1 : Residual sum of squares
SSE1 = model1.ssr
SSE1

4571632.895031789

In [39]:
MSE1 = SSE1/DF2
MSE1

507959.2105590877

In [40]:
y = table2['y']
x = table2[['x1', 'x2', 'x3']]
x = sm.add_constant(x)
model2 = sm.OLS(y, x).fit()
#print(model.summary())

In [41]:
# หาค่า df กลุ่ม 2
DF2 = model2.df_resid+1
DF2

9.0

In [42]:
# หาค่า SSE2
SSE2 = model2.ssr
SSE2

13686518.963311562

In [44]:
MSE2 = SSE2/DF2
MSE2

1520724.3292568403

In [45]:
GQ_test = MSE2 / MSE1
GQ_test

2.9937922133217114

In [ ]:
#p( x < 2.96688795131543 ) = 0.939554
#p( x > 2.96688795131543 ) = 0.0604458
#p( x < 0.3370535107524457 ) + p( x >2.96688795131543) = 0.120892
#Since p-value > α, H0 is accepted. (0.120892 > 0.05)

In [28]:
# เปรียบเทียบค่าสถิติกับค่าวิกฤต
#if GQ_test >= 3.4381:
  #print('Reject005=0 : Heteroscedasticity')
#else:
  #print('Reject005=1 : Homoscedasticity')