<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/GQtest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import os

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
base_path = '/content/drive/My Drive/Research'

In [6]:
os.listdir(base_path)

['gen_SAS.xlsx', 'gen_SAS.csv']

In [9]:
file_path = os.path.join(base_path, 'gen_SAS.xlsx')
pd.read_excel(file_path)

       Obs  Replicate  id      j  ...       x2       x3        E        y
0        1          1   1    444  ...  43.4873  37.2578  -297.88     7.54
1        2          1   1    611  ...  38.4642  23.0795 -1703.41 -1309.72
2        3          1   1   3145  ...  19.3175  35.5201  1213.77  1668.95
3        4          1   1   4032  ...  35.7360  21.7985    91.70   305.60
4        5          1   1   4175  ...  14.7944  43.8453  -403.14   145.76
...    ...        ...  ..    ...  ...      ...      ...      ...      ...
2995  2996        100   1  46183  ...  22.2501  10.4640   -53.99   238.96
2996  2997        100   1  49111  ...  37.9048  26.8103    16.19   348.41
2997  2998        100   1  49469  ...  36.6570  22.3726   389.88   714.03
2998  2999        100   1  49549  ...  24.8457  23.0568  -256.29   -59.73
2999  3000        100   1  49564  ...  49.7059  49.0006 -2606.61 -2008.68

[3000 rows x 13 columns]