<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/simulation_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [ ]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [3]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome
data = pd.DataFrame({"a" : np.random.uniform(low=10, high=50, size=5000),
                     "b" : np.random.uniform(low=10, high=50, size=5000),
                     "c" : np.random.uniform(low=10, high=50, size=5000)
                     })
data

              a          b          c
0     36.298263  15.765654  34.263440
1     40.103228  25.364246  28.428567
2     17.437192  30.743336  16.375205
3     32.484667  15.826028  28.701370
4     36.835322  42.327159  22.524724
...         ...        ...        ...
4995  18.870329  20.921120  17.569993
4996  19.238416  25.148615  31.291385
4997  14.219168  22.874840  43.206699
4998  47.743325  46.494312  45.551407
4999  47.910573  47.267442  24.124489

[5000 rows x 3 columns]

In [4]:
# Importing required libraries
 
#import numpy as np
#import matplotlib.pyplot as plt
 
# Creating a series of data of in range of 1-50.
#x = np.linspace(1,50,200)
 
#Creating a Function.
#def normal_dist(x , mean , sd):
    #prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    #return prob_density
 
#Calculate mean and Standard deviation.
#mean = np.mean(x)
#sd = np.std(x)
 
#Apply function to the data.
#pdf = normal_dist(x,mean,sd)
#pdf