<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/simulation_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [ ]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [54]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome
data = pd.DataFrame({"x1" : np.random.uniform(low=10, high=50, size=5000),
                     "x2" : np.random.uniform(low=10, high=50, size=5000),
                     "x3" : np.random.uniform(low=10, high=50, size=5000),
                     "e"  : np.random.normal(0, (np.sqrt(x1**4)), 5000)
                     })
data

             x1         x2         x3             e
0     10.377537  35.675893  17.309602 -3.109997e+06
1     15.709106  15.803139  19.185821 -2.449279e+04
2     26.397590  38.984325  38.449232  3.835158e+03
3     25.627778  19.372472  37.798668  3.501618e+06
4     21.473211  47.669183  34.812262  1.058194e+05
...         ...        ...        ...           ...
4995  42.053480  10.807490  48.502923  3.499146e+06
4996  14.133246  12.082107  18.719840  4.060747e+05
4997  43.237994  15.113053  27.256043 -1.661716e+05
4998  10.277563  20.395297  19.925426  2.684977e+06
4999  21.504051  11.057802  39.963015 -5.338702e+06

[5000 rows x 4 columns]

In [55]:
#X1 = data['x1']
#X1 = np.sqrt(x**4)
#X1

In [56]:
table_data = pd.DataFrame({"x1" : np.random.uniform(low=10, high=50, size=5000),
                     "x2" : np.random.uniform(low=10, high=50, size=5000),
                     "x3" : np.random.uniform(low=10, high=50, size=5000),
                     "e"  : np.random.normal(0, X1, 5000)
                     })
table_data

             x1         x2         x3            e
0     45.187250  29.292693  35.760327   631.148883
1     41.008594  13.655251  35.826785  -560.566486
2     26.004980  24.655325  23.974211    49.321464
3     49.490864  47.880735  11.344841  3025.150960
4     15.026811  44.163271  44.849180  -297.195448
...         ...        ...        ...          ...
4995  37.532190  47.389680  42.931974  3110.431435
4996  16.755644  22.797763  10.416034  1012.322626
4997  29.558005  37.277947  20.671731   -76.387595
4998  17.277353  14.230620  25.934241   956.730872
4999  35.528914  41.564994  33.096842  2233.810529

[5000 rows x 4 columns]

In [ ]:
# Importing required libraries
 
#import numpy as np
#import matplotlib.pyplot as plt
 
# Creating a series of data of in range of 1-50.
#x = np.linspace(1,50,200)
 
#Creating a Function.
#def normal_dist(x , mean , sd):
    #prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    #return prob_density
 
#Calculate mean and Standard deviation.
#mean = np.mean(x)
#sd = np.std(x)
 
#Apply function to the data.
#pdf = normal_dist(x,mean,sd)
#pdf