<a href="https://colab.research.google.com/github/iam-fern/Research/blob/main/simulation_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#np.random.seed(1)
#df = pd.DataFrame(columns=["a", "b", "c", "z", "x1", "x2", "x3", "y"])

In [2]:
# random.uniform(a, b)
# Syntax : numpy.random.uniform(low=0.0, high=1.0, size=None)
# a : Required. A number specifying the lowest possible outcome
# b : Required. A number specifying the highest possible outcome
data = pd.DataFrame({"a" : np.random.uniform(low=10, high=50, size=29),
                     "b" : np.random.uniform(low=10, high=50, size=5000),
                     "c" : np.random.uniform(low=10, high=50, size=5000)
                     })
data

              a          b          c
0     12.096838  15.243716  20.289023
1     37.600511  33.742243  31.143018
2     26.965635  48.288140  13.497257
3     22.418102  23.041477  48.611330
4     12.893369  31.676252  14.007428
...         ...        ...        ...
4995  43.288988  39.241930  29.883190
4996  21.095754  22.112082  23.158831
4997  39.316169  46.151115  41.634064
4998  20.508104  21.344368  35.583967
4999  25.560168  41.072053  49.963107

[5000 rows x 3 columns]

In [ ]:
# Importing required libraries
 
#import numpy as np
#import matplotlib.pyplot as plt
 
# Creating a series of data of in range of 1-50.
#x = np.linspace(1,50,200)
 
#Creating a Function.
#def normal_dist(x , mean , sd):
    #prob_density = (np.pi*sd) * np.exp(-0.5*((x-mean)/sd)**2)
    #return prob_density
 
#Calculate mean and Standard deviation.
#mean = np.mean(x)
#sd = np.std(x)
 
#Apply function to the data.
#pdf = normal_dist(x,mean,sd)
#pdf